/* @import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"); */
* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat','Roboto', 'Inter', sans-serif;

}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    min-width: 400px;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

main{
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    -webkit-scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent; 
}
header{
    scroll-snap-align: start;
    -webkit-scroll-snap-align: start;
}
section{
    scroll-snap-align: start;
    -webkit-scroll-snap-align: start;
    height: 100vh;
}

footer{
    scroll-snap-align: start;
    -webkit-scroll-snap-align: start;
    height: 80vh;
}

:root {
    --blue: rgb(39, 85, 196);
    --white: #ffffff;
    --gray: #b3b3b3;
    --darkGray: #ffffff33;
    --black: black;
    --darkgray: #1d1d1d;
}

::-webkit-scrollbar {
    width: 6px; 
}
::-webkit-scrollbar-thumb {
    background-color: transparent; 
}
::-webkit-scrollbar-track {
    background: transparent;
}