/* @import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"); */
* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat','Roboto', 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-width: 400px;
    width: 100vw;
    height: 100vh;
}

/* previous version --light?  */
.root {
    --White: #ffffff;
    --Gray: #b3b3b3;
    --DarkGray: #ffffff33;
    --Black: black;
    --Darkgray: #1d1d1d;
    --Blue: #2755c4;

    /* new  */
    --BlueHover: #295cd3;
    --BackgroundColor: white;
    --Text1: #000000;
    --Text1_secondary: #757575;
    --BlurredBackground: rgb(175, 175, 175, 40%);
    /* modal */
    --Modal1: #FFFFFF;
    --Modal2: #E8EAED;
    /* Navbar */
    --MainNavBar_BackgroundColor1: #000000;
    --MainNavBar_BackgroundColorText1: #F0F2F5;
    --MainNavBar_BackgroundColorText2: #FFFFFF;

    /* Navbar Menu*/
    --NavBarMenu_MenuItem: #FFFFFF;
    --NavBarMenu_MenuItemColor: #9E9E9E;
    --NavBarMenu_OptionsBoxShadow1:rgba(0,0,0,0.4);
    --NavBarMenu_OptionsBoxShadow2:rgba(255,255,255,0.4);
    /* footer */
    --Footer_BackgroundColor: black;
    --bright: 1;
    --toggleBoxShadow: rgba(0, 0, 0, 0.163);
}

[data-theme="dark"] {
    /* new  */
    --BackgroundColor: #232323;
    --Text1: #B3B3B3;
    --Text1_secondary: #FFFFFF;
    --BlurredBackground: rgb(175, 175, 175, 40%);
    /* modal */
    --Modal1: #FFFFFF;
    --Modal2: #E8EAED;

    --bright: 0.5;
    --toggleBoxShadow: rgba(0, 0, 0, 0.45);
}


main{
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    -webkit-scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;

    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 100vh;
    scrollbar-color: gray transparent; 
    scrollbar-width: thin; 
    background: var(--BackgroundColor);
}
::-webkit-scrollbar {
    width: 6px; /* Styling the scrollbar in Chrome and Safari */
}
::-webkit-scrollbar-thumb {/* the draggable part of the scrollbar */
    background-color: gray; 
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;    
}
::-webkit-scrollbar-track {/* the area that the thumb moves within. */
    background: transparent;
}



header{
    scroll-snap-align: start;
    -webkit-scroll-snap-align: start;
}
section{
    scroll-snap-align: start;
    -webkit-scroll-snap-align: start;
    height: 100vh;
}

footer{
    scroll-snap-align: start;
    -webkit-scroll-snap-align: start;
}


