/* @import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"); */
* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat','Roboto', 'Inter', sans-serif;
}
/* previous version --light?  */
.root {
    --White: #ffffff;
    --Gray: #b3b3b3;
    --DarkGray: #ffffff33;
    --Black: black;
    --Darkgray: #1d1d1d;
    --Blue: #2755c4;
    /* new  */
    /* --BlueHover: #0056b3; */
    --BlueHover: #0066FF;
    --BackgroundColor: white;
    --Text1: #000000;
    --Text1_secondary: #757575;
    --BlurredBackground: rgb(175, 175, 175, 40%);
    /* modal */
    --Modal1: #FFFFFF;
    --Modal2: #E8EAED;
    /* Navbar */
    --MainNavBar_BackgroundColor1: #000000;
    --MainNavBar_BackgroundColorText1: #F0F2F5;
    --MainNavBar_BackgroundColorText2: #FFFFFF;
    /* Navbar Menu*/

    --NavBarMenu_BackgroundColor: #000000;
    --NavBarMenu_CompanyName: #FFFFFF;
    --NavBarMenu_MenuItem: #FFFFFF;
    --NavBarMenu_MenuItemColor: #9E9E9E;
    --NavBarMenu_OptionsBackgroundColor:#000000; 
    --NavBarMenu_OptionsBackgroundColorHover:#1e1d1d;

    --NavBarMenu_OptionsColor:#9E9E9E; 
    --NavBarMenu_OptionsColorActive: #FFFFFF;
    --NavBarMenu_OptionsColorHover:#FFFFFF;
    --NavBarMenu_Break: #555555;

    --NavBarMenu_OptionsBoxShadow1:rgba(0,0,0,0.4);
    --NavBarMenu_OptionsBoxShadow2:rgba(255,255,255,0.4);
    --darkModeToggleButtonChecked1: #242424;
    --darkModeToggleButtonChecked2: #3a3a3a;

    --darkModeToggleContainerSun: #FFFFFF;
    --darkModeToggleContainerMoon: #7e7e7e;
    /* footer */
    --Footer_BackgroundColor: black;
}




/* new  */
/* [data-theme="light"] {
    --white: #ffffff;
    --gray: #b3b3b3;
    --darkGray: #ffffff33;
    --black: black;
    --darkgray: #1d1d1d;
    --blue: rgb(39, 85, 196);

    --backgroundColor: #F0F2F5;
    --text1: #000000;
    --text2: #202124;
    --secondaryText1: #757575;
    --secondaryText2: #757575;

    --modal1: #FFFFFF;
    --modal2: #E8EAED;
    --NavBarBackgroundColor1: white;
    --NavBarBackgroundColor2: #F0F2F5;
    --NavBarBackgroundColorText1: #F0F2F5;
    --NavBarBackgroundColorText2: #555555;
    --NavBarBackgroundColorHover: #FFFFFF;
} */
/* new  */
[data-theme="dark"] {
    --white: #ffffff;
    --gray: #b3b3b3;
    --darkGray: #ffffff33;
    --black: #000000;
    --darkgray: #1d1d1d;

    --backgroundColor: #232323;
    --text1: #B3B3B3;
    --text2: #9AA0A6;
    --secondaryText1: #757575;
    --secondaryText2: #5F6368;
    /* Specific */
    --modal1: #202124;
    --modal2: black;
    --NavBarBackgroundColor1: #000000;
    --NavBarBackgroundColor2: #202124;
    --NavBarBackgroundColorText1:#9E9E9E;
    --NavBarBackgroundColorText2: #FFFFFF;
    --NavBarBackgroundColorHover: #1e1d1d;
    --NavBarBackgroundColorBreak: #555555;
    --sidebarMenuOptionsBackgroundColor:#000000; 
    --sidebarMenuOptionsColor:#9E9E9E; 
    --sidebarMenuOptionsBorderColor: #292929;
    --sidebarMenuOptionsActive: #ffffff;
    --sidebarMenuOptionsHover: #ffffff;
    --darkModeToggleContainerBackground:#ebebeb;
    --darkModeToggleContainerBoxShadow1:rgba(0,0,0,0.4);
    --darkModeToggleContainerBoxShadow2:rgba(255,255,255,0.4);
    --darkModeToggleButtonBoxShadow: rgba(0,0,0,0.2);
    --darkModeToggleButtonChecked1: #242424;
    --darkModeToggleButtonChecked2: #3a3a3a;
    --toggleContainerSun: #FFFFFF;
    --toggleContainerMoon: #7e7e7e;
}

body {
    margin: 0;
    padding: 0;
    min-width: 400px;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

main{
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    -webkit-scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;

    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 100vh;
    scrollbar-color: gray transparent; 
    scrollbar-width: thin; 
    background-color: var(--backgroundColor)
}
::-webkit-scrollbar {
    width: 6px; /* Styling the scrollbar in Chrome and Safari */
}
::-webkit-scrollbar-thumb {/* the draggable part of the scrollbar */
    background-color: gray; 
    border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;    
}
::-webkit-scrollbar-track {/* the area that the thumb moves within. */
    background: transparent;
}



header{
    scroll-snap-align: start;
    -webkit-scroll-snap-align: start;
}
section{
    scroll-snap-align: start;
    -webkit-scroll-snap-align: start;
    height: 100vh;
}

footer{
    scroll-snap-align: start;
    -webkit-scroll-snap-align: start;
}


