/*! Main Container ------------------------------------------------------*/
.container {
	min-height: 1000px;
	position: relative;
	z-index: 0;

	font-size: 10px;
	background: var(--BackgroundColorDemoLanding) !important;
}
/*! Feature ------------------------------------------------------*/
.billboardContainer {
	display: block;
	position: relative;
	z-index: 1;
}
.billboardRow {
	left: 0;
	position: relative;
	right: 0;
	top: 0;
	background-color: #000;
	margin-bottom: 20px;
	padding-bottom: 40%;
}
.billboardPane {
	background-color: #000;
	height: 56.25vw;
	position: absolute;
	width: 100%;
	z-index: 0;
}
.billboardMotion {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}
.motionBackgroundComponent {
	z-index: 2;
}
.heroImageWrapper {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.heroImageWrapper img {
	background-position: 50%;
	background-size: cover;
	bottom: 0;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: alpha(opacity = 100);
	left: 0;
	opacity: 1;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 0.4s cubic-bezier(0.665, 0.235, 0.265, 0.8) 0s;
	width: 100%;
	z-index: 5;
	border: 0;
	filter: blur(5px);
}
.trailerVignette {
	background: linear-gradient(77deg, rgba(0, 0, 0, 0.6), transparent 85%);
	bottom: 0;
	left: 0;
	opacity: 1;
	position: absolute;
	right: 26.09%;
	top: 0;
	transition: opacity 0.5s;
	z-index: 8;
}
.vignetteLayerTop {
	background-color: transparent;

	background-image: var(--BackgroundLinearGradient_Top_NavBarDemoLanding_White_to_Transparent_DarkGray_to_Transparent);
	background-position: 0 top;
	background-repeat: repeat-x;
	background-size: 100% 100%;
	top: 0;
	height: 11vw;
	opacity: 1;
	width: 100%;
	position: absolute;
	z-index: 10;
}
.vignetteLayerBottom {
	background-color: transparent;
	background-image: var(--BackgroundLinearGradient_Bottom_DemoLanding_Transparent_to_White_Transparent_to_DarkGray);
	background-position: 0 top;
	background-repeat: repeat-x;
	background-size: 100% 100%;
	bottom: -1px;
	height: 14.7vw;
	opacity: 1;
	top: auto;
	width: 100%;
	position: absolute;
	z-index: 10;
}
.fillContainer {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
.infoMetaLayer {
	bottom: 30%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	left: 4%;
	position: absolute;
	top: 0;
	width: 36%;
	z-index: 10;
}
@media (max-width: 1400px) {
	.infoMetaLayer {
		left: 52px;
	}
}
.logoAndText {
	transition: transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	width: 100%;
}
.titleWrapper {
	transform-origin: left bottom;
	transform: scale(1) translate3d(0px, 0px, 0px);
	transition-duration: 1300ms;
	transition-delay: 0ms;
}
.billboardTitle {
	margin-bottom: 1.2vw;
	min-height: 13.2vw;
	position: relative;
}
.billboardTitleText {
	font-size: 5vw;
	color: #163159;
	margin: 0;

	font-style: italic;
	font-weight: 800;
	line-height: 0.95;
	text-transform: uppercase;
}
.titleLogo {
	transform-origin: bottom left;
	width: 100%;
}
.infoWrapper {
	transform: translate3d(0px, 0px, 0px);
	transition-duration: 1300ms;
	transition-delay: 0ms;
	opacity: 1;
}
.infoWrapperFade {
	opacity: 1;
	transition-duration: 600ms;
	transition-delay: 200ms;
}
.synopsisFadeContainer {
	margin: 0.5vw 0 0;
}
.synopsis {
	margin: 0.5vw 0 0;
	color: #fff;
	font-size: 1.2vw;
	font-weight: 400;
	line-height: normal;
	margin-top: 0.1vw;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
	width: 100%;
	font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.billboardLinks {
	display: flex;
	line-height: 88%;
	margin-top: 1.5vw;
	white-space: nowrap;
	position: relative;
	z-index: 10;
}
.startButton {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;

	background-color: white;
	color: black;
	font-size: 2vw;
	line-height: 88%;

	padding-left: 2vw !important;
	padding-right: 2.4vw !important;
	margin-left: 0 !important;
	margin-bottom: 1vw !important;
	margin-right: 1vw !important;

	border: 0;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
}
.playButtonIconOuterContainer {
	line-height: 0;
}
.playButtonIconInnerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2.4vw;
	width: 2.4vw;
	line-height: 0;
}
.playButtonIconInnerContainer svg {
	height: 100%;
	width: 100%;
	fill: none;
}
.playButtonSpacer {
	width: 1vw;
}
.playText {
	-webkit-font-smoothing: antialiased;
	display: block;
	font-size: 1.6vw;
	font-weight: 600;
	line-height: 2.4vw;
	color: black;
}
@media (min-width: 1250px) {
	.startButton {
		padding-left: 25px !important;
		padding-right: 30px !important;
		margin-bottom: 12px !important;
		margin-right: 12px !important;
		height: 50px;
		width: 142px;
	}
	.playButtonIconInnerContainer {
		height: 30px;
		width: 30px;
	}
	.playButtonSpacer {
		width: 1rem;
	}
	.playText {
		font-size: 20px;
	}
}
.moreInfoButton {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	padding: 0.8vw;
	padding-left: 2vw !important;
	padding-right: 2.4vw !important;
	background-color: rgba(109, 109, 110, 0.7);
	margin: 0;
	margin-bottom: 1vw !important;
	margin-right: 1vw !important;
	color: white;
	border: 0px;
	border-radius: 4px;
	cursor: pointer;
	opacity: 1;
}
.moreInfoButtonIconOuterContainer {
	line-height: 0;
	display: block;
}
.moreInfoButtonIconInnerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2.4vw;
	width: 2.4vw;
	line-height: 0;
}
.moreInfoButtonIconInnerContainer svg {
	height: 100%;
	width: 100%;
}
.moreInfoButtonSpacer {
	display: flex;
	position: relative;
	box-sizing: border-box;
	width: 1vw;
	height: 100%;
}
.moreInfoButtonText {
	display: block;
	font-size: 1.6vw;
	font-weight: 500;
	line-height: 2.4vw;
	cursor: pointer;
}
@media (min-width: 1250px) {
	.moreInfoButton {
		padding-left: 25px !important;
		padding-right: 30px !important;
		margin-bottom: 12px !important;
		margin-right: 12px !important;
		height: 50px;
		width: 180px;
	}
	.moreInfoButtonIconInnerContainer {
		height: 30px;
		width: 30px;
	}
	.moreInfoButtonSpacer {
		width: 1rem;
	}
	.moreInfoButtonText {
		font-size: 20px;
	}
}
/*! Row of Contents ------------------------------------------------------*/
.lolomoRow {
	box-sizing: border-box;
	margin: 3vw 0;
	padding: 0;
	outline: 0;
	position: relative;
	outline: 0;
	position: relative;
	z-index: 1;
	background: var(--BackgroundLinearGradient_Bottom_DemoLanding_Transparent_to_White_Transparent_to_DarkGray);
}
.rowHeader {
	line-height: 1.3;
	margin: 0;
	font-weight: 500;
	display: block;
	font-size: 1.5em;
	margin-block-start: 0.83em;
	margin-block-end: 0.83em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	unicode-bidi: isolate;
}
.rowTitle {
	color: var(--color_primary_darkGray_to_gray);
	display: inline-block;
	font-size: 1.4vw;
	font-weight: 500;
	margin: 0 4% 0.5em;
	min-width: 6em;
	text-decoration: none;
	cursor: pointer;
}
.rowHeaderTitle {
	display: table-cell;
	font-size: 1.4vw;
	line-height: 1.25vw;
	vertical-align: bottom;
	font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.rowContainer {
	transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
	position: relative;
	z-index: 0;
}
.rowContent {
	box-sizing: border-box;
	padding: 0;
}
.slider {
	z-index: 2;
	margin: 0;
	padding: 0 2%;
	position: relative;
	touch-action: pan-y;
}
.handlePrev {
	background: hsla(0, 0%, 8%, 0.5);
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	left: -2px;
	cursor: pointer;
	bottom: 0;
	color: #fff;
	display: flex;
	justify-content: center;
	position: absolute;
	text-align: center;
	top: 0;
	width: 4%;
	z-index: 20;
}
.handleNext {
	right: 10px;
}
.indicatorIcon {
	transform-origin: 55% 50%;
	align-self: center;
	display: none;
	font-size: 2.5vw;
	height: auto;
	transition: transform 0.1s ease-out 0s;
	speak: none;
	font-family: nf-icon;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1;
	text-transform: none;
	transform: translateZ(0);
}
.sliderMask {
	overflow-x: visible;
	padding-bottom: 1px;
}
.sliderContent {
	display: flex;
	transition: transform 0.3s ease;
	transform: translate3d(0, 0, 0);
	width: auto;
}
.sliderItem {
	width: 16.66%;
	box-sizing: border-box;
	display: inline-block;
	padding: 0 0.2vw;
	position: relative;
	vertical-align: top;
	white-space: normal;
	z-index: 100;
	flex-shrink: 0;
	flex-grow: 0;
}
@media (max-width: 1300px) {
	.sliderItem {
		width: 20%;
	}
}
@media (max-width: 1099px) {
	.sliderItem {
		width: 25%;
	}
}
@media (max-width: 900px) {
	.sliderItem {
		width: 30%;
	}
}
@media (max-width: 800px) {
	.sliderItem {
		width: 50%;
	}
	.infoMetaLayer {
		width: 39%;
	}
}

.titleCard {
	display: block;
	position: relative;
	z-index: 1;
}
.sliderRefocus {
	display: block;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	background-color: transparent;
}
.boxartContainer {
	height: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	padding: 28.125% 0;
	border-radius: 0.2vw;
	background-color: white;
}
.boxartImage {
	cursor: pointer;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100;
}
.overlay {
	display: flex;
	position: absolute;
	z-index: 4000;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0%;
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
	font-family: Roboto;

	background-color: var(--BlurredBackground);

	backdrop-filter: blur(2px); /* Chrome, Firefox */
	-webkit-backdrop-filter: blur(2px); /* Safari */
}
.overlay p {
	font-size: 16px;
	color: black;
	background-color: var(--Blue);
	border-radius: 5px;
	padding: 0 2px;
}
