/* ----------------------Footer---------------------- https: //www.youtube.com/watch?v=YOb67OKw62s i.e. Responsive Footer Design using Html & Css by "The WebShala" */
.footer {
	display: flex;
	position: relative;
	background-color: black;
	height: 80vh;
	width: 100%;
	min-width: 400px;
	position: -20vh;
	border-top-left-radius: 36px;
	border-top-right-radius: 36px;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
}
.outerContainer_Top {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	max-width: 3840px;
	margin: 0px auto 0px auto;
	padding-top: 8px;
	top: 1%;
}
.innerContainer_Top {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 7vh;
	width: 95%;
	padding-right: 0.75rem !important;
	margin: auto;
}
.LogoContainer {
	display: flex;
	width: 3.2rem;
	height: 3.2rem;
	background-color: var(--WhiteToGray);
	border-radius: 50%;
	cursor: pointer;
}
.Logo {
	display: flex;
	width: 3.589rem;
	height: 3.589rem;
	padding-bottom: 7px;
}
.companyName {
	font-family: Montserrat;
	font-size: 2rem;
	letter-spacing: -1.3px;
	margin-left: 45px;
	font-weight: 100;
	cursor: pointer;
	margin-top: 5px;
	color: var(--WhiteToGray);
	text-decoration: none;
}
.companyName:hover {
	color: var(--Blue);
}
.outerFooterContainer {
	box-sizing: border-box;
	background-color: var(--Black);
	width: 100%;
	height: 70vh;
	margin: auto;
}
.innerFooterContainer {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 64%;
	max-width: 100%;
	margin: auto;
	height: 60vh;
	font-family: Roboto;
	min-height: 60px;
}
.contentsSection {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.footer_col {
	font-family: Montserrat;
	display: block;
	min-width: 147px;
	text-align: left;
}
.footer_col h4 {
	font-size: 22px;
	color: var(--OffWhite);
	text-transform: capitalize;
	margin-bottom: 30px;
	font-weight: bolder;
	position: relative;
	margin-bottom: 20px;
}
.footer ul {
	list-style: none;
	padding: 0px;
	min-width: 20%;
	margin: 0;
}
.footer ul li {
	padding-top: 0 !important;
}

.footer_col h4::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: var(--Blue);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer_col ul li:not(:last-child) {
	margin-bottom: 10px;
}
.footer_col ul li:last-child {
	margin-bottom: 30px;
}
.footer_col ul li a {
	font-size: 19px;
	text-decoration: none;
	font-weight: 300;
	color: #b3b3b3;
	display: block;
	transition: all 0.3s ease;
	min-width: 140px;
}
.footer_col ul li a:hover {
	color: var(--Blue);
	padding-left: 8px;
}

/*======    SOCIAL    =========================*/
.socialRow {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 5vh;
	min-height: 68px;
	width: 100%;
	min-width: 269px;
	margin: auto;
	background-color: black;
}
.social_links {
	display: flex;
	width: 100%;
	margin: auto;
	justify-content: center;
	background-color: black;
}
.social_links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	line-height: 40px;
	font-size: 32px;
	color: var(--WhiteToGray);
	background-color: var(--Black);
	text-align: center;
	align-items: center;
	border-radius: 50%;
	transition: all 0.5s ease;
	margin-left: 1.35rem;
	margin-right: 1.35rem;
}
.social_links a:hover {
	color: black;
	background-color: var(--Blue);
	height: 40px;
	width: 40px;
	line-height: 40px;
	font-size: 32px;
	border-radius: 50%;
}
.copyright {
	font-family: Montserrat;
	font-size: 0.6rem;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: black;
	color: var(--WhiteToGray);
	height: 1vh;
	min-height: 12px;
	padding-top: 16px;
	padding-bottom: 20px;
	width: 100%;
}
@media (min-width: 475px) {
	.container {
		max-width: 475px;
	}
}

/* sm */
@media (min-width: 475px) {
	.container {
		max-width: 475px;
	}
}

@media (max-width: 1011px) {
	/* Width under 1011px */
	.innerContainer_Top {
		padding-left: 6%;
		padding-right: 6%;
	}
	.footer_col h4 {
		font-size: 18px;
	}
	.footer_col ul li a {
		font-size: 16px;
		font-weight: 300;
	}
	.social_links a {
		display: inline-block;
		height: 32px;
		width: 32px;
		line-height: 32px; /* Somehow this line-height affects the positioning of the icon within the circle container */
		font-size: 26px;
		margin-left: 1.1rem;
		margin-right: 1.1rem;
	}
	.innerFooterContainer {
		width: 80%;
	}
}

@media (max-width: 475px) {
	/* Width under 475px */
	.footer {
		height: 100vh;
	}
	.contentsSection {
		justify-content: center;
		margin-bottom: 20vh;
	}
	.footer_col {
		padding-left: 25px;
	}
	.outerFooterContainer {
		margin-top: 0%;
		margin-bottom: 0%;
		padding-top: 0px;
	}
	.outerContainer_Top {
		width: 100%;
		margin: 0px 5px auto auto;
		top: 10px;
	}
}

@media (max-height: 600px) {
	/* Height under 600px */
	.footer {
		height: 100vh;
		position: relative;
	}
	.innerContainer_Top {
		top: 10px;
	}
	.outerFooterContainer {
		margin-top: 3.5vw;
		margin-bottom: 0%;
		padding-top: 0px;
	}
}
