.subModal{
    z-index: 1000;
    position: absolute;
    display: flex;
    height: 110px;
    width: 91%;
    left: 10%;
    margin-top: 5px;
    border-radius: 8px;
    align-content: center;
    justify-content: center;
    background-color: white;
    border: 2px solid white;
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.6);
    font-size: .9rem;
}
.subModalContainer{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 3% 5% 3% 5%;
    flex-direction: column;
}
.subModalContainer span{
    color: black;
    font-weight: 600;
}
.subModalContainer span{
    display: flex;
    width: 100%;
}
.row{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.subModalContainer ul{
    list-style-type: none;
    padding: 0px;
}
.subModalContainer ul li{
    width: 50%;
}
/* ********************************************************************* lowercase letter */
.lower{
    color: red;
}
.lower.isValidLower{
    color: green;
}
.lowerX{
    display: inline;
}
.lowerX.isValidLower{
    display: none;
}
.lowerCheck{
    display: none;
}
.lowerCheck.isValidLower{
    display: inline;
}
/* ********************************************************************* uppercase letter */
.upper{
    color: red;
}
.upper.isValidUpper{
    color: green;
}
.upperX{
    display: inline;
}
.upperX.isValidUpper{
    display: none;
}
.upperCheck{
    display: none;
}
.upperCheck.isValidUpper{
    display: inline;
}
/* ********************************************************************* number */
.number{
    color: red;
}
.number.isValidNumber{
    color: green;
}
.numberX{
    display: inline;
}
.numberX.isValidNumber{
    display: none;
}
.numberCheck{
    display: none;
}
.numberCheck.isValidNumber{
    display: inline;
}
/* ********************************************************************* special character */
.special{
    color: red;
}
.special.isValidSpecial{
    color: green;
}
.specialX{
    display: inline;
}
.specialX.isValidSpecial{
    display: none;
}
.specialCheck{
    display: none;
}
.specialCheck.isValidSpecial{
    display: inline;
}
/* ********************************************************************* at least 8 characters */
.eight{
    color: red;
    width: 100%;
}
.eight.isValidEight{
    color: green;
}
.eightX{
    display: inline;
}
.eightX.isValidEight{
    display: none;
}
.eightCheck{
    display: none;
}
.eightCheck.isValidEight{
    display: inline;
}