.mainContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100vw;
	min-width: 750px;
	font-family: sans-serif !important;
	color: var(--color_primary_darkGray_to_gray);
	line-height: 1.5;
	font-size: 14px;
	overflow-y: scroll;
}
.bodyContainer {
	display: flex;
	position: relative;
}
/*! Demo Landing Page----------------------------------------------------------*/
.DemoDMVClassCLandingPage {
	-webkit-box-flex: 1;
	flex-grow: 1;
	padding-left: 2vw;
	padding-right: 2vw;
	margin: 0 0 auto 0;
	display: flex;
	font-size: 16px;
	flex-direction: row;
}
.DemoDMVClassCLandingPage h1 {
	margin: 0;
}
.DemoDMVClassCLandingPage h2 {
	margin-top: 0;
}
.leftSide {
	display: flex;
	position: relative;
	flex-basis: 65%;
	flex-grow: 1;
	flex-shrink: 1;
	padding-right: 1rem;
	flex-direction: column;
}
.top {
	display: flex;
	flex-direction: row;
}
.demoIntroTopLeft {
	display: flex;
	flex-direction: column;
}
.topRight {
	display: none;
}
.topRight.open {
	display: none;
}
.topRight .imageDiv {
	overflow: visible;
}
@media (max-width: 1100px) {
	.topRight {
		display: flex;
		margin-left: auto;
	}
}
@media (max-width: 2200px) {
	.topRight.open {
		display: flex;
		margin: auto;
	}
	.topRight .imageDiv figure {
		margin: auto;
	}
	.topRight .imageDiv figure img {
		width: 13vw;
		min-width: 118px;
	}
	.topRight .imageDiv a {
		font-size: 8px;
		text-wrap: nowrap;
	}
}
.rightSide {
	display: flex;
	flex-basis: 35%;
	flex-grow: 1;
	flex-shrink: 1;
	flex-direction: column;
	padding-left: 1rem;
	max-width: 440px;
}
@media (max-width: 1100px) {
	.rightSide {
		display: none;
	}
}
.imageDiv figure {
	margin: 0;
	padding: 0;
	max-width: 100%;
}
.imageDiv figure:hover img {
	transform: scale(1.1);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}
.imageDiv figure img {
	width: 100%;
	object-fit: cover; /* Ensures the image covers its container while preserving aspect ratio */
	border-radius: 5px; /* Optional: Adds some visual appeal */
	transition: transform 0.5s ease;
}
.rightSide .imageDiv a {
	margin-left: 0;
	font-size: 12px;
	text-decoration: underline;
	color: #0066cc; /* Update with your preferred link color */
	margin-top: 1rem;
}
.rightSide .imageDiv a:hover {
	color: #004499; /* Darken on hover */
}
.rightSide.open {
	display: flex;
	flex-basis: 35%;
	flex-grow: 1;
	flex-shrink: 1;
	flex-direction: column;
	padding-left: 1rem;
}
@media (max-width: 2200px) {
	.rightSide.open {
		display: none;
	}
}
.rightSide.open .imageDiv a {
	margin-left: 0;
	font-size: 12px;
	text-decoration: underline;
	color: #0066cc; /* Update with your preferred link color */
	margin-top: 1rem;
}
.rightSide.open .imageDiv a:hover {
	color: #004499; /* Darken on hover */
}

/*! Handbook----------------------------------------------------------------------*/
.handbook_outerContainer {
	width: 90%;
	min-width: 60%;
	max-width: 1830px;

	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 1150px;

	padding-top: 5vh;
	padding-bottom: 5vh;
	padding-left: 2vw;
	padding-right: 2vw;

	margin: 0 auto;

	line-height: 1.35;
	transition: width 1s ease;
}
.page_contentContainer {
	display: flex;
	flex-direction: column;
	min-height: 90vh;
	/* border: 1px solid #d6dade; */
	border-radius: 8px;
	min-width: 340px;
}
.handbook_header_section {
	display: block;
	background: var(--colorGradient_readerHeaderTitle_from_blue_to_lightBlue_to_blue_to_black);
	min-height: 15vh;
	padding: 2vh 1vw 0 1vw;
	margin: 1vh 1vw 4vh 1vw;
	color: white;
	border-radius: 3px 3px 0 0;
	overflow: hidden;

	overflow: visible; /* Allow scaling to overflow */
	position: relative; /* Ensure proper stacking context */
	z-index: 5; /* Lower than quickNavButton */
}
.handbook_header_section h1 {
	font-size: 4vh;
	text-transform: uppercase;
	line-height: 1.15;
	margin: 0 0 0 0;
	color: var(--color_readerSectionTitle_white_to_offWhite);
}
.handbook_header_section h2 {
	font-size: 21px;
	text-transform: none;
	line-height: 1.15;
	margin: 0 0 0 0;
	color: var(--color_readerSectionTitle_white_to_offWhite);
	font-weight: 400;
	padding-top: 1vh;
}
.handbook_header_section p {
	font-size: 1.5vh;
	text-transform: uppercase;
	line-height: 1;
	margin: 0 0 0 0;
	color: var(--color_readerSectionTitle_white_to_offWhite);
}
/*! -------------------------------------------------------------------------------------------------------- */
/*! -------------------------------------------------------------------------------------------------------- */
/*! -------------------------------------------------------------------------------------------------------- */
.handbook_header_section_question {
	display: block;
	background: var(--colorGradient_readerHeaderTitle_from_blue_to_lightBlue_to_blue_to_black);
	min-height: 15vh;
	padding: 2vh 1vw 0 1vw;
	margin: 1vh 1vw 0 1vw;
	color: white;
	border-radius: 3px 3px 0 0;
	overflow: hidden;

	overflow: visible; /* Allow scaling to overflow */
	position: relative; /* Ensure proper stacking context */
	z-index: 5; /* Lower than quickNavButton */
}
.quickNavContainer {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0 1vw 4vh 1vw;
	position: relative;
	z-index: 1000;
	height: 35px;
}
.quickNavWrapper {
	height: 8px;
	display: flex;
	flex-direction: column;
	padding-top: 7px;
	overflow: hidden;
	scrollbar-width: thin !important;
}
.quickNavContainer:hover .quickNavWrapper {
	height: 35px;
	transition: height 0.2s cubic-bezier(1, 0.02, 0.58, 1);
}
.quickNavWrapper:hover {
	overflow-y: hidden;
	overflow-x: scroll;
	scrollbar-color: var(--BackgroundColor) transparent !important;
	transition: scrollbar-color 0.2s cubic-bezier(1, 0.02, 0.58, 1);
}
.quickNav {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	font-size: 10px;
	background: var(--colorGradient_readerHeaderTitle_from_blue_to_lightBlue_to_blue_to_black_inverse);
	min-width: 800px;
	height: 23px;
}
.quickNavButton {
	display: flex;
	justify-content: center;
	color: black;
	min-width: 20px;
	position: relative;
	z-index: 20;
	background-color: gray;
	cursor: default;
}
.quickNavButton.inCorrect {
	display: flex;
	justify-content: center;
	color: black;
	min-width: 20px;
	position: relative;
	z-index: 20;
	background-color: #ff6a6a;
	cursor: pointer;
}
.quickNavButton.correct {
	display: flex;
	justify-content: center;
	color: black;
	min-width: 20px;
	position: relative;
	z-index: 20;
	background-color: #00df00;
	cursor: pointer;
}
.quickNavButton.inCorrect:hover,
.quickNavButton.correct:hover {
	transform: scale(1.5, 1.5);
	transform-origin: center center;
	color: white;
	transition: transform 0.02s cubic-bezier(1, 0.02, 0.58, 1), color 0.2s cubic-bezier(1, 0.02, 0.58, 1), background-color 0.2s cubic-bezier(1, 0.02, 0.58, 1);
	z-index: 100;
	border: 1px solid var(--WhiteToBlack);
	-webkit-box-shadow: 0px 0px 25px 20px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0px 0px 25px 20px rgba(0, 0, 0, 1);
	box-shadow: 0px 0px 25px 20px var(--WhiteToBlack);
}
.quickNavButton.inCorrect:active,
.quickNavButton.correct:active {
	transform: scale(1.8, 1.8);
}

.scrollPortion {
	display: flex;
	height: 10px;
	background-color: var(--WhiteToBlack);
	min-width: 800px;
}

/*! -------------------------------------------------------------------------------------------------------- */
/*! -------------------------------------------------------------------------------------------------------- */
/*! -------------------------------------------------------------------------------------------------------- */

.headerTop {
	display: flex;
	justify-content: space-between;
}
.questionNumber {
	font-size: 1.5vh !important;
	text-transform: uppercase;
	line-height: 1;
	margin: 0 0 0 0;
	color: var(--color_readerSectionTitle_white_to_offWhite);
}
.questionNumber.isPassed {
	color: #00df00;
}
.questionNumber.failed {
	color: #ff6a6a;
}

.testNumber {
	font-size: 1.5vh !important;
	text-transform: uppercase;
	line-height: 1;
	margin: 0 0 0 0;
	color: black !important;
}
.page_content {
	display: flex;
	flex-direction: column;
	padding-left: 2vw;
	padding-right: 2vw;
	margin-bottom: auto;
}
.page_content h2 {
	font-size: 3rem;
	font-weight: 400;
	margin-bottom: 0.5em;
	color: var(--color_readerSecondary_darkBlue_to_offWhite);
	line-height: 1.15;
	margin: 0 0 1rem;
}
.page_content h2 strong {
	font-size: 3rem;
	font-weight: bolder;
	line-height: 1.15;
}
.page_content h3 {
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.36;
	color: var(--color_readerSecondary_darkBlue_to_lightBlue);
	margin: 0;
}
.page_content h4 {
	font-size: 1.5rem;
	color: var(--color_readerSecondary_darkBlue_to_lightBlue_h4);
	font-weight: 400;
	line-height: 1.15;
	margin: 0 0 1rem;
}
.page_content p {
	font-size: 1.3125rem;
	line-height: 1.35;
	margin-top: 0;
	margin-bottom: 1rem;
}
.handbook_outerContainer a {
	color: var(--color_readerHyperLink_brightBlue_to_skyBlue);
}
.page_content p:last-of-type {
	margin-bottom: 0;
}
.page_content figure {
	margin: 0;
}
.imageDiv {
	display: table;
}
.imageDivColContainer {
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding-top: 1.75rem;
}
.imageDivCol {
	-webkit-box-flex: 0;
	/* flex: flex-grow | flex-shrink | flex-basis% */
	/* flex: 0 1 33.33%; */
	padding-right: 1.25rem;
}
.imageDivCol figure {
	margin: 0 !important;
}
figure img {
	box-sizing: border-box;
	height: auto;
	max-width: 100%;
	vertical-align: bottom;
}
figure .image0 {
	min-width: 200px !important;
	max-width: 300px !important;
}
ul {
	margin-bottom: 2rem;
	margin-left: 2rem;
	padding: 0;
}
ul li {
	font-size: 1.3125rem;
	line-height: 1.19;
	display: list-item;
	text-align: -webkit-match-parent;
}
ul li:not(:first-child) {
	padding-top: 1.875rem;
}
ul li ul {
	list-style-type: none !important;
}
ul li ul li:before {
	content: "-";
	display: inline-block;
	margin-right: 4px;
	width: 10px;
}
.page_content div figure {
	float: left;
	margin: 0.5em 1em 0.5em 0;
}
.page_content ul {
	margin-bottom: 2rem;
	margin-left: 2rem;
	font-size: 1rem;
	padding: 0;
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	unicode-bidi: isolate;
}
.page_content ul li {
	font-size: 1.3125rem;
	display: list-item;
	text-align: -webkit-match-parent;
	unicode-bidi: isolate;
}
figcaption {
	caption-side: bottom;
	display: table-caption;
	margin-bottom: 1em;
	margin-top: 0.5em;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.4;
	white-space: nowrap;
}
strong {
	color: var(--color_readerSecondary_darkBlue_to_lightBlue);
	font-weight: bolder;
	font-size: 1.3125rem;
}
.formatLabelNote:before {
	content: "note";
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #ffd457;
	border-radius: 2px;
	color: #000;
	display: inline-flex;
	flex-shrink: 0;
	font-size: 0.75rem;
	font-weight: 700;
	height: 22px;
	margin-right: 10px;
	margin-top: 4px;
	padding: 0 6px;
	text-transform: uppercase;
}
/*! TOC-------------------------------------------------------------------------*/
.bottom {
	display: flex;
	position: relative;
	width: 100%;
	flex-direction: column;
	justify-content: flex-start;
	background-color: var(--backgroundColor_menu_offWhite_to_offBlack) !important;
	border: none;
}
.bottom h2 {
	margin-top: 0;
}
.tocInnerContainer {
	display: flex;
	flex-direction: row;
	border-top: 1px solid var(--BackgroundColor);
}
.tocInnerContainer ul {
	width: 50%;
	margin-bottom: 1rem;
}

/* 2 is for the test restuls */
.tocInnerContainer2 {
	display: flex;
	flex-direction: row;
	box-shadow: inset 0 0 0 1px var(--BackgroundColor);
}

.tocInnerContainer2 ul {
	width: 33.33%;
	margin-bottom: 1rem;
	margin-left: 0;
}

/* toc Title ------------------------------------------------------*/
.tocTitleLabel {
	padding: 6px 8px 6px 12px !important;
	width: 100%;
	line-height: 1.5;
	word-break: break-word;
	color: var(--color_readerSectionTitle_white_to_offWhite) !important;
	font-weight: 400;
	text-decoration: none;
	border-radius: 0 !important;
	height: 55px !important;
	background: var(--colorGradient_readerHeaderTitle_from_blue_to_lightBlue_to_blue_to_black);
	cursor: pointer !important;
}
.tocTitleLabel h2 {
	margin-top: 0;
	text-align: center;
}
.handbookTOC_header_section h2 {
	margin-bottom: auto;
}
/*! handbook landing page ------------------------------------------------------*/
/* where to start &&  toc Parent Items-----------------------------*/
.welcome {
	margin: 0;
}
.welcome h2 {
	margin: 0;
	font-size: 24px !important;
}
.sectionContent {
	margin-left: 0;
}
.sectionContent p {
	padding: 8px 0 16px 32px;
	margin: 0;
}
.options {
	margin: 0;
}
.options ul {
	margin: 0;
	padding: 8px 0 16px 32px;
}
.options h2 {
	margin: 0;
	font-size: 24px !important;
}
.contentContainerWhereToStart {
	list-style: none;
	font-size: 16px;
	padding-top: 0 !important;
}
.contentContainerWhereToStart div {
	padding-left: 0 !important;
}
.sectionSection {
	display: inline-block; /* Ensures the width is respected */
	min-width: 110px;
	width: 110px;
	font-weight: 700;
	margin-right: 0.5rem;
}
.contentContainer {
	list-style: none;
	font-size: 14px;
	padding-top: 0 !important;
}
.parentLabelOuterContainer {
	position: relative;
	display: flex;
	margin-left: 8px;
	background: unset;
	border: unset;
	width: calc(100% - 16px);
	text-align: unset;
	line-height: 20px;
}
.parentLabel {
	flex-grow: 1;
	word-break: break-word;
	color: var(--color_primary_darkGray_to_gray) !important;
	cursor: pointer;
	border-radius: 7px;
	padding: 6px 8px;
	text-decoration: none;
}
.parentLabel.isPassed {
	color: #00df00 !important;
}
.parentLabel.failed {
	color: #ff6a6a !important;
}
.parentLabel:hover {
	background-color: var(--hover_menuItem_gray_to_darkGray);
}
.parentLabel:active {
	background-color: var(--active_menuItem_gray_to_darkGray);
}
.parentLabel.isActive {
	background-color: var(--active_menuItem_gray_to_darkGray);
}
.sectionNUm {
	color: var(--color_primary_darkGray_to_gray) !important;
	font-weight: 700;
	min-width: 32px;
}
/* Styles for Correct (Checkmark) */
.correctIcon {
	content: "\2705";
	display: inline-block;
	font-size: 22px;
	color: #28a745;
}

/* Styles for Incorrect (X Mark) */
.incorrectIcon {
	content: "\274C";
	display: inline-block;
	font-size: 20px;
	color: #dc3545;
}

/*!sideBar Question  -------------------------------------------------------------*/
.sideBar_R_outerContainer {
	display: flex;
	flex-direction: column;
	z-index: 1000;
	position: sticky !important;
	top: 0;
	padding: 0;
	margin: 0;
	background-color: var(--backgroundColor_menu_offWhite_to_offBlack);
	transition: transform 0.5s ease;
	transform: translateX(100%);
	overflow: hidden;
	/* this blue line compensates for the resizer not filling the full height of the window in the "TestResults" component */
	box-shadow: inset 3px 0 0 var(--Blue);
	/* height: auto; */
}
.sideBar_R_outerContainer.open {
	width: 40%;
	height: 100vh;
	flex-grow: 0;
	transform: translateX(0);
	/* margin-right: -20px; */
}
/* ref .handbook_outerContainer  */
.handbook_outerContainer2 {
	width: 90%;
	min-width: 80%;

	padding-top: 5vh;
	padding-bottom: 5vh;
	padding-left: 1vw;
	padding-right: 1vw;

	margin: 0 auto;

	line-height: 1.35;
	transition: width 1s ease;
}
/* exit button ----------------------------------------------------- */
.exitButtonContainer {
	display: flex;
	position: absolute;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	height: 40px;
	width: 100%;
	padding-left: 12px;
	padding-right: 24px;
	margin: 0;
}
.exitButtonContainer .exitButton {
	position: relative !important;
}

.exitButton {
	z-index: 3000;
	position: fixed;
	display: inline-grid;
	color: #b4b4b4;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	-webkit-appearance: button;
	margin: 0;
	place-content: center;
	height: 40px;
	min-width: unset;
	font-size: 14px;

	width: 36px;
	transition: none;
	background-color: var(--backgroundColor_menu_offWhite_to_offBlack);
	border: 0px solid red;

	right: 0; /* Not in Original */
	margin-right: 0.76rem; /* Not in Original */
}
.exitButton:hover {
	background-color: var(--hover_menuButtonOpen_gray_to_darkGray);
}
.exitButton:active {
	background-color: var(--active_menuButtonOpen_gray_to_darkGray);
}
.svgExit {
	display: inline-block;
	user-select: none;
	vertical-align: text-bottom;
	overflow: visible;
	fill: none;
	height: 21px;
}
.svgExit path {
	fill: #9e9e9e;
}
/* resizer ---------------------------------------------------------- */
.resizer {
	width: 3px;
	top: 0;
	left: 0;
	cursor: col-resize;
	height: 100%;
	position: absolute;
	background-color: var(--LightGrayToDarkGray2);
}
.resizer:hover {
	width: 3px;
	top: 0;
	left: 0;
	cursor: col-resize;
	height: 100%;
	position: absolute;
	background-color: var(--Blue);
}

/* background-color: #42b362; */

/* Questions landing page --------------------------------------------*/
.DemoDMVClassCQuestionsLandingPage {
	-webkit-box-flex: 1;
	flex-grow: 1;
	padding-left: 2vw;
	padding-right: 2vw;
	min-height: 67.4vh;
	display: flex;
	flex-direction: column;
	font-size: 16px;
}
.DemoDMVClassCQuestionsLandingPage h1 {
	margin: 0;
}
.DemoDMVClassCQuestionsLandingPage h2 {
	margin-top: 0;
}
.questionsLandingPageBody {
	display: flex;
	flex-direction: column;
	padding-left: 2vw;
	padding-right: 2vw;
}
.quadrant_OuterContainer {
	display: flex;
	z-index: 1;
	height: 15vh;
	margin-bottom: 2vh;
	border: 1px solid var(--borderColor_menu_offWhite_to_offBlack) !important;
	border-radius: 14px;
	overflow: hidden;
	background: linear-gradient(45deg, #1b26be, transparent);
	color: white;
	transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
	transform-origin: center center;
}
.quadrant_OuterContainer:nth-child(1) {
	background: linear-gradient(45deg, #6495ed, transparent); /* Cornflower Blue */
}
.quadrant_OuterContainer:nth-child(2) {
	background: linear-gradient(45deg, #2fcafc, #00b4ee24);
}
.quadrant_OuterContainer:nth-child(3) {
	background: linear-gradient(45deg, #1e90ff, transparent); /* Dodger Blue */
}
.quadrant_OuterContainer:nth-child(4) {
	background: linear-gradient(45deg, #00008b, transparent); /* Dark Blue */
}
.quadrant_OuterContainer:hover {
	transform: scale(1.1);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
	z-index: 2;
	background-color: var(--backgroundColor_menu_offWhite_to_offBlack) !important;
}
.quadrant_InnerContainer {
	display: flex;
	position: relative;
	flex-direction: row;
	width: 100%;
}
.quadrant_InnerContainer h2 {
	margin: auto auto 2.5vh 1vh;
	font-size: 2.3vh;
}
/*! [ General ] buttons --------------------------------------------------------*/
.quadrant_InnerContainer .paginationButtonR {
	position: absolute;
	top: 3%;
	right: -5%;
	width: 50%;
	max-height: 20vh;
	border-radius: 30%;
	color: inherit;
	overflow: hidden;

	border: 0.3vh solid white;
	background-color: transparent;
}
.quadrant_InnerContainer .paginationButtonR:hover,
.quadrant_InnerContainer .paginationButtonR:active {
	background: var(--hover_menuButtonOpen_gray_to_darkGray);
	transform-origin: center center;
	cursor: pointer;
}
.quadrant_InnerContainer .paginationButtonR.isInactive,
.quadrant_InnerContainer .paginationButtonR.isInactive:hover,
.quadrant_InnerContainer .paginationButtonR.isInactive:active {
	border: 0.2vh solid #80808040;
	background-color: var(--hover_menuButtonOpen_gray_to_darkGray);
	cursor: default;
}
.quadrant_InnerContainer .paginationButtonR p {
	width: 1px;
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	font-size: 2vh;
	z-index: 10;
	transform-origin: center center;
}
.quadrant_InnerContainer .paginationButtonR:hover p,
.quadrant_InnerContainer .paginationButtonR:active p {
	color: #287bba;
	transition: color 0.3s ease-out;
}
.quadrant_InnerContainer .paginationButtonR.isInactive p,
.quadrant_InnerContainer .paginationButtonR.isInactive:hover p,
.quadrant_InnerContainer .paginationButtonR.isInactive:active p {
	transform-origin: 50% 50%;
	color: #80808040;
}
.arrowIconR {
	transform-origin: center center;
	transition: transform 0.3s ease-out, fill 0.3s ease-out;

	fill: var(--Blue);
}
.quadrant_InnerContainer .paginationButtonR:hover .arrowIconR {
	fill: #287bba;
	transform: scale(1.4);
	transition: transform 0.3s ease-out;
}
.quadrant_InnerContainer .paginationButtonR:active .arrowIconR {
	fill: #287bba;
	transform: scale(1.6);
}
.quadrant_InnerContainer .paginationButtonR.isInactive .arrowIconR,
.quadrant_InnerContainer .paginationButtonR.isInactive:hover .arrowIconR,
.quadrant_InnerContainer .paginationButtonR.isInactive:active .arrowIconR {
	transform-origin: center center;
	transition: transform 0.3s ease-out, fill 0.3s ease-out;

	fill: #80808040;
	transform: scale(1);
}

@media (min-width: 1300px) {
	.quadrant_InnerContainer button svg {
		margin-top: -1.5vw;
	}
	.quadrant_InnerContainer .testButtonsContainer button svg {
		margin-top: 0;
	}
}
.testButtonsContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
	margin: auto;
}
/*! [ Specific ] buttons (test 1-5) --------------------------------------------*/
/*? enabled */
.testButtonsContainer .paginationButtonR {
	display: flex;
	box-sizing: border-box;
	position: relative;
	justify-content: space-between;
	align-items: center;
	right: 0 !important;
	height: 5vh;
	width: 5vh;
	margin: 0.3vh;
	padding: 0;
	border: 0.2vh solid white;
	transform-origin: center center;
}
.testButtonsContainer .paginationButtonR.isInactive {
	display: flex;
	box-sizing: border-box;
	position: relative;
	justify-content: space-between;
	align-items: center;
	right: 0;
	height: 5vh;
	width: 5vh;
	margin: 0.3vh;
	padding: 0;

	border: 0.2vh solid #80808040;
	background: var(--hover_menuButtonOpen_gray_to_darkGray);
}
.testButtonsContainer .paginationButtonR.isInactive:focus {
	border: 0.2vh solid #80808040 !important;
}
.testButtonsContainer .paginationButtonR .arrowIconR {
	height: 5vh;
	position: absolute;
	left: 20%;
}
.testButtonsContainer .paginationButtonR.isInactive .arrowIconR {
	height: 5vh;
	position: absolute;
	left: 20%;

	fill: #80808040;
}
.testButtonsContainer .paginationButtonR span {
	font-size: 1vh;
	margin: auto auto 2px auto;
	color: var(--Blue);
}
.testButtonsContainer .paginationButtonR.isInactive span {
	color: gray;
}
/*! Actual Questions --------------------------------------------------*/
/* page general */
.question_content,
.question_content.sideBar_L_isOpen {
	-webkit-box-flex: 1;
	padding-left: 2vw;
	padding-right: 2vw;
	margin: 0 0 auto 0;
	height: 30vh;
}
.question_content ul,
.question_content.sideBar_L_isOpen ul {
	font-size: 16px;
	margin: 0 !important;
}
.question_content ul li,
.question_content.sideBar_L_isOpen ul li {
	list-style-type: none;
	margin-bottom: 16px;
	padding-top: 0 !important;
	font-size: 1.3125rem;
	display: list-item;
	text-align: -webkit-match-parent;
	unicode-bidi: isolate;
}
/* Answer  */
.answerLabel p {
	margin: 0 0 0 1rem;
}
/* Questions */
.answerLabel {
	display: flex;
	position: relative;
	cursor: pointer;
	user-select: none;
	font-size: 18px;
	align-items: center;
	width: 100%;
	padding: 10px 0 10px 16px;
	border-radius: 7px;
	color: var(--color_primary_darkGray_to_gray);
}
.answerLabel:hover {
	background-color: var(--hover_menuItem_gray_to_darkGray);
}
.answerLabel:active {
	background-color: var(--active_menuItem_gray_to_darkGray);
}
.answerLabel.isChecked:hover {
	background-color: var(--hover_menuItem_gray_to_darkGray);
}
.answerLabel.isChecked:active {
	background-color: var(--active_menuItem_gray_to_darkGray);
}
/* checkbox */
.checkBox {
	position: relative;
	top: 0;
	left: 0;
	height: 23px;
	min-height: 23px;
	width: 23px;
	min-width: 23px;
	background-color: white;
	border-radius: 4px;
	border: 2px solid var(--Blue);
}
.checkBox.isChecked {
	background-color: var(--Blue);
}
.answerLabel:hover .checkBox {
	background-color: var(--Blue);
}
.answerLabel:active .checkBox {
	background-color: #287bba;
}
.answerLabel:active .checkBox:after {
	display: block;
	left: 52%;
	top: 38%;
	width: 6px;
	height: 12px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: translate(-50%, -50%) rotate(45deg);
}
.answerLabel.isChecked:hover .checkBox {
	background-color: var(--Blue);
}
.answerLabel.isChecked:active .checkBox {
	background-color: #287bba;
}
.answerLabel input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
/* Hide CheckMark */
.checkBox:after {
	content: "";
	position: absolute;
	display: none;
}
/* Un-hide CheckMark */
.checkBox.isChecked:after {
	display: block;
	left: 52%;
	top: 38%;
	width: 6px;
	height: 12px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: translate(-50%, -50%) rotate(45deg);
}
/*!? Answer Submitted -----------------------------------------*/
/*? color the checkbox green or red */
.answerListItem.isCorrect .answerLabel {
	color: #00df00;
	background-color: var(--hover_menuItem_gray_to_darkGray);
}
.answerListItem.isCorrect .answerLabel .checkBox {
	background-color: #00df00;
	border: 2px solid #00df00;
}
.answerListItem.isCorrect .answerLabel.isChecked {
	color: #00df00;
	background-color: var(--hover_menuItem_gray_to_darkGray);
}
.answerListItem.isIncorrect .answerLabel.isChecked {
	color: #ff6a6a;
	background-color: var(--hover_menuItem_gray_to_darkGray);
}
/*? green bordered checkbox*/
.answerListItem.isIncorrect .answerLabel .checkBox.isChecked {
	position: relative;
	top: 0;
	left: 0;
	height: 23px;
	min-height: 23px;
	width: 23px;
	min-width: 23px;
	background-color: white;
	border-radius: 4px;
	border: 2px solid #ff6a6a;
}
/*? add check-mark if correct */
.answerListItem.isCorrect .answerLabel .checkBox:after {
	display: block;
	left: 52%;
	top: 38%;
	width: 6px;
	height: 12px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: translate(-50%, -50%) rotate(45deg);
}
/*? red checkbox with X check-mark*/
.answerListItem.isIncorrect .answerLabel .checkBox.isChecked:before {
	content: "";
	position: absolute;
	width: 3px; /* Adjust as needed */
	height: 18px; /* Consistent thickness */
	background-color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
}
.answerListItem.isIncorrect .answerLabel .checkBox.isChecked:after {
	content: "";
	position: absolute;
	width: 0px;
	height: 16px;
	background-color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
}
.answerListItem.isIncorrect .answerLabel .checkBox.isChecked {
	background-color: #ff6a6a;
}
/*? no pointer events once submitted */
.answerListItem.isCorrect * {
	pointer-events: none;
	cursor: default;
}
.answerListItem.isCorrect * {
	pointer-events: none;
	cursor: default;
}
.answerListItem.isIncorrect * {
	pointer-events: none;
	cursor: default;
}
/* Reason for answer correctness -----------------------------------------*/
.hint {
	-webkit-box-flex: 1;
	padding-left: 5%;
	padding-right: 5%;
	/* border: 1px solid #d6dade; */
	border-radius: 8px;
	margin: 5% 5% 0% 5%;
	visibility: hidden;
}
.hint.showHint {
	visibility: visible;
}
.hint p {
	min-height: 38px;
}
/* View Test Results -----------------------------------------*/
.viewTestResults {
	margin: 0 5% 0 auto;
	padding: 1vh 1vw 1vh 2vw;
	visibility: hidden;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	border-radius: 6px;
}
.viewTestResults:hover {
	background: var(--hover_menuButtonOpen_gray_to_darkGray);
}
.viewTestResults:active {
	background: var(--active_menuButtonOpen_gray_to_darkGray);
}
.viewTestResults p {
	margin: 0 40px 0 0;
	color: var(--color_readerHyperLink_brightBlue_to_skyBlue);
	transform: scale(1);
	transition: transform 400ms ease;
}
.viewTestResults svg {
	width: 40px;
	position: absolute;
	transform: scale(1);
	transition: transform 400ms ease;
}
.viewTestResults:hover p {
	transform: scale(1.1);
	transform-origin: center center;
}
.viewTestResults:hover svg {
	transform: scale(1.2);
	transform-origin: center center;
}
.viewTestResults:active p {
	transform: scale(1.15);
	transform-origin: center center;
}
.viewTestResults:active svg {
	transform: scale(1.25);
	transform-origin: center center;
}
.viewTestResults.testIsComplete {
	visibility: visible;
}

/* Cancel Submit Buttons ------------------------------------------------*/
.bottomSection {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}
.buttonSection {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	justify-content: flex-end;
	margin: 10px 5% 10px auto;
	padding: 10px 0 10px 16px;
}
/* cancel button */
.buttonCancelSection {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	justify-content: flex-end;
	margin: 0 5% 0 auto;
	padding: 10px 0 10px 16px;
}
.button_formatCancel {
	font-size: 15px;
	font-weight: 500;
	color: var(--BlackToGray);
	background-color: transparent;
	width: 80.4px;
	height: 36.8px;
	border-radius: 18px;
	cursor: pointer;
	border: solid 1px var(--Blue);
	transition: background-color 0.3s ease;
}
.button_formatCancel:hover {
	background-color: #ffcccc;
}
.button_formatCancel:active {
	background-color: #ff9999;
	border: solid 2px #ff9999;
}
.button_formatBack {
	font-size: 15px;
	font-weight: 500;
	color: var(--BlackToGray);
	background-color: transparent;
	width: 80.4px;
	height: 36.8px;
	border-radius: 18px;
	cursor: pointer;
	border: solid 1px var(--Blue);
	transition: background-color 0.3s ease;
}
.button_formatBack:hover {
	background-color: var(--BlueHover);
}
.button_formatBack:active {
	background-color: var(--Blue);
	border: solid 2px var(--Blue);
}
/* submit button */
.button_formatSubmit:disabled {
	font-size: 15px;
	font-weight: 500;
	color: rgb(239 236 236);
	background-color: #d0d0d0;
	width: 150.4px;
	height: 36.8px;
	border-radius: 18px;
	cursor: default;
	border: solid 1px #e8e7e7;
	margin-left: 12px;
	transition: background-color 0.6s ease, border 0.6s ease;
}
.button_formatSubmit:disabled:hover {
	background-color: #d0d0d0;
	transition: none;
}
.button_formatSubmit:disabled:active {
	background-color: #d0d0d0;
	border: solid 1px #e8e7e7;
	transition: none;
}
.button_formatSubmit {
	font-size: 15px;
	font-weight: 600;
	color: var(--WhiteToGray);
	background-color: var(--Blue);
	width: 150.4px;
	height: 36.8px;
	border-radius: 18px;
	cursor: pointer;
	border: solid 1px var(--Blue);
	margin-left: 12px;
	transition: background-color 0.6s ease, border 0.6s ease;
}
.button_formatSubmit:hover {
	background-color: var(--BlueHover);
	transition: none;
}
.button_formatSubmit:active {
	background-color: var(--Blue);
	border: solid 2px var(--Blue);
	transition: none;
}

/* Test Results Page */
.refreshButtonArrow {
	stroke: var(--Blue);
	stroke-width: 2;
}
.refreshButtonCircle {
	stroke: var(--Blue);
	stroke-width: 2;
	stroke-linecap: round;
}
.score_section {
	-webkit-box-flex: 1;
	padding-left: 2vw;
	padding-right: 2vw;
	margin: 0 auto auto 0;
	/* height: 30vh; */
	margin: 0 12px auto 12px;
	display: flex;
	flex-direction: column;
}
.score_content {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 8px 0 16px 0;
}
.score_content div {
	display: block;
	padding: 6px 0;
	text-align: center;
}

.score_content h3 {
	margin: 0;
	padding-bottom: 8px;
}
.score_content p {
	margin: 0;
	padding-bottom: 8px;
}
/* Reset Test Results Modal */
.blurredBackgroundContainer {
	display: flex;
	position: fixed;
	z-index: 4000;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0%;
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
	font-family: Roboto;

	background-color: var(--BlurredBackground);

	backdrop-filter: blur(6px); /* Chrome, Firefox */
	-webkit-backdrop-filter: blur(6px); /* Safari */
}
.overlay {
	display: flex;
	position: absolute;
	z-index: 4000;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0%;
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
	font-family: Roboto;

	background-color: var(--BlurredBackground);

	backdrop-filter: blur(2px); /* Chrome, Firefox */
	-webkit-backdrop-filter: blur(2px); /* Safari */
}
/* ****************************************************** Modal */
.modal {
	display: flex;
	z-index: 2000;
	position: fixed;

	height: 25vh;
	width: 25vw;

	min-height: 250px;
	min-width: 350px;

	max-height: 300px;
	max-width: 400px;

	border-top-left-radius: var(--borderRadius_modal);
	border-top-right-radius: 0;
	border-bottom-left-radius: var(--borderRadius_modal);
	border-bottom-right-radius: var(--borderRadius_modal);
	justify-content: center;
	color: var(--BlackToGray);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}
/* *********************************************** Modal Content */
.modalContentContainer {
	display: flex;
	box-sizing: border-box;
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 27px;
	padding: 40px;
	margin: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	/* border: 2px solid var(--WhiteToBlack); */
	background-color: var(--backgroundColor_menu_offWhite_to_offBlack);
}
.modalForm {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

.modalForm h2 {
	color: red;
	font-weight: 500;
	margin: 0;
}
.modalForm button {
	margin: auto;
}

/* Footer TaskBar */
.footerButton {
	z-index: 3000;
	position: relative;
	display: inline-grid;
	color: #b4b4b4;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	-webkit-appearance: button;
	margin: 0;
	place-content: center;
	height: 40px;
	min-width: unset;
	font-size: 14px;

	width: 36px;
	transition: none;
	background-color: var(--backgroundColor_menu_offWhite_to_offBlack);
	border: 0px solid red;
}
.footerButton:hover {
	background-color: var(--hover_menuButtonOpen_gray_to_darkGray);
}
.footerButton:active {
	background-color: var(--active_menuButtonOpen_gray_to_darkGray);
}

/* Questions Bottom Buttons -----------------------------------------*/
.handbook_footer_section_Outer {
	display: flex;
	width: 100%;
	height: 70px;
	position: absolute;
	bottom: 0;
	right: 0;
	padding-top: 30px;
}
.handbook_footer_section_Outer:hover .handbook_footer_section_Inner {
	transform: translateX(0);
}
.handbook_footer_section_Outer:hover .handbook_footer_section_Inner li {
	visibility: visible;
}
.handbook_footer_section_Outer:hover .handbook_footer_section_Inner li:first-child {
	padding: 0 0 0 0;
}
.handbook_footer_section_Inner {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0 1px 1px auto;
	padding: 0;
	justify-content: end;
	transition: transform 0.3s ease;
	transform: translateX(80%);
	height: 36px;
}
.handbook_footer_section_Inner li {
	display: flex;
	height: 100%;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	align-items: center;
	justify-content: center;
	visibility: hidden;
}
.handbook_footer_section_Inner li:first-child {
	padding: 0 12px 0 0;
	visibility: visible;
}
.handbook_footer_section_Inner li:last-child {
	padding: 0 12px 0 0;
}
.handbook_footer_section_Inner.open {
	transform: translateX(0);
}
.handbook_footer_section_Inner.open li {
	visibility: visible;
}
.handbook_footer_section_Inner.open li:first-child {
	padding: 0 0 0 0;
}

/* svg css */
.taskBarIconSvg {
	display: inline-block;
	user-select: none;
	vertical-align: text-bottom;
	overflow: visible;
	fill: none;
	width: 19px;
	padding-top: 2px;
}
.taskBarIconSvg circle {
	fill: #9e9e9e;
}
.taskBarIconSvg rect {
	fill: #9e9e9e;
}
.testResultsIconSvg {
	display: inline-block;
	user-select: none;
	vertical-align: text-bottom;
	overflow: visible;
	fill: none;
	width: 19px;
}
.testResultsIconSvg g rect {
	fill: #9e9e9e;
}
.testResultsIconSvg.active g rect {
	fill: var(--Blue);
}
.lightBulbSVG {
	display: inline-block;
	user-select: none;
	vertical-align: text-bottom;
	overflow: visible;
	fill: none;
	height: 19px;
}
.lightBulbSVG path {
	fill: #9e9e9e;
}
.lightBulbSVG g path {
	fill: #9e9e9e;
}
.lightBulbSVG.active path {
	fill: var(--Blue);
}
.lightBulbSVG.active g path {
	fill: var(--Blue);
}
.bookMarkIconSvg {
	display: inline-block;
	user-select: none;
	vertical-align: text-bottom;
	overflow: visible;
	fill: none;
	width: 23px;
}
.bookMarkIconSvg path {
	fill: #9e9e9e;
}
.bookMarkIconSvg.active path {
	fill: var(--Blue);
}
.commentBubbleIconSvg {
	display: inline-block;
	user-select: none;
	vertical-align: text-bottom;
	overflow: visible;
	fill: none;
	width: 18px;
}
.commentBubbleIconSvg path {
	fill: #9e9e9e;
}
.commentBubbleIconSvg.active path {
	fill: var(--Blue);
}
.thumbsUpIconSvg {
	display: inline-block;
	user-select: none;
	vertical-align: text-bottom;
	overflow: visible;
	fill: none;
	width: 26px;
}
.thumbsUpIconSvg path {
	fill: #9e9e9e;
}
.thumbsUpIconSvg.active path {
	fill: var(--Blue);
}
