/*! sideBar container ------------------------------------------------------*/
.sideBar_L_outerContainer {
	position: sticky !important;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border-right: 1px solid var(--borderColor_menu_offWhite_to_offBlack) !important;
	width: 0;
	height: calc(100vh - 1px);
	top: 0;
	background-color: var(--backgroundColor_menu_offWhite_to_offBlack);
	/* border-top: 1px solid #eeebee; */
	transition: transform 0.3s ease;
	transform: translateX(-100%);
	visibility: hidden;
	flex-grow: 0;
}
.sideBar_L_outerContainer.open {
	transform: translateX(0);
	width: 326px;
	visibility: visible;
	flex-grow: 0;
}
@media (max-width: 900px) {
	.sideBarOuterContainer {
		position: fixed !important;
		top: 0;
		left: 0;
	}
}
/*! tab section --------------------------------------------------------------*/
.sideBar_L_tabs_outerContainer {
	display: block;
	width: 100%;
	margin-top: 56px;
	padding-left: 35px;
	padding-right: 35px;
	color: var(--color_pageNav_menuTabs_primary_gray);
}
.sideBar_L_tabs_innerContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 40px;
}
.sideBar_L_tab_Name_onThisPage {
	font-weight: 600;
	margin-right: 14px;
	border-bottom: 2px solid var(--color_pageNav_menuTabs_primaryIsActive_borderBottom_black_to_offWhite);
	cursor: pointer;
	color: var(--color_pageNav_menuTabs_primaryIsActive_gray_black_to_offWhite) !important;
}
.sideBar_L_tab_Name_all {
	font-weight: 600;
	margin-right: 14px;
	cursor: pointer;
}
.sideBar_L_tab_Name_pinned {
	font-weight: 600;
	margin-right: 14px;
	cursor: pointer;
}
.sideBar_L_tabs_underline {
	width: 100%;
	border: 0;
	height: 1px;
	border-bottom: 1px solid var(--color_pageNav_menuTabs_borderBottom_offWhite_to_gray);
}
/*! Sidebar_L_ TOC Search------------------------------------------------------*/
.sideBar_L_TOC_SearchInputContainer {
	align-items: center;
	display: flex;
	position: relative;
	width: 100%;
	line-height: 1.15;
	font-weight: 550;
}
.sideBar_L_TOC_SearchInputContainer::before {
	background-color: #81868d;
	content: "";
	height: 1rem;
	left: 27px;
	mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24"><path stroke="none" d="M0 0h24v24H0z"/><circle cx="10" cy="10" r="7"/><path d="m21 21-6-6"/></svg>');
	position: absolute;
	width: 1rem;
	z-index: 100;
}
.sideBar_L_TOC_SearchInput {
	border-top: 1px solid var(--backgroundColor_SearchBarBorderTop_offWhite_to_offBlack) !important;
	border-right: 0px solid var(--borderColor_menu_offWhite_to_offBlack) !important;
	border-bottom: 0px solid var(--backgroundColor_SearchBarBorderTop_offWhite_to_offBlack) !important;
	border-left: 0px solid var(--backgroundColor_SearchBarBorderTop_offWhite_to_offBlack) !important;
	color: var(--BlackToWhite) !important;

	background-color: var(--backgroundColor_SearchBarBorderTop_offWhite_to_offBlack) !important;
	box-sizing: border-box;
	padding: 8px 8px 8px 40px;
	z-index: 10;
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	overflow-clip-margin: 0px !important;
	overflow: clip !important;
	transition: background-color 0.35s ease-in-out !important;
	padding-left: 50px !important;
	width: 325px;
	border-radius: 0 !important;
}
.sideBar_L_TOC_SearchInput::placeholder {
	color: #81868d !important;
}
.sideBar_L_TOC_SearchInput:focus::placeholder {
	opacity: 0 !important;
}
.sideBar_L_TOC_SearchInput:hover,
.sideBar_L_TOC_SearchInput:-webkit-autofill:hover,
.sideBar_L_TOC_SearchInput:focus,
.sideBar_L_TOC_SearchInput:-webkit-autofill:focus,
.sideBar_L_TOC_SearchInput.isFocused {
	border-top: 1px solid var(--backgroundColor_SearchBarBorderTop_offWhite_to_offBlack) !important;
	border-right: 0 !important;
	border-left: 0 !important;
	border-bottom: 0 !important;
	background-color: var(--backgroundColor_SearchBar_offBlack_to_offWhite) !important;
	outline: 0px solid #1a1c1e !important;
	box-shadow: 0 0 0px white !important;
	color: var(--WhiteToBlack) !important;
}
/*! toc Container------------------------------------------------------*/
.tocOuterContainer {
	width: 326px;
	display: block !important;
	overflow-y: auto !important;
	--scrollbar-width: 15px;
	height: calc(100vh - 264px);
}
.tocInnerContainer {
	margin-left: 16px;
}
.tocInnerContainer ul {
	display: block;
	margin: 0 !important;
	padding: 0 !important;
}
/*! toc Title ------------------------------------------------------*/
.tocTitleLabel {
	padding: 6px 8px 6px 12px !important;
	width: 100%;
	line-height: 1.5;
	word-break: break-word;
	color: white;
	font-weight: 400;
	text-decoration: none;
	border-radius: 0 !important;
	height: 55px !important;
	background: var(--colorGradient_readerHeaderTitle_from_blue_to_lightBlue_to_blue_to_black);
	cursor: pointer !important;
}
.tocTitleLabel:hover {
	background: var(--hover_readerHeaderTitle_lightBlue_to_blue) !important;
}
.tocTitleLabel:active {
	background: var(--Blue) !important;
}
.tocTitleLabel a {
	margin-bottom: auto;
	color: var(--color_readerSectionTitle_white_to_offWhite) !important;
}
/*! toc Parent Items ------------------------------------------------------*/
.contentContainer {
	list-style: none;
	font-size: 14px;
	padding-top: 0 !important;
}
.parentLabelOuterContainer {
	position: relative;
	display: flex;
	margin-left: 8px;
	/* margin-right: 8px; */
	background: unset;
	border: unset;
	width: calc(100% - 16px);
	text-align: unset;
	line-height: 20px;
}
.parentLabel:hover {
	background-color: var(--hover_menuItem_gray_to_darkGray);
}
.parentLabel:active {
	background-color: var(--active_menuItem_gray_to_darkGray);
}
.parentLabel.isActive {
	background-color: var(--active_menuItem_gray_to_darkGray);
}
.menuArrow {
	flex-shrink: 0;
	color: #848d97;
	margin-left: 8px;
	cursor: pointer;
	border-radius: 7px;
	padding: 6px 8px;
}
.menuArrow:hover {
	background-color: var(--hover_menuItem_gray_to_darkGray);
}
.menuArrow:active {
	background-color: var(--active_menuItem_gray_to_darkGray);
}
/*! toc Child Items ------------------------------------------------------*/
.childLabelOuterContainer.isVisible {
	padding: 0px;
	display: block !important;
}
.childLabelOuterContainer {
	padding: 0px;
	display: none !important;
}
.childLabelInnerContainer {
	position: relative;
	display: flex;
	margin-left: 8px;
	margin-right: 8px;
	border-radius: 7px;
}
.childLabelInnerContainer:before {
	content: "";
	display: none;
	margin-left: 0;
	width: 0;
}
.childLabelInnerContainer:hover {
	background-color: var(--hover_menuItem_gray_to_darkGray);
}
.childLabelInnerContainer:active {
	background-color: var(--active_menuItem_gray_to_darkGray);
}
.childLabelInnerContainer.isActive {
	background-color: var(--active_menuItem_gray_to_darkGray);
}
.childLabel {
	padding: 6px 8px 6px 16px;
	color: inherit;
	font-size: 14px;
	text-decoration: none;
	flex-grow: 1;
}
