.container {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 0;
	height: 100%;
	width: 100%;
}
/* Page 1 ------------------------------------------------------*/
.billboardContainer {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
}
.billboardContainer img {
	display: block;
	width: 100%;
	height: 100%;
	filter: blur(5px);
	object-fit: cover;
	object-position: left center;
	opacity: 0.9;
}
.topShadow {
	background-color: transparent;
	background-image: var(--BackgroundLinearGradient_Top_NavBarDemoLanding_White_to_Transparent_DarkGray_to_Transparent);
	background-position: 0 top;
	background-repeat: repeat-x;
	background-size: 100% 100%;
	top: 0;
	height: 11vw;
	opacity: 1;
	width: 100%;
	position: absolute;
	z-index: 10;
}
.leftShadow {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), transparent 85%);
	bottom: 0;
	left: 0;
	opacity: 1;
	position: absolute;
	right: 26.09%;
	top: 0;
	transition: opacity 0.5s;
	z-index: 8;
	filter: blur(5px);
}
.infoContainer {
	bottom: 20%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	left: 4%;
	position: absolute;
	width: 34%;
	z-index: 10;
	max-height: 1097px;
}
.featureTitle {
	margin-bottom: 1.2vw;
}
.featureTitle h1 {
	font-size: clamp(2.5rem, 10cqw, 5.5rem);
	font-style: italic;
	color: #163159;
	margin: 0;
	font-weight: 800;
	line-height: 0.95;

	text-transform: uppercase;
}
.featureDescription {
	margin: 0;
}
.featureDescription p {
	font-size: clamp(1rem, 3cqw, 1.7rem);
	font-style: normal;
	color: #fff;
	margin: 0.5vw 0 0 0;
	font-weight: 400;
	line-height: normal;

	margin-top: 0.1vw;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}
@media (max-width: 1950px) {
	/* for smaller than 1250px */
	.infoContainer {
		width: 44%;
	}
}
@media (max-width: 1250px) {
	/* for smaller than 1250px */
	.infoContainer {
		width: 64%;
	}
}
@media (max-width: 800px) {
	/* for smaller than 1250px */
	.infoContainer {
		left: 8%;
	}
}
.buttonsContainer {
	display: flex;
	line-height: 88%;
	margin-top: 1.5vw;
	white-space: nowrap;
	position: relative;
	z-index: 10;
}
.startButton {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	font-size: 2vw;
	text-decoration: none;
	height: 50px;
	width: 180px;

	margin-top: 0 !important;
	margin-right: 12px !important;
	margin-bottom: 12px !important;
	margin-left: 0 !important;

	padding-top: 7px !important;
	padding-left: 25px !important;
	padding-right: 30px !important;
	padding-bottom: 7px !important;

	color: var(--BlackToWhite);
	background-color: var(--WhiteToBlack);
}
.moreInfoButton {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	font-size: 2vw;
	text-decoration: none;
	height: 50px;
	width: 180px;

	margin-top: 0 !important;
	margin-right: 12px !important;
	margin-bottom: 12px !important;
	margin-left: 0 !important;

	padding-top: 7px !important;
	padding-left: 25px !important;
	padding-right: 30px !important;
	padding-bottom: 7px !important;

	color: white;
	background-color: rgba(109, 109, 110, 0.7);
	opacity: 0.9;
}
.buttonsContainer svg {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90%;
	line-height: 0;
}
.buttonsContainer span {
	display: block;
	font-size: clamp(16px, 1.6vw, 20px);
	font-weight: 500;
	line-height: 1.4;
	cursor: pointer;
	margin-left: 12px;
}
/* Page 2 ------------------------------------------------------*/
.seoContent_outer {
	display: flex;
	position: relative;
	flex-direction: column;
	z-index: 1;
	height: 100vh;
	width: 80%;
	margin: 10px 0;
	overflow: visible;
}
.seoContent_inner {
	display: flex;
	position: relative;
	flex-direction: column;
	z-index: 2;
	height: 100vh;
	max-width: 1728px;
	width: 80%;
	margin: auto;
	overflow: visible;
}

/* Page 3 ------------------------------------------------------*/
.courseSelections {
	display: flex;
	position: relative;
	background-color: black;
	min-height: 38vh;
	width: 100%;
	min-width: 400px;
	border-top-left-radius: 36px;
	border-top-right-radius: 36px;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	z-index: 2;
}
.courseSelections ul {
	list-style: none;
	padding: 0px;
	min-width: 20%;
	margin: 0;
}
.courseSelections ul li {
	padding-top: 0 !important;
}
.outerContainer_Top {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	max-width: 3840px;
	margin: 0px auto 0px auto;
	padding-top: 8px;
	top: 1%;
}
.innerContainer_Top {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 7vh;
	width: 95%;
	padding-right: 0.75rem !important;
	margin: auto;
}
.innerContainer_Top li {
	list-style: none;
}
.LogoContainer {
	display: flex;
	width: 3.2rem;
	height: 3.2rem;
}
.Logo {
	display: flex;
	width: 3.589rem;
	height: 3.589rem;
	padding-bottom: 7px;
	color: var(--WhiteToGray);
}
.rowHeaderTitle {
	font-family: Montserrat;
	font-size: 2rem;
	letter-spacing: -1.3px;
	margin-left: 45px;
	font-weight: 100;
	cursor: pointer;
	margin-top: 5px;
	color: var(--WhiteToGray);
}
.rowHeaderTitle:hover {
	color: var(--Blue);
}
.rowContainer {
	box-sizing: border-box;
	background-color: var(--Black);
	width: 100%;
	height: 38vh;
	margin: auto;
	padding: 0 2%;
}
.handlePrev {
	background: hsla(0, 0%, 8%, 0.5);
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	left: -2px;
	cursor: pointer;
	bottom: 0;
	color: #fff;
	display: flex;
	justify-content: center;
	position: absolute;
	text-align: center;
	top: 0;
	width: 4%;
	z-index: 20;
}
.handleNext {
	right: 10px;
}
.indicatorIcon {
	transform-origin: 55% 50%;
	align-self: center;
	display: none;
	font-size: 2.5vw;
	height: auto;
	transition: transform 0.1s ease-out 0s;
	speak: none;
	font-family: nf-icon;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1;
	text-transform: none;
	transform: translateZ(0);
}
.sliderItem {
	width: 16.66%;
	box-sizing: border-box;
	display: inline-block;
	padding: 0 0.2vw;
	position: relative;
	vertical-align: top;
	white-space: normal;
	z-index: 100;
	flex-shrink: 0;
	flex-grow: 0;
}
@media (max-width: 1300px) {
	.sliderItem {
		width: 20%;
	}
}
@media (max-width: 1099px) {
	.sliderItem {
		width: 25%;
	}
}
@media (max-width: 900px) {
	.sliderItem {
		width: 30%;
	}
}
@media (max-width: 800px) {
	.sliderItem {
		width: 50%;
	}
}
.titleCard {
	display: block;
	position: relative;
	z-index: 1;
}
.sliderRefocus {
	display: block;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	background-color: transparent;
}
.boxartContainer {
	height: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	padding: 28.125% 0;
	border-radius: 0.2vw;
	background-color: white;
}
.boxartImage {
	cursor: pointer;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100;
}
.overlay {
	display: flex;
	position: absolute;
	z-index: 4000;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0%;
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
	font-family: Roboto;

	background-color: var(--BlurredBackground);

	backdrop-filter: blur(2px); /* Chrome, Firefox */
	-webkit-backdrop-filter: blur(2px); /* Safari */
}
.overlay p {
	font-size: 16px;
	color: black;
	background-color: var(--Blue);
	border-radius: 5px;
	padding: 0 2px;
}
