/*! Main Container ------------------------------------------------------*/
.container {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 0;
	height: 100%;
	width: 100%;
}
/*! Feature ------------------------------------------------------*/
.billboardContainer {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}
.billboardContainer img {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	filter: blur(5px);
}
/* @media (max-width: 1300px) {
	.billboardContainer img {
		background-position: 50%;
		background-size: cover;
	}
} */
.trailerVignette {
	background: linear-gradient(77deg, rgba(0, 0, 0, 0.6), transparent 85%);
	bottom: 0;
	left: 0;
	opacity: 1;
	position: absolute;
	right: 26.09%;
	top: 0;
	transition: opacity 0.5s;
	z-index: 8;
	filter: blur(5px);
}
.vignetteLayerTop {
	background-color: transparent;

	background-image: var(--BackgroundLinearGradient_Top_NavBarDemoLanding_White_to_Transparent_DarkGray_to_Transparent);
	background-position: 0 top;
	background-repeat: repeat-x;
	background-size: 100% 100%;
	top: 0;
	height: 11vw;
	opacity: 1;
	width: 100%;
	position: absolute;
	z-index: 10;
}
.fillContainer {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 100%;
}
.infoMetaLayer {
	bottom: 30%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	left: 4%;
	position: absolute;
	top: 0;
	width: 36%;
	z-index: 10;
	max-height: 1097px;
}
@media (max-width: 1400px) {
	.infoMetaLayer {
		left: 52px;
	}
}
.logoAndText {
	transition: transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	width: 100%;
}
.titleWrapper {
	transform-origin: left bottom;
	transform: scale(1) translate3d(0px, 0px, 0px);
	transition-duration: 1300ms;
	transition-delay: 0ms;
}
.billboardTitle {
	margin-bottom: 1.2vw;
	min-height: 13.2vw;
	position: relative;
}
.billboardTitleText {
	font-size: 5vw;
	color: #163159;
	margin: 0;
	font-family: Montserrat;
	font-style: italic;
	font-weight: 800;
	line-height: 0.95;
	text-transform: uppercase;
}
.titleLogo {
	transform-origin: bottom left;
	width: 100%;
}
.infoWrapper {
	transform: translate3d(0px, 0px, 0px);
	transition-duration: 1300ms;
	transition-delay: 0ms;
	opacity: 1;
}
.infoWrapperFade {
	opacity: 1;
	transition-duration: 600ms;
	transition-delay: 200ms;
}
.synopsisFadeContainer {
	margin: 0.5vw 0 0;
}
.synopsis {
	margin: 0.5vw 0 0;
	color: #fff;
	font-size: 1.2vw;
	font-weight: 400;
	line-height: normal;
	margin-top: 0.1vw;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
	width: 100%;
	font-family:
		Netflix Sans,
		Helvetica Neue,
		Segoe UI,
		Roboto,
		Ubuntu,
		sans-serif;
}
.billboardLinks {
	display: flex;
	line-height: 88%;
	margin-top: 1.5vw;
	white-space: nowrap;
	position: relative;
	z-index: 10;
}
.startButton {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;

	background-color: white;
	color: black;
	font-size: 2vw;
	line-height: 88%;

	padding-left: 2vw !important;
	padding-right: 2.4vw !important;
	margin-left: 0 !important;
	margin-bottom: 1vw !important;
	margin-right: 1vw !important;

	border: 0;
	border-radius: 4px;
	cursor: pointer;
	text-decoration: none;
}
.playButtonIconOuterContainer {
	line-height: 0;
}
.playButtonIconInnerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2.4vw;
	width: 2.4vw;
	line-height: 0;
}
.playButtonIconInnerContainer svg {
	height: 100%;
	width: 100%;
	fill: none;
}
.playButtonSpacer {
	width: 1vw;
}
.playText {
	-webkit-font-smoothing: antialiased;
	display: block;
	font-size: 1.6vw;
	font-weight: 600;
	line-height: 2.4vw;
	color: black;
}
@media (min-width: 1250px) {
	.startButton {
		padding-left: 25px !important;
		padding-right: 30px !important;
		margin-bottom: 12px !important;
		margin-right: 12px !important;
		height: 50px;
		width: 142px;
	}
	.playButtonIconInnerContainer {
		height: 30px;
		width: 30px;
	}
	.playButtonSpacer {
		width: 1rem;
	}
	.playText {
		font-size: 20px;
	}
}
.moreInfoButton {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	padding: 0.8vw;
	padding-left: 2vw !important;
	padding-right: 2.4vw !important;
	background-color: rgba(109, 109, 110, 0.7);
	margin: 0;
	margin-bottom: 1vw !important;
	margin-right: 1vw !important;
	color: white;
	border: 0px;
	border-radius: 4px;
	cursor: pointer;
	opacity: 1;
}
.moreInfoButtonIconOuterContainer {
	line-height: 0;
	display: block;
}
.moreInfoButtonIconInnerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2.4vw;
	width: 2.4vw;
	line-height: 0;
}
.moreInfoButtonIconInnerContainer svg {
	height: 100%;
	width: 100%;
}
.moreInfoButtonSpacer {
	display: flex;
	position: relative;
	box-sizing: border-box;
	width: 1vw;
	height: 100%;
}
.moreInfoButtonText {
	display: block;
	font-size: 1.6vw;
	font-weight: 500;
	line-height: 2.4vw;
	cursor: pointer;
}
@media (min-width: 1250px) {
	.moreInfoButton {
		padding-left: 25px !important;
		padding-right: 30px !important;
		margin-bottom: 12px !important;
		margin-right: 12px !important;
		height: 50px;
		width: 180px;
	}
	.moreInfoButtonIconInnerContainer {
		height: 30px;
		width: 30px;
	}
	.moreInfoButtonSpacer {
		width: 1rem;
	}
	.moreInfoButtonText {
		font-size: 20px;
	}
}
/*! Row of Contents ------------------------------------------------------*/
.seoContent_outer {
	display: flex;
	position: relative;
	flex-direction: column;
	z-index: 1;
	height: 100vh;
	width: 80%;
	margin: 10px 0;
	overflow: visible;
}
.seoContent_inner {
	display: flex;
	position: relative;
	flex-direction: column;
	z-index: 2;
	height: 100vh;
	max-width: 1728px;
	width: 80%;
	margin: auto;
	overflow: visible;
}

.courseSelections {
	display: flex;
	position: relative;
	background-color: black;
	min-height: 38vh;
	width: 100%;
	min-width: 400px;
	border-top-left-radius: 36px;
	border-top-right-radius: 36px;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	z-index: 2;
}
.courseSelections ul {
	list-style: none;
	padding: 0px;
	min-width: 20%;
	margin: 0;
}
.courseSelections ul li {
	padding-top: 0 !important;
}
.outerContainer_Top {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	max-width: 3840px;
	margin: 0px auto 0px auto;
	padding-top: 8px;
	top: 1%;
}
.innerContainer_Top {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 7vh;
	width: 95%;
	padding-right: 0.75rem !important;
	margin: auto;
}
.innerContainer_Top li {
	list-style: none;
}
.LogoContainer {
	display: flex;
	width: 3.2rem;
	height: 3.2rem;
}
.Logo {
	display: flex;
	width: 3.589rem;
	height: 3.589rem;
	padding-bottom: 7px;
	color: var(--WhiteToGray);
}
.rowHeaderTitle {
	font-family: Montserrat;
	font-size: 2rem;
	letter-spacing: -1.3px;
	margin-left: 45px;
	font-weight: 100;
	cursor: pointer;
	margin-top: 5px;
	color: var(--WhiteToGray);
}
.rowHeaderTitle:hover {
	color: var(--Blue);
}

.rowContainer {
	box-sizing: border-box;
	background-color: var(--Black);
	width: 100%;
	height: 38vh;
	margin: auto;
	padding: 0 2%;
}

.handlePrev {
	background: hsla(0, 0%, 8%, 0.5);
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	left: -2px;
	cursor: pointer;
	bottom: 0;
	color: #fff;
	display: flex;
	justify-content: center;
	position: absolute;
	text-align: center;
	top: 0;
	width: 4%;
	z-index: 20;
}
.handleNext {
	right: 10px;
}
.indicatorIcon {
	transform-origin: 55% 50%;
	align-self: center;
	display: none;
	font-size: 2.5vw;
	height: auto;
	transition: transform 0.1s ease-out 0s;
	speak: none;
	font-family: nf-icon;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1;
	text-transform: none;
	transform: translateZ(0);
}

.sliderItem {
	width: 16.66%;
	box-sizing: border-box;
	display: inline-block;
	padding: 0 0.2vw;
	position: relative;
	vertical-align: top;
	white-space: normal;
	z-index: 100;
	flex-shrink: 0;
	flex-grow: 0;
}
@media (max-width: 1300px) {
	.sliderItem {
		width: 20%;
	}
}
@media (max-width: 1099px) {
	.sliderItem {
		width: 25%;
	}
}
@media (max-width: 900px) {
	.sliderItem {
		width: 30%;
	}
}
@media (max-width: 800px) {
	.sliderItem {
		width: 50%;
	}
	.infoMetaLayer {
		width: 39%;
	}
}

.titleCard {
	display: block;
	position: relative;
	z-index: 1;
}
.sliderRefocus {
	display: block;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	background-color: transparent;
}
.boxartContainer {
	height: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	padding: 28.125% 0;
	border-radius: 0.2vw;
	background-color: white;
}
.boxartImage {
	cursor: pointer;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100;
}
.overlay {
	display: flex;
	position: absolute;
	z-index: 4000;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0%;
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
	font-family: Roboto;

	background-color: var(--BlurredBackground);

	backdrop-filter: blur(2px); /* Chrome, Firefox */
	-webkit-backdrop-filter: blur(2px); /* Safari */
}
.overlay p {
	font-size: 16px;
	color: black;
	background-color: var(--Blue);
	border-radius: 5px;
	padding: 0 2px;
}
