.outer_container_top {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: white;
    top: -64px;
    /* height: Calc(100vh - 64px); */
    height: 100vh;
    width: 100%;
    min-width: 400px;
    background-size: contain;           /* Use 'cover' to scale the background image to cover the entire container */
    background-repeat: no-repeat;       /* Prevent the background image from repeating */
    overflow: hidden;
}

.inner_container_top{
    z-index: 1;
    position: relative;
    flex-direction: column;
    display: flex;
    margin: auto;
    max-width: 1728px;
    height: Calc(100vh - 64px);
    width:80%;
}

.inner_container_top img {
    z-index: -1;                 /* Set a negative z-index to place the image behind the main div */
    position: absolute;
    object-position: left top;
    left: -20px;
    margin-top: 10vh;
    margin-left: 0px;
    margin-right: auto;
    overflow: hidden;
}

.caption {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 35vh;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: auto;
    align-items: center;
    height: 80vh;
}

.caption h1 {
    font-size: 6rem;
    letter-spacing: -.3rem;
    margin: 0px;
    text-shadow: 0rem .2rem .2rem black;
    margin-left: 0px;
    margin-right: auto;
}

.caption h3 {
    font-size: 1.6rem;
    font-family: roboto;
    font-weight: 400;
    margin-left: 0px;
    margin-right: auto;
}

.buttonSection {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 2.5rem;
    min-height: 2.5rem;
    width: 100%;
    margin-bottom: 17vh;
}

/*========== Animations ==========*/

@keyframes slideFromBotToPosition {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-100px);
    }
}

@media (max-width: 1011px) {            /* Width under 1011px */
    .caption h1 {
        font-size: 3.7rem;
        letter-spacing: .15rem;
    }

    .caption h3 {
        font-size: 1.3rem;
        letter-spacing: 0rem;
    }
}

@media (max-width: 550px) {            /* Width under 1011px */
    .caption {
        margin-top: 35vw;
    }
}

@media (max-height: 700px) {            /* Height under 700px */
    .caption {
        margin-top: calc(35vh - 200px);
    }
}

@media (max-height: 550px) {            /* Height under 700px */
    .caption {
        margin-top: 0px;
    }
}