.outer_container_top {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: white;
    height: Calc(100vh - 48px);
    width: 100%;
    min-width: 400px;
    background-size: contain;           /* Use 'cover' to scale the background image to cover the entire container */
    background-repeat: no-repeat;       /* Prevent the background image from repeating */
    overflow: hidden;
}
.inner_container_top {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1728px;
    height: calc(100vh - 48px);
    width:80%;
    overflow: visible;
}
.inner_container_img {
    z-index: 1;                 
    position: absolute;
    object-position: left top;
    left: -20px;
    margin-top: 10vh;
    margin-left: 0px;
    margin-right: auto;
}
.caption {
    z-index: 3 ;
    position: absolute;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 35vh;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: auto;
    align-items: center;
    height: 80vh;
}
.caption h1 {
    font-size: 6rem;
    letter-spacing: -.3rem;
    margin: 0px;
    text-shadow: 0rem .2rem .2rem black;
    margin-left: 0px;
    margin-right: auto;
}
.caption h3 {
    font-size: 1.6rem;
    font-family: roboto;
    font-weight: 400;
    margin-left: 0px;
    margin-right: auto;
}
/*========== copied from .inner_container_top img ==========*/  

.one    { position: absolute; z-index: 100; top: calc(10vh + 21px); left: -20px; }
.two    { position: absolute; z-index: 90;  top: calc(10vh + 26.8px); left: 104px; }
.three  { position: absolute; z-index: 80;  top: calc(10vh + 61.8px); left: 154px; }
.four   { position: absolute; z-index: 70;  top: calc(10vh + 107px); left: 70px; }
.five   { position: absolute; z-index: 95;  top: calc(10vh + 103px); left: 280px; }
.six    { position: absolute; z-index: 80;  top: calc(10vh + 204px); left: 175px; }
.seven  { position: absolute; z-index: 2;   top: calc(10vh + 282px); left: 320px; }
.eight  { position: absolute; z-index: 1;   top: calc(10vh + 373px); left: 270px; }

.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover, .seven:hover, .eight:hover { z-index: 1000;}

.Logo1 { height: 140px;     width: 134.99px; }
.Logo2 { height: 71.04px;   width: 68.49px; }
.Logo3 { height: 59.2px;    width: 57.08px; }
.Logo4 { height: 73px;      width: 70.38px; }
.Logo5 { height: 90px;      width: 86.77px; }
.Logo6 { height: 62px;      width: 59.78px; }
.Logo7 { height: 71.04px;   width: 68.496px; }
.Logo8 { height: 50px;      width: 48.2px; }

.Logo1:hover, .Logo2:hover, .Logo3:hover, .Logo4:hover, .Logo5:hover, .Logo6:hover, .Logo7:hover, .Logo8:hover {
    cursor: pointer;
    transform: rotate(180deg);
    animation:
    around .18s ease-in forwards;
}

/*========== Animations ==========*/
@keyframes around {            
    0% {transform: rotate(22.5deg);}
    33% {transform: rotate(45deg);}
    66% {transform: rotate(67.5deg);}
    100% {transform: rotate(90deg);}
}
@keyframes slideFromBotToPosition {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-100px);
    }
}
@media (max-width: 1011px) {            /* Width under 1011px */
    .caption h1 {
        font-size: 3.7rem;
        letter-spacing: .15rem;
    }

    .caption h3 {
        font-size: 1.3rem;
        letter-spacing: 0rem;
    }
}
@media (max-width: 550px) {            /* Width under 1011px */
    .caption {
        margin-top: 35vw;
    }

}
@media (max-height: 700px) {            /* Height under 700px */
    .caption {
        margin-top: calc(35vh - 200px);
    }
}
@media (max-height: 550px) {            /* Height under 700px */
    .caption {
        margin-top: 0px;
    }
}