.outer_container_top {
    z-index: 100;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: white;
    height: Calc(100vh - 48px);
    width: 100%;
    min-width: 400px;

    background-size: contain;           /* Use 'cover' to scale the background image to cover the entire container */
    background-repeat: no-repeat;       /* Prevent the background image from repeating */
    overflow: hidden;
}
.inner_container_top {
    z-index: 100;
    position: absolute;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1728px;
    height: calc(100vh - 48px);
    width:80%;
    overflow: visible;
}
.caption {
    z-index: 300 ;
    position: absolute;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 35vh;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: auto;
    align-items: center;
    height: 80vh;
    pointer-events: none; /* Text ignores pointer events, allows for the icons to still be selected even-though they are set behind the text */
}
.caption h1 {
    font-size: 6rem;
    letter-spacing: -.3rem;
    margin: 0px;
    text-shadow: 0rem .2rem .2rem black;
    margin-left: 0px;
    margin-right: auto;
}
.caption h3 {
    font-size: 1.6rem;
    font-family: roboto;
    font-weight: 400;
    margin-left: 0px;
    margin-right: auto;
}
.buttonSection {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 2.5rem;
    min-height: 2.5rem;
    width: 100%;
    margin-bottom: 17vh;
}

.Logo1 { height: 119.00px;  width: 119.00px;
    position: absolute; z-index: 100; top: calc(10vh + 16px);     left: -3px;     transform: rotate(-18deg);  
    border-radius: 2px ;  box-shadow: -8px -8px 16px #ffd699, 8px 8px 16px #a1734a;
}
.Logo2 { height: 71.00px;   width: 71.00px;
    position: absolute; z-index: 90;  top: calc(10vh + 24px);     left: 103px;    transform: rotate(-2deg);
    border-radius: 2px ;  box-shadow: -6px -6px 12px #9e9ef7, 6px 6px 12px #3e41a0;
}
.Logo3 { height: 59.00px;   width: 59.00px;
    position: absolute; z-index: 80;  top: calc(10vh + 59px);   left: 154px;    transform: rotate(-12deg);
    border-radius: 2px ;  box-shadow: -6px -6px 12px #fad7a2, 6px 6px 12px #a1734a;
}
.Logo4 { height: 73.00px;   width: 73.00px;
    position: absolute; z-index: 70;  top: calc(10vh + 97px);    left: 65px;     transform: rotate(8deg);
    border-radius: 2px ; box-shadow:  -6px -6px 12px #fcff99, 6px 6px 12px #737135;
}
.Logo5 { height: 90.00px;   width: 90.00px;
    position: absolute; z-index: 95;  top: calc(10vh + 103px);    left: 280px;    transform: rotate(24deg);
    border-radius: 2px ; box-shadow: -8px -8px 16px #b3ff99, 8px 8px 16px #4c7c39;
}
.Logo6 { height: 64.00px;   width: 64.00px;
    position: absolute; z-index: 80;  top: calc(10vh + 204px);    left: 175px;    transform: rotate(0deg);
    border-radius: 2px ;  box-shadow: -6px -6px 12px #ffff99, 6px 6px 12px #737135;
}
.Logo7 { height: 71.00px;   width: 71.00px;
    position: absolute; z-index: 20;  top: calc(10vh + 278px);    left: 317px;    transform: rotate(20deg);
    border-radius: 2px ; box-shadow: -6px -6px 12px  #b7f99e, 6px 6px 12px #3c6d35;
}
.Logo8 { height: 40.00px;   width: 40.00px;
    position: absolute; z-index: 10;  top: calc(10vh + 363px);    left: 275px;    transform: rotate(-30deg);
    border-radius: 2px ;  box-shadow: -4px -4px 8px #ce99ff, 4px 4px 8px #784aa1;
}

.Logo1:hover, .Logo2:hover, .Logo3:hover, .Logo4:hover, .Logo5:hover, .Logo6:hover, .Logo7:hover, .Logo8:hover {
    z-index: 1000;
    cursor: pointer;
    transform: rotate(0deg) scale(1.2);
    transition: 500ms;
}

.Logo1:focus{
    transform: rotate(342deg);
    transition: transform 1s;
}
.Logo2:focus{
    transform: rotate(358deg);
    transition: transform 1s;
}
.Logo3:focus{
    transform: rotate(348deg);
    transition: transform 1s;
}
.Logo4:focus{
    transform: rotate(368deg);
    transition: transform 1s;
}
.Logo5:focus{
    transform: rotate(384deg);
    transition: transform 1s;
}
.Logo6:focus{
    transform: rotate(360deg);
    transition: transform 1s;
}
.Logo7:focus{
    transform: rotate(380deg);
    transition: transform 1s;
}
.Logo8:focus{
    transform: rotate(330deg);
    transition: transform 1s;
}

/*========== Media Query ==========*/
@media (max-width: 1011px) {            /* Width under 1011px */
    .caption h1 {
        font-size: 3.7rem;
        letter-spacing: .15rem;
    }

    .caption h3 {
        font-size: 1.3rem;
        letter-spacing: 0rem;
    }
}
@media (max-width: 550px) {            /* Width under 1011px */
    .caption {
        margin-top: 35vw;
    }

}
@media (max-height: 700px) {            /* Height under 700px */
    .caption {
        margin-top: calc(35vh - 200px);
    }
}
@media (max-height: 550px) {            /* Height under 700px */
    .caption {
        margin-top: 0px;
    }
}
/*========== Animations ==========*/
@keyframes around {            
    0% {transform: rotate(0deg);}
    33% {transform: rotate(-12deg);}
    66% {transform: rotate(-7deg);}
    100% {transform: rotate(0deg);}
}
@keyframes slideFromBotToPosition {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-100px);
    }
}