.middleMainSection {
    scroll-snap-align: top;
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: white;
    color: black;
}
.middleMainContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.left{
    width: 35vw;
    height: 100vh;
}

.right{
    display: flex;
    flex-direction: column;
    width: 75vw;
    height: 100vh;
}
.title{
    font-size: 6rem;
    font-family: Montserrat;
    margin-top: 5vh;
    margin-bottom: 5vh
}
.content{
    display: flex;
    font-size: 1.1rem;
    flex-direction: column;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: .35vw;
    margin-top: 0px;
}
.line{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-right: 11%;
}
.sub_title{
    font-family: Roboto;
    width: 27vw;
    font-weight: 500;
    font-size: 1.6rem;
}
.sub_content{
    font-family: Roboto;
    font-size: 1.3rem;
    line-height: 1.3;
    width: 100%;
    min-width: 175px;
}

@media (max-width: 1011px) {            /* Width under 1011px */

    .left{
        width: calc(75vw - 50vw);
    }
    .title{
        font-size: 4.5rem;
    }

    .sub_title {
        font-weight: 500;
        font-size: 1.3rem;
    }

    .sub_content {
        font-size: 1rem;
        line-height: 1.3;
    }
}

.break{
    border-bottom: .5px solid #666666;
    margin-top: 4vh;
    margin-bottom: 4vh;
    width: 89%;
}

@media (min-width: 2400px) {
    .break {min-width: 1530px};

}

@media (min-width: 3024px) {
    .break {
        min-width: 1720px;
        max-width: 1680px
    }
}