    .main {
        z-index: 1000;
        position: relative;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        background-color: white;
        padding: 130px 0;
        height: 100vh;
        width: 100vw;
        background-size: contain; /* Adjust the background size to contain within the container */
        background-repeat: no-repeat; /* Prevent the background image from repeating */
        resize: both;
        
    }

.main img {
    z-index: -1; /* Set a negative z-index to place the image behind the main div */
    position: absolute;
    left: 0%;
    object-fit:none;
}

.caption {
    
    margin-top: 500px;
    max-width: 1728px;
    margin-left: 8%;
    margin-right: 4%;
    padding-right: 2%;
    width:80%;
}

.caption h1 {

    font-size: 6rem;
    letter-spacing: -.3rem;
    margin-bottom: 0%;
    text-shadow: 0rem .2rem .2rem black;
}

.caption h3 {

    font-size: 1.6rem;
    font-family: roboto;
    font-weight: 400;
    margin-top: 0%;
}

.but {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1728px;
    
    padding-right: 6%;
    width: 100%;
}

/*========== Animations ==========*/

@keyframes slideFromBotToPosition {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-100px);
    }
}

/*========== Media Queries --WIDTH ==========*/

/* Devices under 1550px */
@media (max-width: 1550px) {
    .main {
        /* scroll-snap-align: start; */
    }

    /* makes it for a smoother transition because of caption moving expanding or squishing during window width change*/
    .caption {
        margin-left: 8%; 
    }
}

/* Width under 1011px */
@media (max-width: 1011px) {
    .caption {
        margin-top: 50px;
    }

    .caption h1 {
        font-size: 3.7rem;
        letter-spacing: .15rem;
        padding-bottom: .5rem;
    }

    .caption h3 {
        font-size: 1.3rem;
        letter-spacing: 0rem;
        padding-bottom: 1.2rem;
    }
}

@media (max-width: 1500) {
    .main img {

        height: 1285px;
        width: 1285px;
    }
}

/* Width over 1011px */
@media (min-width: 1011px) {
    .caption {
        margin-top: 10px;
    }
}

/* Width over 1550px */
@media (min-width: 1550px) {
    .caption {
        margin-top: 15px;
    }
}