.main {
    display: flex;
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100%;
    background-color: white;
    color: black;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 8rem;
}