.outer_container_nav {                   /*Desktop 1st workflow. Starting at 3440 ultra wide screen*/
    display: flex;
    position: static;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 100%;
    max-width: 3840px;
    margin: 0px auto 8px auto;
    padding-top: 8px;
}

.inner_container_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 95%;
    padding: 0;
    margin: auto;
    color: var(--white);
}

/* Media Queries

@media(max-width: 2560px){ 
    .outer_container_nav{
        max-width: 1920px; 
    }
    .inner_container_nav{

    }
}
@media(max-width: 1920px){
    .outer_container_nav{
        max-width: 1536px;
    }
    .inner_container_nav{

    }
}
@media(max-width: 1440px){
    .outer_container_nav{
        max-width: 1366px;
    }
    .inner_container_nav{

    }
}
@media(max-width: 1366px){
    .outer_container_nav{
        max-width: 1280px;
    }
    .inner_container_nav{

    }
}
@media(max-width: 1280px){
    .outer_container_nav{
        max-width: 1024px;
    }
    .inner_container_nav{

    }
}
@media(max-width: 1024px){
    .outer_container_nav{
        max-width: 1024px;
    }
    .inner_container_nav{

    }
}
@media(max-width: 768px){
    .outer_container_nav{
        max-width: 640px;
    }
    .inner_container_nav{

    }
}
@media(max-width: 640px){
    .outer_container_nav{
        width: 100%;
    }
    .inner_container_nav{
    }
} */
@media(max-width: 475px){
    .outer_container_nav{
        width: 100%;
        min-width: 375px;
    }
    .inner_container_nav .NavItem2{
        display: none;
    }
}

.Logo {
    display: flex;
    height: 3.7rem;
    width: 3.57rem;
}

.Logo:hover {
    cursor: pointer;
    transform: rotate(180deg);
    animation: around .18s ease-in forwards;
}

@keyframes around {                         /*========== Animation ==========*/
    0% {
        transform: rotate(22.5deg);
    }
    33% {
        transform: rotate(45deg);
    }
    66% {
        transform: rotate(67.5deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

.NavItem1 {
    display: flex;
    margin-right: auto;
    justify-content: flex-start;
}

.NavItem2 {
    display: block;
    margin-left: auto;
    justify-content: flex-end;
}

.NavItem3 {
    display: flex;
    margin-left: 60px;
    justify-content: flex-end;
}

.avatar {
    display: flex;
    height: 2.2rem;
    width: 2.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    align-items: center;
}