.outer_container_nav {              
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 100%;
    max-width: 3840px;
    margin: 0 auto;
    top: 0;
    z-index: 1000;
    background-color: #4f4f4f68;
    transition: top 0.3ms;
}

.inner_container_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 100vw;
    padding: 0;
    /* padding-top: 12px; */
    margin: 0;
    color: var(--white);
}

@media(max-width: 475px){
    .outer_container_nav{
        width: 100%;
        min-width: 375px;
    }
    .inner_container_nav .NavItem2{
        display: none;
    }
}

.Logo {
    display: flex;
    height: 3.7rem;
    width: 3.57rem;
}

.Logo:hover {
    cursor: pointer;
    transform: rotate(180deg);
    animation: around .18s ease-in forwards;
}

@keyframes around {                         /*========== Animation ==========*/
    0% {
        transform: rotate(22.5deg);
    }
    33% {
        transform: rotate(45deg);
    }
    66% {
        transform: rotate(67.5deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

.NavItem1 {
    display: flex;
    margin-left: 2.5%;
    margin-right: auto;
    justify-content: flex-start;
}

.NavItem2 {
    display: block;
    margin-left: auto;
    justify-content: flex-end;
}

.searchContainer{
    display: flex;
    margin-left: auto;
    list-style: none;
    justify-content: flex-end;
}

.NavItem3 {
    display: flex;
    margin-left: 60px;
    justify-content: flex-end;
}

.avatar {
    display: flex;
    height: 2.2rem;
    width: 2.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
    margin-right: .5rem;
    align-items: center;
}

