.hamburgerMaster {
    order: 3;
    width: 30px;
    margin: 0rem;
    cursor: pointer;
}

.hamburger {
    width: 30px;
    height: 3.5px;
    background-color: black;
    margin: 5px 1px;
}


.exitButtonContainer{
    cursor: pointer;
    position: relative;
    z-index: 3000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30px;
}

.exitButton{
    margin: auto;
}