.blurredBackgroundContainer{
    display: flex;
    position: fixed;
    z-index: 1000;
    backdrop-filter: blur(6px);
    height: 100vh;
    width: 100vw;
    top:0px;
    background-color: rgb(175, 175, 175, 40%);
    justify-content: flex-end;
    align-items: center;
    font-family: Roboto; 
}
.sidebar {
    display: flex;
    z-index: 2000;
    position: fixed;
    justify-content: space-between;
    width: 320px;
    height: 100vh;
    background-color: #000;
    /* color: #fff; */
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
.outerLogoContainer {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    margin: 0px;
}
.Logo {
    display: flex;
    height: 2.448rem;
    width: 2.358rem;
}
.Logo:hover {
    cursor: pointer;
    transform: rotate(180deg);
    animation: around .18s ease-in forwards;
}

@keyframes around {                             /*========== Animation ==========*/
    0% {transform: rotate(22.5deg);}
    33% {transform: rotate(45deg);}
    66% {transform: rotate(67.5deg);}
    100% {transform: rotate(90deg);}
}
.companyName{
    align-self: center;
    font-family: Montserrat;
    font-size: 1.4rem;
    letter-spacing: -.5px;
    margin-left: 23px;
    font-weight:lighter;
    cursor: pointer;
    color: var(--white);
    text-decoration: none; 
}
.companyName:hover{
    color: #0066FF;
}
.top{
    margin: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.bottom{
    margin-bottom: 45px;
}
.subgroup{
    padding-left: 30px;
    padding-right: 30px;
}
.sidebarMenu {
    margin-bottom: 20px;
}

.buttonPadding {
    padding-top: 10px 
}

.sidebarMenu span{
    margin-left: 10px;
}
.sidebarMenu input{
    margin-left: auto;

}

.getStartedBtn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

.getStartedBtn:hover {
    background-color: #0056b3;
}

.break{
    border-bottom: .5px solid #555555;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
/* Icon conditional formatting */



/* General  Formatting */
.menuItem {
    display: flex;
    align-items: center;
    padding: 10px 8px;
    color: #9E9E9E;
    text-decoration: none;
}
.menuItem:hover{
    color: #0066FF;
    fill: #0066FF;
}
.menuItemLast:hover{
    color: #0066FF;
}

.menuItem span{
    margin-right: auto;
}
/* General  Formatting */
.homeIconStyle {
    display: flex;
    align-items: center;
    padding: 10px 8px;
    color: #9E9E9E;
    text-decoration: none;
}
.homeIconStyle i{
    fill: #9E9E9E;
}
.homeIconStyle:hover {
    color: #0066FF;
}

/* Home Formatting */
.homeIconStyle.isActiveHomeIcon {
    color: white;
}
.homeIconStyle.isActiveHomeIcon:hover {
    color: #0066FF;
}
/* Dashboard Formatting */
.homeIconStyle.isActiveDashboardIcon {
    color: white;
}
.homeIconStyle.isActiveDashboardIcon:hover {
    color: #0066FF;
}
/* About Us Formatting */
.homeIconStyle.isActiveAboutUsIcon {
    color: white;
}
.homeIconStyle.isActiveAboutUsIcon:hover {
    color: #0066FF;
}
/* Support Center Formatting */
.homeIconStyle.isActiveSupportCenterIcon {
    color: white;
}
.homeIconStyle.isActiveSupportCenterIcon:hover {
    color: #0066FF;
}
/* help Formatting */
.homeIconStyle.isActiveHelpIcon {
    color: white;
}
.homeIconStyle.isActiveHelpIcon:hover {
    color: #0066FF;
}
.darkModeMenuItem {
    display: flex;
    align-items: center;
    padding: 10px 8px;
    color: #9E9E9E;
    text-decoration: none;
}
.darkModeMenuItem span {
    margin-right: auto;
}
/* login Formatting */
.homeIconStyle.isActiveLanguageIcon {
    color: white;
}
.homeIconStyle.isActiveLanguageIcon:hover {
    color: #0066FF;
}

/* logout Formatting */
.homeIconStyle.isActiveLanguageIcon {
    color: white;
}
.homeIconStyle.isActiveLanguageIcon:hover {
    color: #0066FF;
}

/* Toggle Section */                                               /* https://redstapler.co/pure-css-minimal-dark-mode-toggle-button  *//* https://www.youtube.com/watch?v=S-T9XoCMwt4&t=409s */
.toggleContainer {
    width: 60px;
    height: 30px; 
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 30px; 
    box-shadow: inset 0px 2.5px 7.5px rgba(0,0,0,0.4), inset 0px -2.5px 7.5px rgba(255,255,255,0.4);
    cursor: pointer;
    transition: 0.3s;
    overflow: hidden;
}
.toggleButton {
    content: "";
    width: 26px;
    height: 26px;
    position: absolute;
    top: 2px; 
    left: 2px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 50%;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}
.toggleCheckBox {
    width: 0;
    height: 0;
    visibility: hidden;
}
.toggleCheckBox:checked + .toggleContainer {
    background: #242424;
}
.toggleCheckBox:checked + .toggleButton {
    left: 58px;
    transform: translateX(-100%);
    background: linear-gradient(180deg,#777,#3a3a3a);
}
.toggleContainer:active .toggleButton{ 
    width: 40px; 
    transition: 0.3s;
}

/* icons */
.toggleContainer svg {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 3px;  
    transition: 0.3s;
}
.toggleContainer svg.sun {
    left:3px;
    fill:#fff;
}
.toggleContainer svg.moon {
    left:33px;
    fill:#7e7e7e;
}
.toggleCheckBox:checked + .toggleContainer svg.sun {
    fill:#7e7e7e;
}
.toggleCheckBox:checked + .toggleContainer svg.moon {
    fill:#fff;
}
.flagContainer {
    width: 60px;
    height: 30px; 
    position: relative;
    display: block;
    cursor: pointer;
}
.flag {
    height: 19px; 
    width: 28px;
    margin-left: auto;
    margin-right: 16px;
}