.blurredBackgroundContainer{
    display: flex;
    position: fixed;
    z-index: 1000;
    backdrop-filter: blur(6px);
    height: 100vh;
    width: 100vw;
    top:0px;
    background-color: rgb(175, 175, 175, 40%);
    justify-content: flex-end;
    align-items: center;
    font-family: Roboto; 
}
.sidebar {
    display: flex;
    justify-content: space-between;
    z-index: 2000;
    position: fixed;
    width: 320px;
    height: 100vh;
    background-color: #000;
    color: #fff;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
.outerLogoContainer {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    margin: 0px;
}
.Logo {
    display: flex;
    height: 2.448rem;
    width: 2.358rem;
}
.Logo:hover {
    cursor: pointer;
    transform: rotate(180deg);
    animation: around .18s ease-in forwards;
}

@keyframes around {                             /*========== Animation ==========*/
    0% {transform: rotate(22.5deg);}
    33% {transform: rotate(45deg);}
    66% {transform: rotate(67.5deg);}
    100% {transform: rotate(90deg);}
}
.companyName{
    align-self: center;
    font-family: Montserrat;
    font-size: 1.4rem;
    letter-spacing: -.5px;
    margin-left: 23px;
    font-weight:lighter;
    cursor: pointer;
    color: var(--white);
}
.top{
    margin: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.bottom{
    margin-bottom: 45px;
}
.subgroup{
    padding-left: 30px;
    padding-right: 30px;
}
.sidebarMenu {
    margin-bottom: 20px;
}

.menuItem {
    display: flex;
    align-items: center;
    padding: 10px 8px;
    color: #9E9E9E;
    text-decoration: none;
}
.menuItem .icon {
    margin-right: 10px;
}
.menuItem:hover{
    color: #0066FF;
}


.menuItemLast {
    display: flex;
    align-items: center;
    padding: 10px 8px 20px 8px;
    color: #9E9E9E;
    text-decoration: none;
}
.menuItemLast .icon {
    margin-right: 10px;
}
.menuItemLast:hover{
    color: #0066FF;
}


.darkModeToggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.getStartedBtn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

.getStartedBtn:hover {
    background-color: #0056b3;
}

.break{
    border-bottom: .5px solid #555555;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
