.hamburgerMaster {
    order: 3;
    margin: 0rem;
    cursor: pointer;
    width: 40px;
    height: 30.5px;
}
.hamburger {
    background-color: black;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 40px;
    height: 3.5px;
}

.exitButton{
    z-index: 2000;
    cursor: pointer;
    width: 35px;
    height: 25.5px;
    margin-right: 6px;     /* this is the size of the scroll bar which is taking over the space to th right */
    display: flex;
    justify-content: center;
    align-items: center;
}
.exitButton:hover{
    background-color: #111111;
}

.svgExit{
    width: 35px;
    height: 25.5px;
}

.svgExit path{
    fill: white;
    width: 35px;
    height: 25.5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}