.hamburgerMaster {
    width: 40px;
    order: 3;
    margin: 0rem;
    margin-right: 2.5%;
    cursor: pointer;
}

.hamburger {
    width: 40px;
    height: 3.5px;
    background-color: black;
    margin-top: 5px;
    margin-bottom: 5px;

}

.exitButtonContainer{
    z-index: 3000;
    display: flex;
    cursor: pointer;
    width: 40px;
    height: 30px;
}

.exitButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 100%;
}
.exitButton:hover{
    background-color: #1e1d1d;
}
.svgExit{
    width: 20px;
    height: 20px;
    margin-right: 11px;
}

.svgExit path{
    fill: white;
}