.search {
    display: flex;
    padding-left: 0px;
}

.search input {
    display: flex;
    align-content: center;
    margin: auto;
    height: 51.2px;
    width: 350px;
    padding-left: 20px;
    border-radius: 7px;
    font-size: 14px;
    opacity: .5;
    outline: solid 2px var(--blue);
    border: .05px solid var(--blue);
    background-color: rgb(171, 171, 171);
    
}

.search input::placeholder{
    color: rgb(87, 87, 87);

}

.search input:focus {
    background-color: #b5b3d7;
    border: 2px solid var(--blue);
    outline: 2px solid var(--blue);
    color: white;
    opacity: 1;
}

.search input:hover {
    border: 2px solid var(--blue);
    outline: 2px solid var(--blue);
    caret-color: white;
    opacity: 1;
}
