.searchInputContainer {
    position: relative;
}
.searchInputContainer label{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 8px;
    color: rgb(113, 112, 112);
    font-size: 12;
}

.searchInput::placeholder{
    padding-left: 0px;
}

.searchInput {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 352px;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 550;
    color: black;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 13px;
    border: 2px solid black;
    margin-top: 13px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

.searchInput:focus {
    box-shadow: 0 0 5px rgba(39, 85, 196, 1);
    border: 1px solid rgba(39, 85, 196, 1);
}
