.hamburgerButton {
	display: inline-grid;
	color: #b4b4b4;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	-webkit-appearance: button;
	margin: 0;
	border: 1px solid white;
	place-content: center;
	height: 40px;
	min-width: unset;
	font-size: 14px;
	background-color: white;
	width: 36px;
}
.hamburgerButton.open_NavBarMenu {
	display: none;
	visibility: hidden;
}

.hamburgerButton:hover {
	background-color: #111111;
}
.svgHamburger {
	display: inline-block;
	user-select: none;
	vertical-align: text-bottom;
	overflow: visible;
	fill: black;
	height: 21px;
}

.svgHamburger path {
	fill: gray;
}

/* exit button ------------------------------------------------------------------------------------- */

.exitButton {
	z-index: 2000;
	position: relative;
	display: inline-grid;
	color: #b4b4b4;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	-webkit-appearance: button;
	margin: 0;
	border: 1px solid white;
	place-content: center;
	height: 40px;
	min-width: unset;
	font-size: 14px;
	background-color: white;
	width: 36px;
	transition: none;
}

.exitButton:hover {
	background-color: #111111;
}
.svgExit {
	display: inline-block;
	user-select: none;
	vertical-align: text-bottom;
	overflow: visible;
	fill: black;
	height: 21px;
}
.svgExit path {
	fill: gray;
}
