.blurredBackgroundContainer {
    display: flex;
    position: fixed;
    z-index: 1000;
    backdrop-filter: blur(6px);
    top: -56px;
    height: calc(100vh + 56px);
    width: 100vw;
    background-color: rgb(175, 175, 175, 40%);
    justify-content: center;
    align-items: center;
    font-family: Roboto;
}

.modalContainer {
    display: flex;
    z-index: 2000;
    position: fixed;
    background-color: white;
    justify-content: center;
    border-radius: 14px;
    height: 515px;
    width: 410px;
}

.exitButtonContainer {
    cursor: pointer;
    position: absolute;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    width: 40px;
    margin-left: calc(100% - 40px);
}

.exitButton {
    margin: auto;
}

.modalContentContainer {
    box-sizing: border-box;
    position: absolute;
    padding: 50px 10px 36px 10px;
    border-radius: 8px;
    max-height: 100%;
    width: 380px;
    background: white;
}
.modalFormContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.continueWithXButton {
    display: flex;
    width: 352px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 13px auto;
    color: white;
    background-color: var(--blue);
    border: solid 1px var(--blue);
    border-radius: 6px;
    font-size: 20px;
    font-weight: 550;
    cursor: pointer;
}
.continueWithXButton a {
    align-items: center;
}
.continueWithXButton:hover {
    color: white;
    background-color: #3e67c6;
    border: solid 1px white;
}
.continueWithXButton:active {
    font-weight: bold;
    background-color: var(--blue);
    border: solid 0px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.26);
    border-radius: 7px;
}
.XIcon {
    display: inline-block;
    height: 24px;
    width: 30px;
    padding-left: 10px;
}
.svg {
    width: 12px;
    height: 12px;
    /* class: r-1nao33i r-4qtqp9 r-yyyyoo r-16y2uox r-8kz0gk r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-lrsllp; */
}
.or {
    color: #989797;
    font-size: 16px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 175%;
    font-weight: 500;
}
/* *************************************************************  Email -- */
.formInputEmail {
    display: flex;
    width: 352px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 13px auto 13px 10px;
    padding-left: 10px;
    background-color: white;
    border: 2px black solid;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.formInputEmail::placeholder {
    color: #989797;
}
.emailFeedbackLabel {
    font-weight: 100;
    color: black;
}
.formInputEmail:focus {
    background: #e8e8fe;
    border: 2px solid var(--blue);
    outline: 2px solid var(--blue);
}
.formInputEmail:hover {
    border: 2px solid var(--blue);
    outline: 2px solid var(--blue);
}
/* ****************************************** Invalid properties --*/
.formInputEmail.isValidEmail {
    outline: solid 2px red;
    border: solid 2px red;
    background-color: rgb(252, 229, 233);
}
.emailFeedbackLabel.isValidEmail {
    font-weight: bold;
    color: red;
}
/* **********************************************************  Password -- */
.formInputPassword {
    display: flex;
    width: 352px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 13px auto 13px 10px;
    padding-left: 10px;
    background-color: white;
    border: 2px black solid;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 600;
    color: black;
}
.formInputPassword::placeholder {
    color: #989797;
}
.passwordFeedbackLabel {
    font-weight: 100;
    color: black;
}
/* Invalid properties */
.formInputPassword.isValidPassword {
    outline: solid 2px red;
    border: solid 2px red;
    background-color: rgb(252, 229, 233);
}
.passwordFeedbackLabel.isValidPassword {
    font-weight: bold;
    color: red;
}
.formInputPassword:focus {
    background: #e8e8fe;
    border: 2px solid var(--blue);
    outline: 2px solid var(--blue);
}
.formInputPassword:hover {
    border: 2px solid var(--blue);
    outline: 2px solid var(--blue);
}



.createAccountButton {
    display: flex;
    width: 352px;
    height: 50px;
    align-items: center;
    justify-content: center;
    margin: 13px auto;
    background-color: black;
    color: white;
    border: 2px black solid;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 550;
}

.createAccountButton:hover {
    color: white;
    background-color: rgb(36, 36, 36);
    border: solid 1px white;
}

.createAccountButton:active {
    font-weight: bold;
    background-color: black;
    border: solid 0px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.26);
    border-radius: 7px;
}

.passwordFeedback{
    color: red;
}

.haveAnAccount {
    color: gray;
    margin-left: auto;
    margin-right: auto;
}

.logIn {
    color: blue;
    cursor: pointer;
}

.logIn:hover {
    text-decoration: underline;
}

.logIn:active {
    font-weight: 500;
}