.toggleSection{
    display: flex;
    position: relative;
    height: 10vh;
    width: 100%;
    justify-content:center;
    margin: auto;
    background-color: white;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    height: 60px;
    min-height: 60px;
    width: 330px;
    min-width: 330px;
}

  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.163) inset;
    border-radius: 4px;
}

.slider:before {
    position: absolute;
    cursor: pointer;
    content: "";
    height: 52px;
    width: 150px;
    left: 4px;
    bottom: 4px;
    background-color: var(--blue);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 4px;
}

input:checked + .slider:before {
    -webkit-transform: translateX(172x);
    -ms-transform: translateX(172px);
    transform: translateX(172px);
}

.sliderText{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 330px;  
    color: black;
}

.left{
    display: flex;
    text-align: center;
    align-items: baseline;
    justify-content: center;
    width: 50%;
    margin: auto;
    color: var(--blue);
}

.right{
    display: flex;
    text-align: center;
    align-items: baseline;
    justify-content: center;
    width: 50%;
    margin: auto;
    color: white;
}

.left.rightSide{
    display: flex;
    text-align: center;
    align-items: baseline;
    justify-content: center;
    width: 50%;
    margin: auto;
    color: white;
}

.right.rightSide{
    display: flex;
    text-align: center;
    align-items: baseline;
    justify-content: center;
    width: 50%;
    margin: auto;
    color: var(--blue);
}