.sidebar {
	display: flex;
	z-index: 2000;
	position: fixed;
	right: 0;
	width: 326px;
	height: 100%;
	background-color: var(--backgroundColor_menu_offWhite_to_offBlack);
	border-left: 1px solid var(--borderColor_menu_offWhite_to_offBlack) !important;
	flex-direction: column;
	padding-top: 0;
	padding-bottom: 30px;
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;
	padding-left: 0px !important;
	transition: transform 0.3s ease;
	transform: translateX(100%);
	top: 0;
	margin: 0;
	line-height: 1.5;
	font-size: 14px;
	font-family: sans-serif !important;
}
.sidebar.open {
	transform: translateX(0);
}
.outerLogoContainer {
	display: flex;
	position: relative;
	flex-direction: row;
	width: 100%;
	margin: 0px 0px 10px 0px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
}
.Logo {
	display: flex;
	height: 2.448rem;
	width: 2.358rem;
}
.Logo:hover {
	cursor: pointer;
	transform: rotate(180deg);
	animation: around 0.18s ease-in forwards;
}
@keyframes around {
	/*========== Animation ==========*/
	0% {
		transform: rotate(22.5deg);
	}
	33% {
		transform: rotate(45deg);
	}
	66% {
		transform: rotate(67.5deg);
	}
	100% {
		transform: rotate(90deg);
	}
}
.companyName {
	align-self: center;
	font-family: Montserrat;
	font-size: 1.4rem;
	letter-spacing: -0.5px;
	margin-left: 23px;
	font-weight: lighter;
	cursor: pointer;
	color: var(--BlackToGray);
	text-decoration: none;
}
.companyName:hover {
	color: var(--Blue);
}
.svgNotesMenuButton {
	stroke-width: 2;
	flex-shrink: 0;
	display: block;
	height: 24px;
	fill: none;
}
.svgNotesMenuButton path {
	fill: var(--color_primary_darkGray_to_gray);
}

.svgQuestionsButton2 {
	width: 20px;
	height: 20px;
	stroke: var(--color_primary_darkGray_to_gray);
}

.svgQuestionsButton2 .checkmark {
	fill: none;
	stroke-width: 1.3px; /* Controls the width of the checkmark line */
	transform-origin: 4px 4px; /* Adjust based on the path coordinates */
	transform: scale(1.4); /* Controls the size of the X mark */
}

.svgQuestionsButton2 .xmark {
	stroke-width: 1.3px; /* Controls the width of the X mark lines */
	transform-origin: 4px 16px; /* Adjust based on the line coordinates */
	transform: scale(1.4); /* Controls the size of the X mark */
}

.svgQuestionsButton2 .horizontalline {
	stroke-width: 1.6px; /* Controls the width of the horizontal lines */
}

/* Search------------------------------------------------------*/
.searchMenuOptions {
	display: flex;
	align-items: center;
	text-decoration: none;
	border: 1px solid var(--borderColor_searchMenuItem_gray_to_darkGray);
	border-radius: 8px;
	margin: 10px 0;
	height: 52px;
	width: 265px;
}
/* Search Icon------------------------------------------------------*/
.searchIconContainer {
	display: flex;
	position: relative;
	margin: auto;
	margin-left: 8px;
	z-index: 100;
}
.searchIcon {
	width: 22px;
	height: 21px;
	fill: none;
}
.searchIcon path {
	stroke: #9e9e9e;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.searchIconContainer.isFocused .searchIcon {
	opacity: 0 !important;
}
/* Search Input------------------------------------------------------*/
.searchInput {
	color: var(--BlackToWhite) !important;
	background-color: var(--backgroundColor_searchMenuItem_white_to_darkGray) !important;
	height: 50px;
	width: 263px;
	padding: 0 !important;
	border: 0 !important;
	margin: 0 !important;
	border-radius: 8px !important;
	font-size: 16px;
	position: absolute;
	padding-left: 39px !important;
}
.searchInput:hover {
	background-color: var(--hover_menuItem_gray_to_darkGray) !important;
}
/* .searchInput:focus {
	background-color: var(--BackgroundColor) !important;
	outline: -webkit-focus-ring-color auto 0px !important;
	padding-left: 20px !important;
}
.searchInput::placeholder {
	color: #81868d !important;
	padding: 0 0 0 0 !important;
	margin: 0px !important;
	font-size: 14px;
}
.searchInput:focus::placeholder {
	opacity: 0 !important;
} */
/*! ------------------------------------------------------*/
.top {
	margin: 0px;
	padding-left: 30px;
	padding-right: 30px;
}
.bottom {
	margin-top: auto;
	margin-bottom: 45px;
}
.subgroup {
	padding-left: 30px;
	padding-right: 30px;
}
.sidebarMenu {
	margin-bottom: 0px;
}
.buttonPadding {
	padding-top: 10px;
}
.sidebarMenu span {
	margin-left: 10px;
}
.sidebarMenu input {
	margin-left: auto;
}
.break {
	border-bottom: 0.5px solid #555555;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
}
/* General  Formatting */
.menuItem {
	display: flex;
	align-items: center;
	padding: 10px 8px;
	color: var(--color_menu_primary_darkGray_to_gray);
	text-decoration: none;
	background-color: var(--backgroundColor_menu_offWhite_to_offBlack);
	border: var(--backgroundColor_menu_offWhite_to_offBlack);
	border-radius: 8px;
	height: 52px;
	width: 260px;
}
.menuItem:hover {
	background-color: var(--hover_menuItem_gray_to_darkGray);
}
.menuItem:active {
	background-color: var(--active_menuItem_gray_to_darkGray);
}
.menuItem span {
	margin-right: auto;
}
/* General  Formatting */
.sidebarMenuOptions {
	display: flex;
	align-items: center;
	padding: 10px 8px;
	color: var(--color_menu_primary_darkGray_to_gray);
	text-decoration: none;
	background-color: var(--backgroundColor_menu_offWhite_to_offBlack);
	border: var(--backgroundColor_menu_offWhite_to_offBlack);
	border-radius: 8px;
	height: 52px;
	width: 260px;
}
.sidebarMenuOptions i {
	fill: black;
}
.sidebarMenuOptions:hover {
	background-color: var(--hover_menuItem_gray_to_darkGray);
}
.sidebarMenuOptions:active {
	background-color: var(--active_menuItem_gray_to_darkGray);
}
/* Home Formatting */
.sidebarMenuOptions.isActiveHomeIcon {
	color: var(--BlackToWhite);
}
/* Dashboard Formatting */
.sidebarMenuOptions.isActiveDashboardIcon {
	color: var(--BlackToWhite);
}
/* About Us Formatting */
.sidebarMenuOptions.isActiveAboutUsIcon {
	color: var(--BlackToWhite);
}
/* Support Center Formatting */
.sidebarMenuOptions.isActiveSupportCenterIcon {
	color: var(--BlackToWhite);
}
/* help Formatting */
.sidebarMenuOptions.isActiveHelpIcon {
	color: var(--BlackToWhite);
}
/* Dark Mode */
.darkModeMenuItem {
	display: flex;
	align-items: center;
	padding: 10px 8px;
	color: var(--color_menu_primary_darkGray_to_gray);
	text-decoration: none;
	background-color: var(--backgroundColor_menu_offWhite_to_offBlack);
	border: var(--backgroundColor_menu_offWhite_to_offBlack);
	border-radius: 8px;
	height: 52px;
	width: 260px;
	cursor: pointer;
	justify-content: center;
}
.darkModeMenuItem:hover {
	background-color: var(--hover_menuItem_gray_to_darkGray);
}
.darkModeMenuItem:active {
	background-color: var(--active_menuItem_gray_to_darkGray);
}
.darkModeMenuItem span {
	margin-right: auto;
}
/* Toggle Section */
/* https://redstapler.co/pure-css-minimal-dark-mode-toggle-button  */ /* https://www.youtube.com/watch?v=S-T9XoCMwt4&t=409s */
.darkModeToggleAndInputContainer {
	display: flex;
}
.darkModeToggleContainer {
	width: 60px;
	height: 30px;
	position: relative;
	display: block;
	background: #d5d2d2;
	border-radius: 30px;
	cursor: pointer;
	transition: 0.3s;
	overflow: hidden;
}
.toggleCheckBox {
	width: 0;
	height: 0;
	visibility: hidden;
}
.toggleCheckBox:checked ~ .darkModeToggleContainer {
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2), inset 0px -1px 3px rgba(255, 255, 255, 0.5);
	background: #3e3e3e;
}
.toggleCheckBox:checked ~ .darkModeToggleContainer .darkModeToggleButton {
	left: 58px;
	transform: translateX(-100%);
	background: linear-gradient(180deg, #454545, #3a3a3a);
}
.darkModeToggleContainer:active .darkModeToggleButton {
	width: 40px;
	transition: 0.3s;
}
.darkModeToggleButton {
	content: "";
	width: 26px;
	height: 26px;
	position: absolute;
	top: 2px;
	left: 2px;
	background: linear-gradient(180deg, #ffcc89, #d8860b);
	border-radius: 50%;
	transition: 0.3s;
}
/* icons */
.darkModeToggleContainer svg {
	position: absolute;
	width: 24px;
	height: 24px;
	top: 3px;
	transition: 0.3s;
}
.darkModeToggleContainer svg.sun {
	left: 3px;
	fill: #ffffff;
}
.darkModeToggleContainer svg.moon {
	left: 33px;
	fill: #7e7e7e;
}
.toggleCheckBox:checked + .darkModeToggleContainer svg.sun {
	fill: #7e7e7e;
}
.toggleCheckBox:checked + .darkModeToggleContainer svg.moon {
	fill: #ffffff;
}

.sidebarMenuOptions:hover img {
	border: 1px solid var(--BlackToWhite);
}
.sidebarMenuOptions:active img {
	outline: 1px solid var(--BlackToWhite);
}
.flag {
	height: 19px;
	width: 28px;
	margin-left: auto;
	margin-right: 16px;
}
/* exit button ------------------------------------------- */
.exitButton {
	z-index: 3000;
	position: fixed;
	display: inline-grid;
	color: #b4b4b4;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	-webkit-appearance: button;
	margin: 0;
	place-content: center;
	height: 40px;
	min-width: unset;
	font-size: 14px;

	width: 36px;
	transition: none;
	background-color: var(--backgroundColor_menu_offWhite_to_offBlack);
	border: 0px solid red;

	right: 0; /* Not in Original */
	margin-right: 1.5rem; /* Not in Original */
}
.exitButton:hover {
	background-color: var(--hover_menuButtonOpen_gray_to_darkGray);
}
.exitButton:active {
	background-color: var(--active_menuButtonOpen_gray_to_darkGray);
}
.svgExit {
	display: inline-block;
	user-select: none;
	vertical-align: text-bottom;
	overflow: visible;
	fill: none;
	height: 21px;
}
.svgExit path {
	fill: #9e9e9e;
}
