/*! sideBar container ------------------------------------------------------*/
.sideBar_R_outerContainer {
	display: flex;
	z-index: 1000;
	position: relative;
	right: 0;
	height: calc(100vh - 1px);
	background-color: var(--backgroundColor_menu_offWhite_to_offBlack);
	border-left: 1px solid var(--borderColor_menu_offWhite_to_offBlack) !important;
	flex-direction: column;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;
	padding-left: 0px !important;
	transition: transform 0.5s ease;
	transform: translateX(100%);
	top: 0;
	margin: 0;
	line-height: 1.5;
	font-size: 14px;
	font-family: sans-serif !important;

	flex-grow: 0;
	width: 0;
}
.sideBar_R_outerContainer.open {
	transform: translateX(0);
	width: 40%;
	position: relative;
	flex-grow: 0;
}

/* resizer ------------------------------------------- */
.resizer {
	width: 3px;
	top: 0;
	left: 0;
	cursor: col-resize;
	height: 100%;
	position: absolute;
	background-color: #42b362;
}

/* exit button ------------------------------------------- */
.exitButton {
	z-index: 3000;
	position: fixed; /* Not in Original */
	display: inline-grid;
	color: #b4b4b4;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	-webkit-appearance: button;
	margin: 0;
	place-content: center;
	height: 40px;
	min-width: unset;
	font-size: 14px;

	width: 36px;
	transition: none;
	background-color: var(--backgroundColor_menu_offWhite_to_offBlack);
	border: 0px solid red;

	right: 0; /* Not in Original */
	margin-right: 1.5rem; /* Not in Original */
}
.exitButton:hover {
	background-color: var(--hover_menuButtonOpen_gray_to_darkGray);
}
.exitButton:active {
	background-color: var(--active_menuButtonOpen_gray_to_darkGray);
}
.svgExit {
	display: inline-block;
	user-select: none;
	vertical-align: text-bottom;
	overflow: visible;
	fill: none;
	height: 21px;
}
.svgExit path {
	fill: #9e9e9e;
}
