/* ********************************************************************* Modal Content */
.languageOption {
	display: flex;
	align-items: center;
	padding: 15px 8px;
	color: var(--color_primary_darkGray_to_gray);
	text-decoration: none;
	border-radius: var(--borderRadius_modalItem);
	transform: translateY(0px);
	background-color: var(--backgroundColor_menu_offWhite_to_offBlack);
	height: 52px;
	padding: 10px 8px;
}
.languageOption:hover {
	transform: translateY(0px);
	cursor: pointer;
	background-color: var(--hover_menuItem_gray_to_darkGray);
}
.languageOption:active {
	transform: translateY(1px);
	background-color: var(--active_menuItem_gray_to_darkGray);
}
.languageOption.isChecked {
	transform: translateY(0px);
	background-color: var(--hover_menuItem_gray_to_darkGray);
}
.languageOption.isChecked:hover {
	transform: translateY(0px);
	cursor: pointer;
	background-color: var(--active_menuItem_gray_to_darkGray);
}
.languageOption.isChecked:active {
	transform: translateY(1px);
	background-color: var(--hover_menuItem_gray_to_darkGray);
}
.break {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.languageOption:hover img {
	border: 1px solid var(--BlackToWhite);
}
.languageOption:active img {
	outline: 1px solid var(--BlackToWhite);
}
.flag {
	height: 19px;
	width: 28px;
	margin-left: auto;
	margin-right: 16px;
}
.optionInputBox {
	height: 20px;
	width: 20px;
}
