.software_container {
    display: flex;
    background-color: var(--darkgray);
}
.tasks_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
}