.authButton {
    display: flex;
    width: 30%;
    height: 44px;
    color: black;
    background-color: white;
    border: 2px solid gray;
    padding: 0px;
    border-radius: 9px;
    font-size: 18px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.authButton:active {
    box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.2);
}
/* ********************************************************************* twitterX */
.twitterXIcon{
    height: 24px;
    width: 24px;
}
/* ********************************************************************* twitterX */
.discordIcon{
    height: 30px;
    width: 30px;
} 
/* ********************************************************************* gitHub */
.gitHubIcon{
    display: flex;
    align-items: flex-start;
    font-size: 1rem;
    margin-top: 7.5px;
    margin-bottom: auto;
} 