/*! sideBar container ------------------------------------------------------*/
.sideBar_R_outerContainer {
	display: flex;
	z-index: 1000;
	position: sticky !important;
	right: 0;
	height: calc(100vh - 1px);
	background-color: var(--backgroundColor_menu_offWhite_to_offBlack);
	border-left: 1px solid var(--borderColor_menu_offWhite_to_offBlack) !important;
	flex-direction: column;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;
	padding-left: 0px !important;
	transition: transform 0.5s ease;
	transform: translateX(100%);
	top: 0;
	margin: 0;
	line-height: 1.5;
	font-size: 14px;
	font-family: sans-serif !important;

	flex-grow: 0;
	width: 0;
}
.sideBar_R_outerContainer.open {
	transform: translateX(0);
	max-width: 700px;
	min-width: 150px;
	width: 700px;
	overflow-x: hidden;
	position: relative;
}

/* resizer ------------------------------------------- */
.resizer {
	width: 3px;
	top: 0;
	left: 0;
	cursor: col-resize;
	height: 100%;
	position: absolute;
	background-color: #42b362;
}

/* exit button ------------------------------------------- */
.exitButton {
	z-index: 3000;
	position: fixed; /* Not in Original */
	display: inline-grid;
	color: #b4b4b4;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	-webkit-appearance: button;
	margin: 0;
	place-content: center;
	height: 40px;
	min-width: unset;
	font-size: 14px;

	width: 36px;
	transition: none;
	background-color: var(--backgroundColor_menu_offWhite_to_offBlack);
	border: 0px solid red;

	right: 0; /* Not in Original */
	margin-right: 1.5rem; /* Not in Original */
}
.exitButton:hover {
	background-color: var(--hover_menuButtonOpen_gray_to_darkGray);
}
.exitButton:active {
	background-color: var(--active_menuButtonOpen_gray_to_darkGray);
}
.svgExit {
	display: inline-block;
	user-select: none;
	vertical-align: text-bottom;
	overflow: visible;
	fill: none;
	height: 21px;
}
.svgExit path {
	fill: #9e9e9e;
}

/* Sidebar Search------------------------------------------------------*/
.sideBarSearchInputContainer {
	align-items: center;
	display: flex;
	position: relative;
	width: 100%;
	line-height: 1.15;
	font-weight: 550;
	height: 52px;
}
.sideBarSearchInputContainer::before {
	background-color: #81868d;
	content: "";
	height: 1rem;
	left: 27px;
	mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24"><path stroke="none" d="M0 0h24v24H0z"/><circle cx="10" cy="10" r="7"/><path d="m21 21-6-6"/></svg>');
	position: absolute;
	width: 1rem;
	z-index: 100;
	margin-left: 14px;
}
.sidebar_search {
	border-top: 1px solid var(--backgroundColor_SearchBarBorderTop_offWhite_to_offBlack) !important;
	border-right: 0px solid var(--borderColor_menu_offWhite_to_offBlack) !important;
	border-bottom: 0px solid var(--backgroundColor_SearchBarBorderTop_offWhite_to_offBlack) !important;
	border-left: 0px solid var(--backgroundColor_SearchBarBorderTop_offWhite_to_offBlack) !important;
	color: var(--BlackToWhite) !important;

	background-color: var(--backgroundColor_SearchBarBorderTop_offWhite_to_offBlack) !important;
	box-sizing: border-box;
	padding: 8px 8px 8px 40px;
	z-index: 10;
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	overflow-clip-margin: 0px !important;
	overflow: clip !important;
	transition: background-color 0.35s ease-in-out !important;
	padding-left: 50px !important;
	width: 325px;
	border-radius: 0 !important;
	padding-left: 70px !important;
}
.sidebar_search::placeholder {
	color: #81868d !important;
	padding: 0px !important;
	margin: 0px !important;
}
.sidebar_search:focus::placeholder {
	opacity: 0 !important;
}
.sidebar_search:hover,
.sidebar_search:-webkit-autofill:hover,
.sidebar_search:focus,
.sidebar_search:-webkit-autofill:focus,
.sidebar_search.isFocused {
	border-top: 1px solid var(--backgroundColor_SearchBarBorderTop_offWhite_to_offBlack) !important;
	border-right: 0 !important;
	border-left: 0 !important;
	border-bottom: 0 !important;
	background-color: var(--backgroundColor_SearchBar_offBlack_to_offWhite) !important;
	outline: 0px solid #1a1c1e !important;
	box-shadow: 0 0 0px white !important;
	color: var(--WhiteToBlack) !important;
}
