.mainContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100vw;
	min-width: 750px;
	font-family: sans-serif !important;
	color: var(--color_primary_darkGray_to_gray);
	line-height: 1.5;
	font-size: 14px;
}
/*! Body ------------------------------------------------------*/
.bodyContainer {
	display: flex;
	position: relative;
}
/*! Handbook-------------------------------------------------------------------*/
.handbook_outerContainer {
	padding-top: 56px;
	padding-bottom: 56px;
	max-width: 1500px;
	padding-left: 5%;
	padding-right: 5%;
	margin: 0 auto;
	line-height: 1.35;
	min-height: 100%;
}
.handbook_innerContainer {
	font-size: 1rem;
	display: flex;
	min-height: 100%;
}
.page_contentContainer {
	display: flex;
	border: 1px solid #d6dade;
	border-radius: 8px;
	flex-direction: column;
	font-weight: 400;
	min-height: 850px;
}
.handbook_header_section {
	display: block;
	background: var(--colorGradient_readerHeaderTitle_from_blue_to_lightBlue_to_blue_to_black);
	margin: 0.75rem 0.75rem 0 0.75rem;
	padding: 1rem;
	margin-bottom: 50px;
	color: white;

	border-radius: 3px 3px 0 0;
	padding-top: 30px;
	padding-bottom: 60px;
	height: 181px !important;
}
.handbook_header_section p {
	font-size: 0.875rem !important;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
	color: var(--color_readerSectionTitle_white_to_offWhite);
}
.handbook_header_section h1 {
	margin-bottom: 0;
	font-size: 3rem;
	line-height: 1.15;
	margin: 0 0 1rem;
	color: var(--color_readerSectionTitle_white_to_offWhite);
}
.page_content {
	-webkit-box-flex: 1;
	flex-grow: 1;
	padding-left: 3.75rem;
	padding-right: 3.75rem;
	margin: 0 auto;
}
.page_content h2 {
	font-size: 3rem;
	font-weight: 400;
	margin-bottom: 0.5em;
	color: var(--color_readerSecondary_darkBlue_to_offWhite);
	line-height: 1.15;
	margin: 0 0 1rem;
}
.page_content h2 strong {
	font-size: 3rem;
	font-weight: bolder;
	line-height: 1.15;
}
.page_content h3 {
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.36;
	color: var(--color_readerSecondary_darkBlue_to_lightBlue);
	margin: 0 0 1rem;
}
.page_content h4 {
	font-size: 1.5rem;
	color: var(--color_readerSecondary_darkBlue_to_lightBlue_h4);
	font-weight: 400;
	line-height: 1.15;
	margin: 0 0 1rem;
}
.page_content p {
	font-size: 1.3125rem;
	line-height: 1.35;
	margin-top: 0;
	margin-bottom: 1rem;
}
a {
	color: var(--color_readerHyperLink_brightBlue_to_skyBlue);
}
.page_content p:last-of-type {
	margin-bottom: 0;
}
.page_content figure {
	margin: 0;
}
.imageDiv {
	display: table;
}
.imageDivColContainer {
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding-top: 3.75rem;
}
.imageDivCol {
	-webkit-box-flex: 0;
	flex: 0 1 33.33%;
	padding-right: 1.25rem;
}
.imageDivCol figure {
	margin: 0 !important;
}
figure img {
	box-sizing: border-box;
	height: auto;
	max-width: 100%;
	vertical-align: bottom;
}
ul {
	margin-bottom: 2rem;
	margin-left: 2rem;
	padding: 0;
}
ul li {
	font-size: 1.3125rem;
	line-height: 1.19;
	display: list-item;
	text-align: -webkit-match-parent;
}
ul li:not(:first-child) {
	padding-top: 1.875rem;
}
ul li ul {
	list-style-type: none !important;
}
ul li ul li:before {
	content: "-";
	display: inline-block;
	margin-right: 4px;
	width: 10px;
}
.page_content div figure {
	float: left;
	margin: 0.5em 1em 0.5em 0;
}
.page_content ul {
	margin-bottom: 2rem;
	margin-left: 2rem;
	font-size: 1rem;
	padding: 0;
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	unicode-bidi: isolate;
}
.page_content ul li {
	font-size: 1.3125rem;
	display: list-item;
	text-align: -webkit-match-parent;
	unicode-bidi: isolate;
}
figcaption {
	caption-side: bottom;
	display: table-caption;
	margin-bottom: 1em;
	margin-top: 0.5em;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.4;
	white-space: nowrap;
}
strong {
	color: var(--color_readerSecondary_darkBlue_to_lightBlue);
	font-weight: bolder;
	font-size: 1.3125rem;
}
.formatLabelNote:before {
	content: "note";
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #ffd457;
	border-radius: 2px;
	color: #000;
	display: inline-flex;
	flex-shrink: 0;
	font-size: 0.75rem;
	font-weight: 700;
	height: 22px;
	margin-right: 10px;
	margin-top: 4px;
	padding: 0 6px;
	text-transform: uppercase;
}
