
.main {
    margin: 0;
    position: relative;
    z-index: 100;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: black;
    padding: 130px 0;
    width: 80%;
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
}

.container2 {
    max-width: 100%;
    margin: auto;
    /* overflow: visible; */
    display: flex;
    flex-direction: column;
}

.container2 h1{
    margin-bottom: .5rem;
}
.container2 button{
    width: 5.2rem;
    height: 2rem;
    margin: 1rem 1rem 1rem 0rem;
    border-radius: 6px;
    border: 1px solid white;
}

.container2 button:hover {
    color: var(--gray);
    background-color:  var(--white);
    outline: .5;
    cursor: pointer;
}

.container2 button:active {
    color: black;
}

.input_section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input_section label{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.input_section input{
    width: 100%;
    border-radius: 6px;
    height: 2.2rem;
    border: 1px solid black;
    padding-left: .7rem;
}

::placeholder { 
    color: var(--gray);
    opacity: 1;
}

/* Devices over 2400px */
@media (min-width: 1690px) {
    .container2 {
        width: 1400px;
    }
}