.task_container li {
    display: flex;
    background-color: #550155;
    color: white;
    width: 93%;
    min-width: 550px;
    padding: .3rem;
    margin-left: 3%;
    text-align: center;
    align-items: center;
    border-radius: 8px;
    flex-direction: row;
    border: 1px solid white;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.task_container li:hover {
    background-color: purple;
}