.blurredBackgroundContainer {
	display: flex;
	position: fixed;
	z-index: 1000;
	height: 100vh;
	width: 100vw;
	top: 0px;
	left: 0%;
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
	font-family: Roboto;
	background-color: var(--BlurredBackground);
	backdrop-filter: blur(6px); /* Chrome, Firefox */
	-webkit-backdrop-filter: blur(6px); /* Safari */
}
/* ********************************************************************* Modal */
.modal {
	display: flex;
	z-index: 2000;
	position: fixed;
	height: 545px;
	width: 530px;
	border-top-left-radius: var(--borderRadius_modal);
	border-top-right-radius: 0;
	border-bottom-left-radius: var(--borderRadius_modal);
	border-bottom-right-radius: var(--borderRadius_modal);
	justify-content: center;
	background-color: var(--WhiteToBlack);
	color: var(--BlackToGray);
}
/* ********************************************************************* Exit */
.exitButtonContainer {
	display: block;
	cursor: pointer;
	position: absolute;
	z-index: 1000;
	justify-content: flex-end;
	align-items: center;
	height: 40px;
	width: 40px;
	margin-left: calc(100% - 40px);
}
.exitButton {
	display: flex;
	all: unset;
	cursor: pointer;
	box-sizing: border-box;
	height: 40px;
	width: 40px;
	background-color: var(--WhiteToBlack);
	border: 2px solid var(--WhiteToBlack);
	padding: 10.5px;
}
.exitButton:hover {
	background-color: var(--hover_modalExitButton_gray_to_darkGray);
	cursor: pointer;
}
.exitButton:active {
	background-color: var(--active_modalExitButton_gray_to_darkGray);
}
.exitButton:focus {
	border: 2px solid var(--WhiteToBlack) !important;
}
.svgExit {
	display: inline-block;
	user-select: none;
	overflow: visible;
	fill: none;
	width: 14px;
	height: 14px;
}
.svgExit path {
	fill: #9e9e9e;
}
/* ********************************************************************* Modal Content */
.modalContentContainer {
	box-sizing: border-box;
	position: absolute;
	height: 525px;
	width: 530px;
	border-radius: 27px;
	padding: 65px 72px 26px 72px;
	margin-top: 10px;
	margin-bottom: 10px;
	overflow-y: hidden;
	overflow-x: hidden;
	border: 2px solid var(--WhiteToBlack);
}
.modalForm {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}
.modalTitle {
	display: flex;
	font-size: 2rem;
	position: relative;
	align-items: flex-end;
	margin: 0px auto 36px 0px;
}
.modalTitle2 {
	display: flex;
	font-size: 2rem;
	position: relative;
	align-items: flex-end;
	margin: 0px auto 8px 0px;
}
.modalSubTitle {
	display: flex;
	color: var(--Blue);
	font-size: 1.2rem;
	font-style: italic;
	position: relative;
	align-items: flex-end;
	margin: 0px auto 36px 0px;
}
.modalSubTitle.isValidPassCode {
	color: red;
	animation: left-to-right 0.4s linear forwards 2 alternate 0.1ms;
}
@keyframes left-to-right {
	0% {
		transform: translateX(0);
	}
	33% {
		transform: translateX(-1%);
	}
	66% {
		transform: translateX(1%);
	}
	100% {
		transform: translateX(-1%);
	}
}
/* ********************************************************************* Inputs */
.inputContainer {
	position: relative;
}
.inputContainer input {
	position: relative;
	display: flex;
	box-sizing: border-box;
	width: 100%;
	height: 44px;
	align-items: center;
	justify-content: center;
	background-color: var(--BackgroundColor);
	border-radius: 9px;
	font-size: 16px;
	color: var(--BlackToWhite);
	outline: none;
	padding: 0px 0px 0px 18px;
	border: 2px solid var(--BlackToDarkGray2);
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
}
.inputContainer input::placeholder {
	padding-left: 0px;
}
/* ********************************************************************* Inputs Browser Defaults *
This code below fixes an issue coming from chrome by which autoComplete makes 
the css wonky i.e. creates a background color based on the box-shadow
*/
.inputContainer input:-webkit-autofill,
.inputContainer input:-webkit-autofill:hover,
.inputContainer input:-webkit-autofill:focus {
	transition: background-color 5000s ease-in-out 0s;
	/* is another trick to override the background color. It uses a large inset box shadow to cover the entire field, simulating a white background. */
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
.inputContainer input:-webkit-autofill:focus {
	box-shadow: 0 0 5px rgba(39, 85, 196, 1) !important; /* adds a blue glow effect around the element when it's focused, using RGBA color for semi-transparency. */
	border: 2px solid rgba(39, 85, 196, 1) !important; /* changes the border color to a similar blue, providing a consistent focus style. */
}
/* ********************************************************************* Email Input */
.emailInput:focus {
	box-shadow: 0 0 5px rgba(39, 85, 196, 1);
	border: 2px solid rgba(39, 85, 196, 1);
}
.emailInputFeedbackContainer {
	height: 26px;
	margin: 0px;
}
.emailInputFeedbackContainer.ResetPasswordEmailPassCode {
	height: 49px;
	margin: 0px;
}
.emailInputFeedback {
	display: none;
}
/* ********************************************************************* Email Input Invalid */
.emailInput.isValidEmail {
	border: 2px solid rgb(251, 83, 83);
}
.emailInputFeedback.isValidEmail {
	display: block;
	font-size: 13px;
	color: rgb(224, 2, 2);
	padding-top: 2px;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
}
/* ********************************************************************* passCode Input */
.passCodeInput:focus {
	box-shadow: 0 0 5px rgba(39, 85, 196, 1);
	border: 2px solid rgba(39, 85, 196, 1);
}
/* ********************************************************************* passCode Feedback */
.passCodeInputFeedbackContainer {
	height: 26px;
	margin: 0px;
}
.passCodeInputFeedbackContainer.VerifyAccountModal {
	height: 49px;
	margin: 0px;
}
.passCodeInputFeedback {
	display: block;
	visibility: hidden;
	font-size: 13px;
	color: var(--Blue);
	padding-top: 2px;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
}
/* ********************************************************************* passCode Input Invalid */
.passCodeInput.isValidPassCode {
	border: 2px solid rgb(251, 83, 83);
}
.passCodeInputFeedback.isValidPassCode {
	display: block;
	visibility: visible;
	font-size: 13px;
	color: rgb(224, 2, 2);
	padding-top: 2px;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
}
/* ********************************************************************* Password Input */
.passwordInput:focus {
	box-shadow: 0 0 5px rgba(39, 85, 196, 1);
	border: 2px solid rgba(39, 85, 196, 1);
}
.passwordInputFeedbackSection {
	min-height: 49px;
}
.passwordConfirmInputFeedbackSection {
	min-height: 49px;
}
.passwordInputFeedbackSection.ResetPasswordChangeModal {
	min-height: 26px;
}
.passwordInputFeedbackSection.ResetPasswordEmailPassCode {
	min-height: 13px;
}
.passwordInputFeedbackContainer {
	display: none;
	height: 0px;
	margin: 0px;
}
.passwordInputFeedback {
	display: none;
}
/* ********************************************************************* Forgot Password */
.forgotPasswordLink {
	display: flex;
	visibility: hidden;
	color: var(--GrayToWhite);
	cursor: pointer;
	margin: 2px auto 0px 2px;
	font-size: 13px;
	height: 24px;
	align-items: flex-end;
}
/* ********************************************************************* Password Input Invalid */
.passwordInput.isValidPassword {
	border: 2px solid rgb(251, 83, 83);
}
.passwordInputFeedbackContainer.isValidPassword {
	display: block;
	height: 23px;
	margin: 0px;
}
.passwordInputFeedback.isValidPassword {
	display: block;
	visibility: visible;
	font-size: 13px;
	color: rgb(224, 2, 2);
	padding-top: 2px;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
}
.passwordInput.isValidPasswordConfirm {
	border: 2px solid rgb(251, 83, 83);
}
.passwordConfirmInputFeedbackContainer {
	display: none;
	height: 0px;
	margin: 0px;
}
.passwordConfirmInputFeedback {
	display: none;
}
.passwordConfirmInputFeedbackContainer.isValidPasswordConfirm {
	display: block;
	height: 23px;
	margin: 0px;
}
.passwordConfirmInputFeedback.isValidPasswordConfirm {
	display: block;
	visibility: visible;
	font-size: 13px;
	color: rgb(224, 2, 2);
	padding-top: 2px;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 2px;
}
/* ********************************************************************* Forgot Password Invalid */
.forgotPasswordLink.LogInModal {
	visibility: visible;
	align-items: flex-end;
}
.forgotPasswordLink.LogInModal_isValidPassword {
	visibility: visible;
	align-items: flex-start;
}
/* ********************************************************************* Action Button */
.actionButton {
	font-size: 1.1rem;
	font-weight: 600;
	color: var(--WhiteToGray);
	background-color: var(--Blue);
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	width: 100%;
	height: 44px;
	border-radius: 9px;
	cursor: pointer;
	border: solid 1px var(--Blue);
	display: block;
	align-items: center;
	justify-content: center;
}
.actionButton:hover {
	background-color: var(--BlueHover);
}
.actionButton:active {
	background-color: var(--Blue);
	border: solid 2px var(--Blue);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.26);
	border-radius: 7px;
}
/* ********************************************************************* or continue with */
.orContinueWithContainer {
	width: 100%;
	color: var(--BlackToDarkGray3);
}
.orContinueWithTextFormat {
	display: flex;
	justify-content: center;
	margin-top: 0px;
	margin-bottom: 20px;
	width: 100%;
	font-size: 13px;
}
/* ********************************************************************* socialAuth */
.socialAuthContainer {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 20px;
}
/* ********************************************************************* Have an account? No Account? */
.optionSpan {
	display: flex;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.optionsText {
	color: var(--BlackToDarkGray3);
	margin: 0px auto;
	font-size: 13px;
}
.PageLink {
	all: unset;
	cursor: pointer;
}
.PageLink:hover {
	text-decoration: underline;
}
.PageLink:active {
	background-color: var(--Blue);
	color: white;
	box-shadow: 0 0 5px rgba(39, 85, 196, 1);
}
/* ********************************************************************* Width under 600px */
@media (max-width: 600px) {
	.modal {
		width: 85%;
		min-width: 400px;
	}
	.modalContentContainer {
		width: 85%;
		min-width: 400px;
		padding-left: calc(8vw);
		padding-right: calc(8vw);
	}
}
