.button_format {
    font-size: 1.1rem;
    font-weight: 600;
    color: white;
    background-color: var(--blue);
    padding: .2rem .2rem;
    width: 9.4rem;
    height: 2.5rem;
    border-radius: 7px;
    cursor: pointer;
    border: solid 1px var(--blue);
}

.button_format:hover {
    color: white;
    background-color: #3e67c6;
    border: solid 1px white;
}

.button_format:active {
    font-weight: bold;
    /* color: white; */
    background-color: var(--blue);
    border: solid 0px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.26);
    border-radius: 7px;
}