.button_format {
	font-size: 17.6px;
	font-weight: 600;
	color: var(--WhiteToBlack);
	background-color: var(--BlackToWhite);
	width: 150.4px;
	height: 36.8px;
	border-radius: 9px;
	cursor: pointer;
	border: solid 1px var(--BlackToWhite);
}
.button_format:hover {
	background-color: var(--BlueHover);
	border: solid 1px var(--Blue);
}
.button_format:active {
	background-color: var(--Blue);
	border: solid 2px var(--Blue);
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.26);
	border-radius: 7px;
}
