/*! sideBar container ------------------------------------------------------*/
.sideBar_R_outerContainer {
	display: flex;
	z-index: 1000;
	position: relative;
	right: 0;
	height: 100%;
	background-color: var(--backgroundColor_menu_offWhite_to_offBlack);
	border-left: 1px solid var(--borderColor_menu_offWhite_to_offBlack) !important;
	flex-direction: column;
	padding-top: 0;
	padding-bottom: 0;
	border-top-left-radius: 14px;
	border-bottom-left-radius: 14px;
	padding-left: 0px !important;
	transition: transform 0.5s ease;
	transform: translateX(100%);
	top: 0;
	margin: 0;
	line-height: 1.5;
	font-size: 14px;
	font-family: sans-serif !important;

	flex-grow: 0;
	width: 0;
}
.sideBar_R_outerContainer.open {
	transform: translateX(0);
	width: 40%;
	flex-grow: 0;
}
/* exit button ------------------------------------------- */
.exitButton {
	z-index: 3000;
	position: fixed; /* Not in Original */
	display: inline-grid;
	color: #b4b4b4;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	-webkit-appearance: button;
	margin: 0;
	place-content: center;
	height: 40px;
	min-width: unset;
	font-size: 14px;

	width: 36px;
	transition: none;
	background-color: var(--backgroundColor_menu_offWhite_to_offBlack);
	border: 0px solid red;

	right: 0; /* Not in Original */
	margin-right: 1.5rem; /* Not in Original */
}
.exitButton:hover {
	background-color: var(--hover_menuButtonOpen_gray_to_darkGray);
}
.exitButton:active {
	background-color: var(--active_menuButtonOpen_gray_to_darkGray);
}
.svgExit {
	display: inline-block;
	user-select: none;
	vertical-align: text-bottom;
	overflow: visible;
	fill: none;
	height: 21px;
}
.svgExit path {
	fill: #9e9e9e;
}
/* resizer ------------------------------------------- */
.resizer {
	width: 3px;
	top: 0;
	left: 0;
	cursor: col-resize;
	height: 100%;
	position: absolute;
	background-color: var(--Blue);
}
/* Container ------------------------------------------- */
.handbook_outerContainer {
	padding-top: 56px;
	padding-bottom: 56px;
	margin: 0 auto;
	line-height: 1.35;
	/* min-height: 100%; */
	/* transition: width 1s ease; */
	padding-left: 3%;
	padding-right: 3%;
	flex-grow: 0;
	/* flex-shrink: 1; */
	/* flex-basis: 60%;  This was a huge issue that caused the rezier to jump*/
	/* flex-basis: 1150px; */
	/* max-width: 1830px; */
	overflow-y: hidden;
	display: flex;
	position: sticky;
	top: 0;
	/* height: calc(100vh - 1px); */
	width: 100%;
	margin-left: 3px;
	height: 100vh;
	background-color: var(--backgroundColor_menu_offWhite_to_offBlack);
}
@media (max-width: 1700px) {
	.handbook_outerContainer {
		padding-left: 1%;
		padding-right: 1%;
		flex-basis: 600px;
	}
}
.handbook_innerContainer {
	font-size: 1rem;
	display: flex;
	/* min-height: 100%; */
	width: 100%;
}
.page_contentContainer {
	display: flex;
	border: 1px solid #d6dade;
	border-radius: 8px;
	flex-direction: column;
	font-weight: 400;
	/* min-height: 850px; */
	width: 100%;
}

/* Question ------------------------------------------- */
.handbook_header_section {
	display: block;
	background: var(--colorGradient_readerHeaderTitle_from_blue_to_lightBlue_to_blue_to_black);
	margin: 0.75rem 0.75rem 0 0.75rem;
	padding: 1rem;
	margin-bottom: 50px;
	color: white;

	border-radius: 3px 3px 0 0;
	padding-top: 30px;
	padding-bottom: 60px;
	height: 181px !important;
}
.handbook_header_section p {
	font-size: 0.875rem !important;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
	color: var(--color_readerSectionTitle_white_to_offWhite);
}
.handbook_header_section h2 {
	margin-bottom: 0;
	font-size: 24px;
	line-height: 1.4;
	margin: 4px 0 1rem 0;
	color: var(--color_readerSectionTitle_white_to_offWhite);
	font-weight: 300;
}
/*! Test CSS ---------------------------------------------------*/
/* page general */
.page_content {
	-webkit-box-flex: 1;
	margin: 0 12px;
}
.page_content ul {
	font-size: 16px;
	margin: 0 !important;
}
.page_content ul li {
	list-style-type: none;
	margin-bottom: 16px;
	padding-top: 0 !important;
}
/* Answer  */
.answerLabel p {
	margin: 0 0 0 1rem;
}
/* Questions */
.answerLabel {
	display: flex;
	position: relative;
	cursor: pointer;
	user-select: none;
	font-size: 18px;
	align-items: center;
	width: 100%;
	padding: 10px 0 10px 16px;
	border-radius: 7px;
	color: var(--color_primary_darkGray_to_gray);
}

.answerLabel:hover {
	background-color: var(--hover_menuItem_gray_to_darkGray);
}
.answerLabel:active {
	background-color: var(--active_menuItem_gray_to_darkGray);
}
.answerLabel.isChecked:hover {
	background-color: var(--hover_menuItem_gray_to_darkGray);
}
.answerLabel.isChecked:active {
	background-color: var(--active_menuItem_gray_to_darkGray);
}
/* checkbox */
.checkBox {
	position: relative;
	top: 0;
	left: 0;
	height: 23px;
	width: 23px;
	background-color: white;
	border-radius: 4px;
	border: 2px solid var(--Blue);
}
.checkBox.isChecked {
	background-color: var(--Blue);
}
.answerLabel:hover .checkBox {
	background-color: var(--Blue);
}
.answerLabel:active .checkBox {
	background-color: #287bba;
}
.answerLabel:active .checkBox:after {
	display: block;
	left: 52%;
	top: 38%;
	width: 6px;
	height: 12px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: translate(-50%, -50%) rotate(45deg);
}
.answerLabel.isChecked:hover .checkBox {
	background-color: var(--Blue);
}
.answerLabel.isChecked:active .checkBox {
	background-color: #287bba;
}

.answerLabel input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
/* Hide CheckMark */
.checkBox:after {
	content: "";
	position: absolute;
	display: none;
}
/* Un-hide CheckMark */
.checkBox.isChecked:after {
	display: block;
	left: 52%;
	top: 38%;
	width: 6px;
	height: 12px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: translate(-50%, -50%) rotate(45deg);
}

/*! Cancel Submit Buttons ---------------------------------------------------*/
.buttonSection {
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	justify-content: flex-end;
	margin: 0 5% auto auto;
	padding: 10px 0 10px 16px;
}
/* cancel button */
.button_formatCancel {
	font-size: 15px;
	font-weight: 500;
	color: black;
	background-color: transparent;
	width: 80.4px;
	height: 36.8px;
	border-radius: 18px;
	cursor: pointer;
	border: solid 1px var(--Blue);
}
.button_formatCancel:hover {
	background-color: var(--BlueHover);
}
.button_formatCancel:active {
	background-color: var(--Blue);
	border: solid 2px var(--Blue);
}

/* submit button */
.button_formatSubmit:disabled {
	font-size: 15px;
	font-weight: 500;
	color: rgb(102, 102, 102);
	background-color: gray;
	width: 150.4px;
	height: 36.8px;
	border-radius: 18px;
	cursor: default;
	border: solid 1px gray;
	margin-left: 12px;
	transition: background-color 0.6s ease, border 0.6s ease;
}
.button_formatSubmit:disabled:hover {
	background-color: gray;
	transition: none;
}
.button_formatSubmit:disabled:active {
	background-color: gray;
	border: solid 1px gray;
	transition: none;
}
.button_formatSubmit {
	font-size: 15px;
	font-weight: 600;
	color: var(--WhiteToGray);
	background-color: var(--Blue);
	width: 150.4px;
	height: 36.8px;
	border-radius: 18px;
	cursor: pointer;
	border: solid 1px var(--Blue);
	margin-left: 12px;
	transition: background-color 0.6s ease, border 0.6s ease;
}
.button_formatSubmit:hover {
	background-color: var(--BlueHover);
	transition: none;
}
.button_formatSubmit:active {
	background-color: var(--Blue);
	border: solid 2px var(--Blue);
	transition: none;
}
