.navContainer {
	z-index: 100;
	display: flex !important;
	position: fixed;
	top: 0 !important;
	background-color: white;
	width: 100%;
	min-width: 760px;
}
.inner_container_nav {
	display: flex;
	position: absolute;
	flex-direction: row;
	/* justify-content: space-between; */
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 100%;
	padding-left: 0.75rem;
	padding-right: 1.5rem;
	margin: 0;
}
@media (max-width: 1200px) {
	.inner_container_nav {
		min-width: 450px;
	}
	.inner_container_nav .NavItem2 {
		display: none;
	}
	.inner_container_nav .NavItem3 {
		display: none;
	}
}
.NavItem1 {
	display: flex;
	margin-right: auto;
	justify-content: flex-start;
	list-style: none;
}
.NavItem2 {
	display: flex;
	margin-left: auto;
	justify-content: flex-end;
	list-style: none;
}
.NavItem3 {
	display: flex;
	margin-left: 0.75rem;
	justify-content: flex-end;
	list-style: none;
}

.NavItem4 {
	display: flex;
	margin-left: 0.75rem;
	justify-content: flex-end;
	list-style: none;
}
/* toc Button------------------------------------------------ */
.toggleLeftMenuButton {
	color: #b4b4b4;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 0.5rem;
	height: 40px;
	width: 40px;
	cursor: pointer;
	-webkit-appearance: button;
	background-color: transparent;
	background-image: none;
	text-transform: none;
	font-feature-settings: inherit;
	font-family: inherit;
	font-size: 100%;
	font-variation-settings: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
	line-height: inherit;
	margin: 0;
	border: 0px solid red;
}
.toggleLeftMenuButton:hover {
	background-color: var(--hover_menuButtonClosed_gray_to_darkGray);
}
.toggleLeftMenuButton:active {
	background-color: var(--active_menuButtonClosed_gray_to_darkGray);
}
.toggleLeftMenuButton.open:hover {
	background-color: var(--hover_menuButtonOpen_gray_to_darkGray);
}
.toggleLeftMenuButton.open:active {
	background-color: var(--active_menuButtonOpen_gray_to_darkGray);
}
.svgMenuButton {
	stroke-width: 2;
	flex-shrink: 0;
	display: block;
	height: 24px;
	fill: none;
}
.svgMenuButton path {
	fill: #9e9e9e;
}
/* Search Button  ------------------------------------------------ */
.toggleSearchMenuButton {
	color: #b4b4b4;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 0.5rem;
	height: 40px;
	width: 40px;
	cursor: pointer;
	-webkit-appearance: button;
	background-color: transparent;
	background-image: none;
	text-transform: none;
	font-feature-settings: inherit;
	font-family: inherit;
	font-size: 100%;
	font-variation-settings: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
	line-height: inherit;
	margin: 0;
	border: 0px solid red;
}
.toggleSearchMenuButton:hover {
	background-color: var(--hover_menuButtonClosed_gray_to_darkGray);
}
.toggleSearchMenuButton:active {
	background-color: var(--active_menuButtonClosed_gray_to_darkGray);
}
.toggleSearchMenuButton.open:hover {
	background-color: var(--hover_menuButtonClosed_gray_to_darkGray);
}
.toggleSearchMenuButton.open:active {
	background-color: var(--active_menuButtonClosed_gray_to_darkGray);
}
.searchIconSVG {
	fill: none;
}
.searchIconSVG path {
	stroke: #9e9e9e;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}
/* Notes Button ------------------------------------------------ */
.toggleNotesMenuButton {
	color: #b4b4b4;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 0.5rem;
	height: 40px;
	width: 40px;
	cursor: pointer;
	-webkit-appearance: button;
	background-color: transparent;
	background-image: none;
	text-transform: none;
	font-feature-settings: inherit;
	font-family: inherit;
	font-size: 100%;
	font-variation-settings: inherit;
	font-weight: inherit;
	letter-spacing: inherit;
	line-height: inherit;
	margin: 0;
	border: 0px solid red;
}
.toggleNotesMenuButton:hover {
	background-color: var(--hover_menuButtonClosed_gray_to_darkGray);
}
.toggleNotesMenuButton:active {
	background-color: var(--active_menuButtonClosed_gray_to_darkGray);
}
.toggleNotesMenuButton.open:hover {
	background-color: var(--hover_menuButtonClosed_gray_to_darkGray);
}
.toggleNotesMenuButton.open:active {
	background-color: var(--active_menuButtonClosed_gray_to_darkGray);
}
.svgNotesMenuButton {
	stroke-width: 2;
	flex-shrink: 0;
	display: block;
	height: 24px;
	fill: none;
}
.svgNotesMenuButton path {
	fill: #9e9e9e;
}

/* hamburger Button ------------------------------------------------ */
button:focus {
	/* border: 1px solid yellow !important; */
	outline: none !important;
}
.hamburgerButton {
	display: inline-grid;
	color: #b4b4b4;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	-webkit-appearance: button;
	margin: 0;
	place-content: center;
	height: 40px;
	min-width: unset;
	font-size: 14px;
	background-color: transparent;
	width: 36px;
	border: 0px solid red !important;
}
.hamburgerButton.open_NavBarMenu {
	display: none;
	visibility: hidden;
}
.hamburgerButton:hover {
	background-color: var(--hover_menuButtonClosed_gray_to_darkGray);
}
.hamburgerButton:active {
	background-color: var(--active_menuButtonClosed_gray_to_darkGray);
}
.svgHamburger {
	display: inline-block;
	user-select: none;
	vertical-align: text-bottom;
	overflow: visible;
	height: 21px;
}
.svgHamburger path {
	fill: #9e9e9e;
}
