.mainContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100vw;
	min-width: 750px;
	font-family: sans-serif !important;
	color: var(--color_primary_darkGray_to_gray);
	line-height: 1.5;
	font-size: 14px;
}
/*! Body ------------------------------------------------------*/
.bodyContainer {
	display: flex;
	position: relative;
}
/*! sideBar container ------------------------------------------------------*/
.sideBar_left_outerContainer {
	position: sticky !important;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border-right: 1px solid var(--borderColor_menu_offWhite_to_offBlack) !important;
	width: 0;
	height: calc(100vh - 1px);
	top: 0;
	background-color: var(--backgroundColor_menu_offWhite_to_offBlack);
	/* border-top: 1px solid #eeebee; */
	transition: transform 0.3s ease;
	transform: translateX(-100%);
	visibility: hidden;
}
.sideBar_left_outerContainer.open {
	transform: translateX(0);
	width: 326px;
	visibility: visible;
}
@media (max-width: 900px) {
	.sideBarOuterContainer {
		position: fixed !important;
		top: 0;
		left: 0;
	}
}
/*! tab section --------------------------------------------------------------*/
.sideBar_left_tabs_outerContainer {
	display: block;
	width: 100%;
	margin-top: 56px;
	padding-left: 35px;
	padding-right: 35px;
	color: var(--color_pageNav_menuTabs_primary_gray);
}
.sideBar_left_tabs_innerContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 40px;
}
.sideBar_left_tab_Name_onThisPage {
	font-weight: 600;
	margin-right: 14px;
	border-bottom: 2px solid var(--color_pageNav_menuTabs_primaryIsActive_borderBottom_black_to_offWhite);
	cursor: pointer;
	color: var(--color_pageNav_menuTabs_primaryIsActive_gray_black_to_offWhite) !important;
}
.sideBar_left_tab_Name_all {
	font-weight: 600;
	margin-right: 14px;
	cursor: pointer;
}
.sideBar_left_tab_Name_pinned {
	font-weight: 600;
	margin-right: 14px;
	cursor: pointer;
}
.sideBar_left_tabs_underline {
	width: 100%;
	border: 0;
	height: 1px;
	border-bottom: 1px solid var(--color_pageNav_menuTabs_borderBottom_offWhite_to_gray);
}
/*! Pagination Controls ------------------------------------------------------*/
.paginationContainer {
	display: flex;
	flex-direction: row;
	box-shadow: 1px 1px 1px 0px rgb(0 0 0 / 10%);
	border: 1px solid rgb(0 0 0 / 10%);
	background-color: var(--backgroundColor_pageNav_white_to_gray);
	border-radius: 10px;
	height: 40px;
	width: 200px;
	align-items: center;
	margin: 10px auto;
	font-size: 16px !important;
}
/* Pagination Controls 1 of 4-------------------------------------------------*/
.paginationButtonL {
	padding: 0;
	border: none;
	outline: none;
	background: none;
	color: inherit;
	font: inherit;
	text-align: inherit;
	appearance: none;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	margin: auto;
	height: 100%;
	width: 50px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.paginationButtonL:hover {
	background: var(--hover_menuButtonOpen_gray_to_darkGray);
}
.paginationButtonL:active {
	background: var(--active_menuButtonOpen_gray_to_darkGray);
}
.arrowIconL {
	height: 20px;
	fill: var(--Blue);
}
.paginationButtonL:active .arrowIconL {
	fill: #287bba;
}
.arrowIconL.isInactive {
	fill: gray;
	cursor: default;
}
/*?--------------------------------------------------------------------*/
.lineSVG_L {
	width: 2px;
	height: 25px;
	stroke: var(--color_pageNav_lineDividers_offWhite_to_black);
	stroke-width: 2;
	align-self: center;
}
/*?--------------------------------------------------------------------*/
/* Pagination Controls 2 of 4-------------------------------------------------*/
.paginationInputContainer {
	display: flex;
	height: 100%;
	width: 50px;
	align-items: center;
	justify-content: center;
}
.pageInput {
	width: 35px;
	height: 21px;
	padding: 0;
	margin: 0;
	text-align: center;
	border: 1px solid var(--color_pageNav_InputBorder_offWhite_to_black) !important;
	border-radius: 5px !important;
	display: flex;
	align-items: center;
	background-color: var(--color_pageNav_InputFIll_white_to_gray);
	font-size: 16px !important;
}
.paginationInput input:focus,
.paginationInput input:-webkit-autofill:focus {
	outline: 0px solid black !important;
	border: 2px solid var(--Blue) !important;
}
/*--------------------------------------------------------------------*/
.pageSeparator {
	margin: 0;
	display: flex;
	align-items: center;
}
/*?--------------------------------------------------------------------*/
/* Pagination Controls 3 of 4-------------------------------------------------*/
.paginationTotalPages {
	display: flex;
	height: 100%;
	width: 50px;
	align-items: center;
	justify-content: center;
}
.paginationTotalPages span {
	display: flex;
	height: 21px;
	width: 27px;
	align-items: center;
	justify-content: center;
}
/*?--------------------------------------------------------------------*/
.lineSVG_R {
	width: 2px;
	height: 25px;
	stroke: var(--color_pageNav_lineDividers_offWhite_to_black);
	stroke-width: 2;
	align-self: center;
}
/*?--------------------------------------------------------------------*/
/* Pagination Controls 4 of 4-------------------------------------------------*/
.paginationButtonR {
	padding: 0;
	border: none;
	outline: none;
	background: none;
	color: inherit;
	font: inherit;
	text-align: inherit;
	appearance: none;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	margin: auto;
	height: 100%;
	width: 50px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.paginationButtonR:hover {
	background: var(--hover_menuButtonOpen_gray_to_darkGray);
}
.paginationButtonR:active {
	background: var(--active_menuButtonOpen_gray_to_darkGray);
}
.arrowIconR {
	height: 20px;
	fill: var(--Blue);
}
.paginationButtonR:active .arrowIconR {
	fill: #287bba;
}
.arrowIconR.isInactive {
	fill: gray;
	cursor: default;
}

/*! Sidebar-Left TOC Search------------------------------------------------------*/
.sideBar_Left_TOC_SearchInputContainer {
	align-items: center;
	display: flex;
	position: relative;
	width: 100%;
	line-height: 1.15;
	font-weight: 550;
}
.sideBar_Left_TOC_SearchInputContainer::before {
	background-color: #81868d;
	content: "";
	height: 1rem;
	left: 27px;
	mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24"><path stroke="none" d="M0 0h24v24H0z"/><circle cx="10" cy="10" r="7"/><path d="m21 21-6-6"/></svg>');
	position: absolute;
	width: 1rem;
	z-index: 100;
}
.sideBar_Left_TOC_SearchInput {
	border-top: 1px solid var(--backgroundColor_SearchBarBorderTop_offWhite_to_offBlack) !important;
	border-right: 0px solid var(--borderColor_menu_offWhite_to_offBlack) !important;
	border-bottom: 0px solid var(--backgroundColor_SearchBarBorderTop_offWhite_to_offBlack) !important;
	border-left: 0px solid var(--backgroundColor_SearchBarBorderTop_offWhite_to_offBlack) !important;
	color: var(--BlackToWhite) !important;

	background-color: var(--backgroundColor_SearchBarBorderTop_offWhite_to_offBlack) !important;
	box-sizing: border-box;
	padding: 8px 8px 8px 40px;
	z-index: 10;
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
	overflow-clip-margin: 0px !important;
	overflow: clip !important;
	transition: background-color 0.35s ease-in-out !important;
	padding-left: 50px !important;
	width: 325px;
	border-radius: 0 !important;
}
.sideBar_Left_TOC_SearchInput::placeholder {
	color: #81868d !important;
}
.sideBar_Left_TOC_SearchInput:focus::placeholder {
	opacity: 0 !important;
}
.sideBar_Left_TOC_SearchInput:hover,
.sideBar_Left_TOC_SearchInput:-webkit-autofill:hover,
.sideBar_Left_TOC_SearchInput:focus,
.sideBar_Left_TOC_SearchInput:-webkit-autofill:focus,
.sideBar_Left_TOC_SearchInput.isFocused {
	border-top: 1px solid var(--backgroundColor_SearchBarBorderTop_offWhite_to_offBlack) !important;
	border-right: 0 !important;
	border-left: 0 !important;
	border-bottom: 0 !important;
	background-color: var(--backgroundColor_SearchBar_offBlack_to_offWhite) !important;
	outline: 0px solid #1a1c1e !important;
	box-shadow: 0 0 0px white !important;
	color: var(--WhiteToBlack) !important;
}

/*! toc Container------------------------------------------------------*/
.tocOuterContainer {
	width: 326px;
	display: block !important;
	overflow-y: auto !important;
	--scrollbar-width: 15px;
	height: calc(100vh - 264px);
}
.tocInnerContainer {
	margin-left: 16px;
}
.tocInnerContainer ul {
	display: block;
	margin: 0 !important;
	padding: 0 !important;
}
/*! toc Title ------------------------------------------------------*/
.tocTitleLabel {
	padding: 6px 8px 6px 12px !important;
	width: 100%;
	line-height: 1.5;
	word-break: break-word;
	color: white;
	font-weight: 400;
	text-decoration: none;
	border-radius: 0 !important;
	height: 55px !important;
	background: var(--colorGradient_readerHeaderTitle_from_blue_to_lightBlue_to_blue_to_black);
	cursor: pointer !important;
}
.tocTitleLabel:hover {
	background: var(--hover_readerHeaderTitle_lightBlue_to_blue) !important;
}
.tocTitleLabel:active {
	background: var(--Blue) !important;
}
.tocTitleLabel a {
	margin-bottom: auto;
	color: var(--color_readerSectionTitle_white_to_offWhite) !important;
}
/*! toc Parent Items ------------------------------------------------------*/
.contentContainer {
	list-style: none;
	font-size: 14px;
	padding-top: 0 !important;
}
.parentLabelOuterContainer {
	position: relative;
	display: flex;
	margin-left: 8px;
	/* margin-right: 8px; */
	background: unset;
	border: unset;
	width: calc(100% - 16px);
	text-align: unset;
	line-height: 20px;
}
.parentLabel {
	flex-grow: 1;
	word-break: break-word;
	color: var(--color_primary_darkGray_to_gray);
	cursor: pointer;
	border-radius: 7px;
	padding: 6px 8px;
	text-decoration: none;
}
.parentLabel:hover {
	background-color: var(--hover_menuItem_gray_to_darkGray);
}
.parentLabel:active {
	background-color: var(--active_menuItem_gray_to_darkGray);
}
.menuArrow {
	flex-shrink: 0;
	color: #848d97;
	margin-left: 8px;
	cursor: pointer;
	border-radius: 7px;
	padding: 6px 8px;
}
.menuArrow:hover {
	background-color: var(--hover_menuItem_gray_to_darkGray);
}
.menuArrow:active {
	background-color: var(--active_menuItem_gray_to_darkGray);
}
/*! toc Child Items ------------------------------------------------------*/
.childLabelOuterContainer.isVisible {
	padding: 0px;
	display: block !important;
}
.childLabelOuterContainer {
	padding: 0px;
	display: none !important;
}
.childLabelInnerContainer {
	position: relative;
	display: flex;
	margin-left: 8px;
	margin-right: 8px;
	border-radius: 7px;
}
.childLabelInnerContainer:before {
	content: "";
	display: none;
	margin-left: 0;
	width: 0;
}
.childLabelInnerContainer:hover {
	background-color: var(--hover_menuItem_gray_to_darkGray);
}
.childLabelInnerContainer:active {
	background-color: var(--active_menuItem_gray_to_darkGray);
}
.childLabel {
	padding: 6px 8px 6px 16px;
	color: inherit;
	font-size: 14px;
	text-decoration: none;
	flex-grow: 1;
}
/*! Handbook-------------------------------------------------------------------*/
.handbook_outerContainer {
	padding-top: 56px;
	padding-bottom: 56px;
	max-width: 1500px;
	padding-left: 5%;
	padding-right: 5%;
	margin: 0 auto;
	line-height: 1.35;
	min-height: 100%;
}
.handbook_innerContainer {
	font-size: 1rem;
	display: flex;
	min-height: 100%;
}
.page_contentContainer {
	display: flex;
	border: 1px solid #d6dade;
	border-radius: 8px;
	flex-direction: column;
	font-weight: 400;
	min-height: 850px;
}
.handbook_header_section {
	display: block;
	background: var(--colorGradient_readerHeaderTitle_from_blue_to_lightBlue_to_blue_to_black);
	margin: 0.75rem 0.75rem 0 0.75rem;
	padding: 1rem;
	margin-bottom: 50px;
	color: white;

	border-radius: 3px 3px 0 0;
	padding-top: 30px;
	padding-bottom: 60px;
	height: 181px !important;
}
.handbook_header_section p {
	font-size: 0.875rem !important;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
	color: var(--color_readerSectionTitle_white_to_offWhite);
}
.handbook_header_section h1 {
	margin-bottom: 0;
	font-size: 3rem;
	line-height: 1.15;
	margin: 0 0 1rem;
	color: var(--color_readerSectionTitle_white_to_offWhite);
}
.page_content {
	-webkit-box-flex: 1;
	flex-grow: 1;
	padding-left: 3.75rem;
	padding-right: 3.75rem;
	margin: 0 auto;
}
.page_content h2 {
	font-size: 3rem;
	font-weight: 400;
	margin-bottom: 0.5em;
	color: var(--color_readerSecondary_darkBlue_to_lightBlue);
	line-height: 1.15;
	margin: 0 0 1rem;
}
.page_content h2 strong {
	font-size: 3rem;
	font-weight: bolder;
	line-height: 1.15;
}
.page_content h3 {
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.36;
	color: var(--color_readerSecondary_darkBlue_to_lightBlue);
	margin: 0 0 1rem;
}
.page_content h4 {
	font-size: 1.5rem;
	color: #163159;
	font-weight: 400;
	line-height: 1.15;
	margin: 0 0 1rem;
}
.page_content p {
	font-size: 1.3125rem;
	line-height: 1.35;
	margin-top: 0;
	margin-bottom: 1rem;
}
a {
	color: var(--color_readerHyperLink_brightBlue_to_skyBlue);
}
.page_content p:last-of-type {
	margin-bottom: 0;
}
.page_content figure {
	margin: 0;
}
.imageDiv {
	display: table;
}
.imageDivColContainer {
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	-webkit-box-pack: justify;
	justify-content: space-between;
	padding-top: 3.75rem;
}
.imageDivCol {
	-webkit-box-flex: 0;
	flex: 0 1 33.33%;
	padding-right: 1.25rem;
}
.imageDivCol figure {
	margin: 0 !important;
}
figure img {
	box-sizing: border-box;
	height: auto;
	max-width: 100%;
	vertical-align: bottom;
}
ul {
	margin-bottom: 2rem;
	margin-left: 2rem;
	padding: 0;
}
ul li {
	font-size: 1.3125rem;
	line-height: 1.19;
	display: list-item;
	text-align: -webkit-match-parent;
}
ul li:not(:first-child) {
	padding-top: 1.875rem;
}
ul li ul {
	list-style-type: none !important;
}
ul li ul li:before {
	content: "-";
	display: inline-block;
	margin-right: 4px;
	width: 10px;
}
.page_content div figure {
	float: left;
	margin: 0.5em 1em 0.5em 0;
}
.page_content ul {
	margin-bottom: 2rem;
	margin-left: 2rem;
	font-size: 1rem;
	padding: 0;
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	unicode-bidi: isolate;
}
.page_content ul li {
	font-size: 1.3125rem;
	display: list-item;
	text-align: -webkit-match-parent;
	unicode-bidi: isolate;
}
figcaption {
	caption-side: bottom;
	display: table-caption;
	margin-bottom: 1em;
	margin-top: 0.5em;
	font-size: 0.875rem;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 1px;
	line-height: 1.4;
	white-space: nowrap;
}
strong {
	color: var(--color_readerSecondary_darkBlue_to_lightBlue);
	font-weight: bolder;
	font-size: 1.3125rem;
}
.formatLabelNote:before {
	content: "note";
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background: #ffd457;
	border-radius: 2px;
	color: #000;
	display: inline-flex;
	flex-shrink: 0;
	font-size: 0.75rem;
	font-weight: 700;
	height: 22px;
	margin-right: 10px;
	margin-top: 4px;
	padding: 0 6px;
	text-transform: uppercase;
}
