.tocContainer {
	z-index: 101;
	position: absolute;
	display: flex;
	justify-content: center;
	flex-direction: column;
	top: 180px;
	left: 15px;
	width: 14px;
	margin-bottom: auto;
	margin-right: auto;
	border-radius: 4px;
}
.tocSectionContainer {
	position: relative;
	align-self: center;
	width: 12px;
	height: 29px;
	border-left: 4.5px solid var(--BackgroundColor);
	border-right: 4.5px solid var(--BackgroundColor);
	background-color: black;
	margin: 4px;
	border-radius: 4px;
	border-top: 1px solid var(--BackgroundColor);
	border-bottom: 1px solid var(--BackgroundColor);
}
/*! NO - alt,option  */
.tocSectionContainer:hover {
	cursor: pointer;
	background-color: var(--Blue);
}
.tocSectionContainer:active {
	border-left: 5px solid var(--BackgroundColor);
	border-right: 5px solid var(--BackgroundColor);
}
.tocSectionContainer.isCurrent {
	background-color: var(--Blue);
}
.tocSectionContainer.isCurrent:hover {
	background-color: blue;
}
.tocSectionContainer.isCurrent:active {
	border-left: 5px solid var(--BackgroundColor);
	border-right: 5px solid var(--BackgroundColor);
}
