.container {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 0;
	height: 100%;
	width: 100%;
}

.mainContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100vw;
	min-width: 750px;
	font-family: sans-serif !important;
	color: var(--color_primary_darkGray_to_gray);
	line-height: 1.5;
	font-size: 14px;
	overflow-y: scroll;
}
.bodyContainer {
	display: flex;
	position: relative;
}
.handbook_outerContainer {
	width: 90%;
	min-width: 60%;
	max-width: 1830px;

	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 1150px;

	padding-top: 5vh;
	padding-bottom: 5vh;
	padding-left: 2vw;
	padding-right: 2vw;

	margin: 0 auto;

	line-height: 1.35;
	transition: width 1s ease;
}
.handbook_header_section {
	display: block;
	background: var(--colorGradient_readerHeaderTitle_from_blue_to_lightBlue_to_blue_to_black);
	min-height: 15vh;
	padding: 2vh 1vw 0 1vw;
	margin: 1vh 1vw 4vh 1vw;
	color: white;
	border-radius: 3px 3px 0 0;
	overflow: hidden;

	overflow: visible; /* Allow scaling to overflow */
	position: relative; /* Ensure proper stacking context */
	z-index: 5; /* Lower than quickNavButton */
}
.handbook_header_section h1 {
	font-size: 4vh;
	text-transform: uppercase;
	line-height: 1.15;
	margin: 0 0 0 0;
	color: var(--color_readerSectionTitle_white_to_offWhite);
}
.handbook_header_section h2 {
	font-size: 21px;
	text-transform: none;
	line-height: 1.15;
	margin: 0 0 0 0;
	color: var(--color_readerSectionTitle_white_to_offWhite);
	font-weight: 400;
	padding-top: 1vh;
}
.handbook_header_section p {
	font-size: 1.5vh;
	text-transform: uppercase;
	line-height: 1;
	margin: 0 0 0 0;
	color: var(--color_readerSectionTitle_white_to_offWhite);
}

.page_content {
	display: flex;
	flex-direction: column;
	padding-left: 2vw;
	padding-right: 2vw;
	margin-bottom: auto;
}
.page_content h2 {
	font-size: 3rem;
	font-weight: 400;
	margin-bottom: 0.5em;
	color: var(--color_readerSecondary_darkBlue_to_offWhite);
	line-height: 1.15;
	margin: 0 0 1rem;
}
.page_content h2 strong {
	font-size: 3rem;
	font-weight: bolder;
	line-height: 1.15;
}
.page_content h3 {
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.36;
	color: var(--color_readerSecondary_darkBlue_to_lightBlue);
	margin: 0;
}
.page_content h4 {
	font-size: 1.5rem;
	color: var(--color_readerSecondary_darkBlue_to_lightBlue_h4);
	font-weight: 400;
	line-height: 1.15;
	margin: 0 0 1rem;
}
.page_content p {
	font-size: 1.3125rem;
	line-height: 1.35;
	margin-top: 0;
	margin-bottom: 1rem;
}
.handbook_outerContainer a {
	color: var(--color_readerHyperLink_brightBlue_to_skyBlue);
}
.page_content p:last-of-type {
	margin-bottom: 0;
}
.page_content figure {
	margin: 0;
}
.page_content div figure {
	float: left;
	margin: 0.5em 1em 0.5em 0;
}
.page_content ul {
	margin-bottom: 2rem;
	margin-left: 2rem;
	font-size: 1rem;
	padding: 0;
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	unicode-bidi: isolate;
}
.page_content ul li {
	font-size: 1.3125rem;
	display: list-item;
	text-align: -webkit-match-parent;
	unicode-bidi: isolate;
}
/* Page 1 ------------------------------------------------------*/
.billboardContainer {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
}
.billboardContainer img {
	display: block;
	width: 100%;
	height: 100%;
	filter: blur(5px);
	object-fit: cover;
	object-position: left center;
	opacity: 0.9;
}
.topShadow {
	background-color: transparent;
	background-image: var(--BackgroundLinearGradient_Top_NavBarDemoLanding_White_to_Transparent_DarkGray_to_Transparent);
	background-position: 0 top;
	background-repeat: repeat-x;
	background-size: 100% 100%;
	top: 0;
	height: 11vw;
	opacity: 1;
	width: 100%;
	position: absolute;
	z-index: 10;
}
.leftShadow {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.6), transparent 85%);
	bottom: 0;
	left: 0;
	opacity: 1;
	position: absolute;
	right: 26.09%;
	top: 0;
	transition: opacity 0.5s;
	z-index: 8;
	filter: blur(5px);
}
.infoContainer {
	bottom: 20%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	left: 4%;
	position: absolute;
	width: 34%;
	z-index: 10;
	max-height: 1097px;
}
.featureTitle {
	margin-bottom: 1.2vw;
}
.featureTitle h1 {
	font-size: clamp(2.5rem, 10cqw, 5.5rem);
	font-style: italic;
	color: #163159;
	margin: 0;
	font-weight: 800;
	line-height: 0.95;

	text-transform: uppercase;
}
.featureDescription {
	margin: 0;
}
.featureDescription p {
	font-size: clamp(1rem, 3cqw, 1.7rem);
	font-style: normal;
	color: #fff;
	margin: 0.5vw 0 0 0;
	font-weight: 400;
	line-height: normal;

	margin-top: 0.1vw;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
}
@media (max-width: 1950px) {
	/* for smaller than 1250px */
	.infoContainer {
		width: 44%;
	}
}
@media (max-width: 1250px) {
	/* for smaller than 1250px */
	.infoContainer {
		width: 64%;
	}
}
@media (max-width: 800px) {
	/* for smaller than 1250px */
	.infoContainer {
		left: 8%;
	}
}
.buttonsContainer {
	display: flex;
	line-height: 88%;
	margin-top: 1.5vw;
	white-space: nowrap;
	position: relative;
	z-index: 10;
}
.startButton {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	font-size: 2vw;
	text-decoration: none;
	height: 50px;
	width: 180px;

	margin-top: 0 !important;
	margin-right: 12px !important;
	margin-bottom: 12px !important;
	margin-left: 0 !important;

	padding-top: 7px !important;
	padding-left: 25px !important;
	padding-right: 30px !important;
	padding-bottom: 7px !important;

	color: var(--BlackToWhite);
	background-color: var(--WhiteToBlack);
}
.moreInfoButton {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	border: 0;
	border-radius: 4px;
	cursor: pointer;
	font-size: 2vw;
	text-decoration: none;
	height: 50px;
	width: 180px;

	margin-top: 0 !important;
	margin-right: 12px !important;
	margin-bottom: 12px !important;
	margin-left: 0 !important;

	padding-top: 7px !important;
	padding-left: 25px !important;
	padding-right: 30px !important;
	padding-bottom: 7px !important;

	color: white;
	background-color: rgba(109, 109, 110, 0.7);
	opacity: 0.9;
}
.buttonsContainer svg {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90%;
	line-height: 0;
}
.buttonsContainer span {
	display: block;
	font-size: clamp(16px, 1.6vw, 20px);
	font-weight: 500;
	line-height: 1.4;
	cursor: pointer;
	margin-left: 12px;
}
/* Page 2 ------------------------------------------------------*/

/* Page 3 ------------------------------------------------------*/
.courseSelections_container {
	min-height: fit-content;
}
.courseSelections {
	display: flex;
	position: relative;
	background-color: black;
	height: 100%;
	width: 100%;
	min-width: 400px;
	border-top-left-radius: 36px;
	border-top-right-radius: 36px;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
	z-index: 2;
	min-height: fit-content;
}
.courseSelections ul {
	list-style: none;
	padding: 0px;
	min-width: 20%;
	margin: 0;
}
.courseSelections ul li {
	padding-top: 0 !important;
}
.outerContainer_Top {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	max-width: 3840px;
	margin: 0px auto 0px auto;
	padding-top: 8px;
	top: 1%;
}
.innerContainer_Top {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 7vh;
	width: 95%;
	padding-right: 0.75rem !important;
	margin: auto;
}
.innerContainer_Top li {
	list-style: none;
}
.LogoContainer {
	display: flex;
	width: 3.2rem;
	height: 3.2rem;
}
.Logo {
	display: flex;
	width: 3.589rem;
	height: 3.589rem;
	padding-bottom: 7px;
	color: var(--WhiteToGray);
}
.rowHeaderTitle {
	font-family: Montserrat;
	font-size: 2rem;
	letter-spacing: -1.3px;
	margin-left: 45px;
	font-weight: 100;
	cursor: pointer;
	margin-top: 5px;
	color: var(--WhiteToGray);
}
.rowHeaderTitle:hover {
	color: var(--Blue);
}
.rowContainer {
	box-sizing: border-box;
	background-color: var(--Black);
	width: 100%;
	height: 38vh;
	margin: auto;
	padding: 0 2%;
}
.handlePrev {
	background: hsla(0, 0%, 8%, 0.5);
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	left: -2px;
	cursor: pointer;
	bottom: 0;
	color: #fff;
	display: flex;
	justify-content: center;
	position: absolute;
	text-align: center;
	top: 0;
	width: 4%;
	z-index: 20;
}
.handleNext {
	right: 10px;
}
.indicatorIcon {
	transform-origin: 55% 50%;
	align-self: center;
	display: none;
	font-size: 2.5vw;
	height: auto;
	transition: transform 0.1s ease-out 0s;
	speak: none;
	font-family: nf-icon;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1;
	text-transform: none;
	transform: translateZ(0);
}
.sliderItem {
	width: 16.66%;
	box-sizing: border-box;
	display: inline-block;
	padding: 0 0.2vw;
	position: relative;
	vertical-align: top;
	white-space: normal;
	z-index: 100;
	flex-shrink: 0;
	flex-grow: 0;
}
@media (max-width: 1300px) {
	.sliderItem {
		width: 20%;
	}
}
@media (max-width: 1099px) {
	.sliderItem {
		width: 25%;
	}
}
@media (max-width: 900px) {
	.sliderItem {
		width: 30%;
	}
}
@media (max-width: 800px) {
	.sliderItem {
		width: 50%;
	}
}
.titleCard {
	display: block;
	position: relative;
	z-index: 1;
}
.sliderRefocus {
	display: block;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	background-color: transparent;
}
.boxartContainer {
	height: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
	padding: 28.125% 0;
	border-radius: 0.2vw;
	background-color: white;
}
.boxartImage {
	cursor: pointer;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100;
}
.overlay {
	display: flex;
	position: absolute;
	z-index: 4000;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0%;
	margin: 0;
	padding: 0;
	justify-content: center;
	align-items: center;
	font-family: Roboto;

	background-color: var(--BlurredBackground);

	backdrop-filter: blur(2px); /* Chrome, Firefox */
	-webkit-backdrop-filter: blur(2px); /* Safari */
}
.overlay p {
	font-size: 16px;
	color: black;
	background-color: var(--Blue);
	border-radius: 5px;
	padding: 0 2px;
}
