.button_format {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--WhiteToGray);
    background-color: var(--Blue);
    width: 9.4rem;
    height: 2.5rem;
    border-radius: 9px;
    cursor: pointer;
    border: solid 1px var(--Blue);
}
.button_format:hover {
    background-color: var(--BlueHover);
}
.button_format:active {
    background-color: var(--Blue);
    border: solid 2px var(--Blue);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.26);
    border-radius: 7px;
}