.blurredBackgroundContainer {
    display: flex;
    position: fixed;
    z-index: 1000;
    backdrop-filter: blur(6px);
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0%;
    margin: 0;
    padding: 0;
    background-color: rgb(175, 175, 175, 40%);
    justify-content: center;
    align-items: center;
    font-family: Roboto;
}
/* ********************************************************************* Modal */
.languageModal {
    display: flex;
    z-index: 2000;
    position: fixed;
    height: 545px;
    width: 430px;
    border-radius: 27px;
    justify-content: center;
    background-color: white;
    border: 2px solid #9da8bb;
}
/* ********************************************************************* Exit */
.exitButtonContainer {
    display: block;
    cursor: pointer;
    position: absolute;
    z-index: 1000;
    justify-content: flex-end;
    align-items: center;
    height: 40px;
    width: 40px;
    margin-left: calc(100% - 40px);
}
.exitButton {
    padding: 10.5px 13px 10.5px 13px
}
.exitButton:hover {
    background-color: #c3c3c3;
}
.exitSvg {
    width: 14px;
    height: 14px;
}
/* ********************************************************************* Modal Content */
.languageModalContentContainer {
    box-sizing: border-box;
    position: absolute;
    height: 545px;
    width: 430px;
    border-radius: 27px;
    padding: 36px 36px 36px 36px;
    background-color: white;
    overflow-y: auto; 
    color:red;
}
/* ********************************************************************* Width under 600px */
@media (max-width: 600px) {
    .languageModal{
        width: 85%;
        min-width: 400px;
    }
    .languageModalContentContainer {
        width: 85%;
        min-width: 400px;
        padding-left: calc(8VW);
        padding-right: calc(8VW);
    }
}
