/* ********************************************************************* Modal Content */
.languageModalContentContainer {
    box-sizing: border-box;
    position: absolute;
    height: 545px;
    width: 430px;
    border-radius: 27px;
    padding: 36px 36px 36px 36px;
    background-color: white;
    overflow-y: auto; 
    color:red;
}
.optionEnglish {
    display: flex;
    align-items: center;
    padding: 15px 8px;
    color: #9E9E9E;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid white;
    box-shadow: 1px 2px 1px 0px rgb(255, 255, 255);
    background-color: white;
    transform: translateY(0px);
}
.optionEnglish:hover {
    border: 1px solid #eeeeee;
    box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
    transform: translateY(0px);

}
/* click  - press down */
.optionEnglish:active {
    border: 1px solid #eeeeee;
    box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.5);
    background-color: #eeeeee;
    transform: translateY(1px);
}
/* click  - release */
.optionEnglish:focus {
    border: 1px solid #eeeeee;
    box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
    transform: translateY(0px);
}
.optionEnglish.isCheckedEnglish {
    border: 1px solid #eeeeee;
    box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
    transform: translateY(0px);
}
.optionEnglish.isCheckedEnglish:hover{
    border: 1px solid #eeeeee;
    box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
    transform: translateY(0px);

}
/* click  - press down */
.optionEnglish.isCheckedEnglish:active{
    border: 1px solid #eeeeee;
    box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.5);
    background-color: #eeeeee;
    transform: translateY(1px);
}
/* click  - release */
.optionEnglish.isCheckedSpanish:focus {
    border: 1px solid #eeeeee;
    box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.5);
    background-color: white;
    transform: translateY(0px);
}
.break{
    border: 1px solid rgb(198, 198, 198);
    margin-top: 10px;
    margin-bottom: 10px;
}
.flag {
    height: 19px; 
    width: 28px;
    margin-left: auto;
    margin-right: 16px;
}
.optionInputBox{
    height: 20px;
    width: 20px;
}

