/*! Pagination Controls ------------------------------------------------------*/
.paginationContainer {
	display: flex;
	flex-direction: row;
	box-shadow: 1px 1px 1px 0px rgb(0 0 0 / 10%);
	border: 1px solid rgb(0 0 0 / 10%);
	background-color: var(--backgroundColor_pageNav_white_to_gray);
	border-radius: 10px;
	width: 200px;
	align-items: center;
	margin: 10px auto 10px auto;
	font-size: 16px !important;
	height: 40px;
}
/* Pagination Controls 1 of 4-------------------------------------------------*/
.paginationButtonL:disabled {
	padding: 0;
	border: none;
	outline: none;
	background: none;
	color: inherit;
	font: inherit;
	text-align: inherit;
	appearance: none;
	box-sizing: border-box;
	cursor: default;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	margin: auto;
	height: 100%;
	width: 50px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	flex-grow: 1;
}
.paginationButtonL:disabled:hover {
	background: transparent;
}
.paginationButtonL:disabled:hover .arrowIconL {
	pointer-events: none;
	scale: 1;
	fill: var(--color_pageNav_arrow_white_to_gray);
	cursor: default;
}
.paginationButtonL:disabled:active {
	background: transparent;
}
.paginationButtonL {
	padding: 0;
	border: none;
	outline: none;
	background: none;
	color: inherit;
	font: inherit;
	text-align: inherit;
	appearance: none;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	margin: auto;
	height: 100%;
	width: 50px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	flex-grow: 1;
}
.paginationButtonL:hover {
	background: var(--hover_menuButtonOpen_gray_to_darkGray);
}
.paginationButtonL:hover .arrowIconL {
	fill: #287bba;
	transition: height 0.1s ease;
	scale: 1.25;
}
.paginationButtonL:active {
	background: var(--active_menuButtonOpen_gray_to_darkGray);
}
.arrowIconL {
	height: 20px;
	fill: var(--Blue);
}
.paginationButtonL:active .arrowIconL {
	fill: #287bba;
	scale: 1.25;
}
.arrowIconL.isInactive {
	pointer-events: none;
	height: 20px;
	fill: var(--color_pageNav_arrow_white_to_gray);
	cursor: default;
}

/*?--------------------------------------------------------------------*/
.lineSVG_L {
	width: 2px;
	height: 25px;
	stroke: var(--color_pageNav_lineDividers_offWhite_to_black);
	stroke-width: 2;
	align-self: center;
}
/*?--------------------------------------------------------------------*/
/* Pagination Controls 2 of 4-------------------------------------------------*/
.paginationInputContainer {
	display: flex;
	height: 100%;
	width: 50px;
	align-items: center;
	justify-content: center;
}
.pageInput {
	width: 35px;
	text-align: center;
	border: 1px solid var(--color_pageNav_InputBorder_offWhite_to_black) !important;
	border-radius: 5px !important;
	background-color: var(--color_pageNav_InputFIll_white_to_gray);
	font-size: 15.5px !important;
	margin-bottom: 2px;
}
.paginationInputContainer input:focus,
.paginationInputContainer input:-webkit-autofill:focus {
	outline: 0px solid black !important;
	border: 2px solid var(--Blue) !important;
}
/*--------------------------------------------------------------------*/
.pageSeparator {
	margin: 0;
	display: flex;
	align-items: center;
	color: var(--color_pageNav_lineDividers_offWhite_to_black);
}
/*?--------------------------------------------------------------------*/
/* Pagination Controls 3 of 4-------------------------------------------------*/
.paginationTotalPages {
	display: flex;
	height: 100%;
	width: 50px;
	align-items: center;
	justify-content: center;
}
.paginationTotalPages span {
	display: flex;
	height: 21px;
	width: 27px;
	align-items: center;
	justify-content: center;
}
/*?--------------------------------------------------------------------*/
.lineSVG_R {
	width: 2px;
	height: 25px;
	stroke: var(--color_pageNav_lineDividers_offWhite_to_black);
	stroke-width: 2;
	align-self: center;
}
/*?--------------------------------------------------------------------*/
/* Pagination Controls 4 of 4-------------------------------------------------*/
.paginationButtonR:disabled {
	padding: 0;
	border: none;
	outline: none;
	background: none;
	color: inherit;
	font: inherit;
	text-align: inherit;
	appearance: none;
	box-sizing: border-box;
	cursor: default;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	margin: auto;
	height: 100%;
	width: 50px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	flex-grow: 1;
}
.paginationButtonR:disabled:hover {
	background: transparent;
}
.paginationButtonR:disabled:hover .arrowIconR {
	pointer-events: none;
	scale: 1;
	fill: var(--color_pageNav_arrow_white_to_gray);
	cursor: default;
}
.paginationButtonR:disabled:active {
	background: transparent;
}
.paginationButtonR {
	padding: 0;
	border: none;
	outline: none;
	background: none;
	color: inherit;
	font: inherit;
	text-align: inherit;
	appearance: none;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	margin: auto;
	height: 100%;
	width: 50px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	flex-grow: 1;
}
.paginationButtonR:hover {
	background: var(--hover_menuButtonOpen_gray_to_darkGray);
}
.paginationButtonR:hover .arrowIconR {
	fill: #287bba;
	scale: 1.25;
	transition: height 0.1s ease;
}
.paginationButtonR:active {
	background: var(--active_menuButtonOpen_gray_to_darkGray);
}
.arrowIconR {
	height: 20px;
	fill: var(--Blue);
}
.paginationButtonR:active .arrowIconR {
	fill: #287bba;
	scale: 1.25;
}
.arrowIconR.isInactive {
	pointer-events: none;
	height: 20px;
	fill: var(--color_pageNav_arrow_white_to_gray);
	cursor: default;
}
/* used in the zoom GUI */
.fullScreenButton {
	padding: 0;
	border: none;
	outline: none;
	background: none;
	color: inherit;
	font: inherit;
	text-align: inherit;
	appearance: none;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	margin: auto;
	height: 100%;
	width: 50px;

	flex-grow: 1;
}
.fullScreenButton:hover {
	background: var(--hover_menuButtonOpen_gray_to_darkGray);
}
.fullScreenButton:hover .fullScreenToggleSvg {
	fill: #287bba;
	transition: height 0.1s ease;
	scale: 1.25;
}
.fullScreenButton:active {
	background: var(--active_menuButtonOpen_gray_to_darkGray);
}
.fullScreenToggleSvg {
	height: 24px;
	fill: var(--Blue);
}
.fullScreenButton:active .fullScreenToggleSvg {
	fill: #287bba;
	scale: 1.25;
}
